force-app/main/default/flows/Actualizar_Casos_de_Cuentas_Ocultas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>OwnerCAU</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0051t000004RiXdAAK</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Segun_MotivoPerdida</name>
        <label>Segun MotivoPerdida</label>
        <locationX>462</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Tiene_Notas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si tiene</defaultConnectorLabel>
        <rules>
            <name>No_tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Oportunidades.Motivo_Perdida_Descripcion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Oportunidad_Perdida_y_Motivo</targetReference>
            </connector>
            <label>No tiene</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segun_TIpo_de_Etapa</name>
        <label>Segun TIpo de Etapa</label>
        <locationX>759</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Oportunidad_Resto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resto</defaultConnectorLabel>
        <rules>
            <name>Cerrada_perdida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Oportunidades.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada perdida</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Segun_MotivoPerdida</targetReference>
            </connector>
            <label>Cerrada perdida</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Notas</name>
        <label>Tiene Notas</label>
        <locationX>660</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Oportunidad_Perdida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si Tiene</defaultConnectorLabel>
        <rules>
            <name>No_Tiene_Notas</name>
            <conditionLogic>6 and (1 OR 2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Oportunidades.Motivo_Perdida_Descripcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No viable ASESOR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Oportunidades.Motivo_Perdida_Descripcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No viable SSJJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Oportunidades.Motivo_Perdida_Descripcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No interesa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Oportunidades.Motivo_Perdida_Descripcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oportunidad duplicada/errónea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Oportunidades.Motivo_Perdida_Descripcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No localizado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Oportunidades.Motivo_Perdida_Notas__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Oportunidad_Perdida_y_Notas</targetReference>
            </connector>
            <label>No Tiene</label>
        </rules>
    </decisions>
    <description>Actualizar Cuentas Ocultas : Casos (tipo Cuenta y Owner), Expedientes (Owner) y Oportunidades (Owner)
Añadir campos Obligatorios para Oportunidades Cerradas Perdidas
Excluimos a la cuenta de RIcardo (porque excede el num de SQL&apos;s), podriamos ponerle contador</description>
    <environments>Default</environments>
    <interviewLabel>Actualizar Casos de Cuentas Ocultas (tipo Cuenta y Owner) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Cuentas Ocultas : Casos, Expedientes y Oportunidades</label>
    <loops>
        <name>Loop_Casos</name>
        <label>Loop Casos</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Casos_de_la_Cuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualiza_Caso</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Expedientes_de_Cuenta</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Expedientes</name>
        <label>Loop Expedientes</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <collectionReference>Expedientes_de_Cuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualiza_Expediente</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Oportunidades_de_Cuenta</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Oportunidades</name>
        <label>Loop Oportunidades</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <collectionReference>Oportunidades_de_Cuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segun_TIpo_de_Etapa</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Casos_de_la_Cuenta</name>
        <label>Casos de la Cuenta</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Casos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OwnerCAU</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0011t000011DssRAAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Tipo_Cuenta__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Expedientes_de_Cuenta</name>
        <label>Expedientes de Cuenta</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Expedientes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OwnerCAU</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Oportunidades_de_Cuenta</name>
        <label>Oportunidades de Cuenta</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Oportunidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OwnerCAU</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Motivo_Perdida_Descripcion__c</queriedFields>
        <queriedFields>Motivo_Perdida_Notas__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Caso</name>
        <label>Actualiza Caso</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Loop_Casos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Casos.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051t000004RiXdAAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Cuenta__c</field>
            <value>
                <stringValue>Oculto</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Expediente</name>
        <label>Actualiza Expediente</label>
        <locationX>264</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Loop_Expedientes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Expedientes.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051t000004RiXdAAK</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Oportunidad_Perdida</name>
        <label>Actualiza Oportunidad Perdida</label>
        <locationX>792</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Loop_Oportunidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Oportunidades.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051t000004RiXdAAK</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Oportunidad_Perdida_y_Motivo</name>
        <label>Actualiza Oportunidad Perdida y Motivo</label>
        <locationX>264</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Loop_Oportunidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Oportunidades.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Motivo_Perdida_Descripcion__c</field>
            <value>
                <stringValue>Sin documentación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051t000004RiXdAAK</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Oportunidad_Perdida_y_Notas</name>
        <label>Actualiza Oportunidad Perdida y Notas</label>
        <locationX>528</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Loop_Oportunidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Oportunidades.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Motivo_Perdida_Notas__c</field>
            <value>
                <stringValue>Otros</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051t000004RiXdAAK</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Oportunidad_Resto</name>
        <label>Actualiza Oportunidad Resto</label>
        <locationX>1056</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Loop_Oportunidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Oportunidades.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerCAU</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Casos_de_la_Cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oculto__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
