force-app/main/default/flows/ActualizacionContacto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ActivarFormulaError</name>
        <label>Activar formula error</label>
        <locationX>607</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>bError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RegistroNuevosDatos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarNuevoDNI</name>
        <label>AsignarNuevoDNI</label>
        <locationX>253</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>dniCargado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentoIdentidad</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ErrorFlujo</name>
        <label>ErrorFlujo</label>
        <locationX>650</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>errorUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorDNIQuest</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>TipoDoc_CIF</name>
        <choiceText>CIF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CIF</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_NIE</name>
        <choiceText>NIE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NIE</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_NIF</name>
        <choiceText>NIF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NIF</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_Pasa</name>
        <choiceText>Pasaporte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pasaporte</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CumplimentadoDNI</name>
        <label>CumplimentadoDNI</label>
        <locationX>472</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>RegistroNuevosDatos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>documentoCuenta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos que el error es de DNI</description>
        <name>ErrorDNIQuest</name>
        <label>ErrorDNI?</label>
        <locationX>701</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>ErrorGenerico</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiDNI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>errorUpdate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>El DNI/CIF aportado no es correcto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>errorUpdate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>El DNI/CIF no puede estar vacío</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>errorUpdate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ha ocurrido un error al realizar la validación. Inténtelo más tarde.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActivarFormulaError</targetReference>
            </connector>
            <label>SiDNI</label>
        </rules>
    </decisions>
    <description>Flujo que se utiliza para actualizar la información del contacto
   - Se añade imagen de paso</description>
    <formulas>
        <name>showError</name>
        <dataType>String</dataType>
        <expression>IF({!bError} == true, {!txtErrorDNI}, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Actualización Contacto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualización Contacto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Obtenemos los datos del contacto</description>
        <name>CuentaRelacionada</name>
        <label>Cuenta Relacionada</label>
        <locationX>220</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CumplimentadoDNI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>documentoCuenta</assignToReference>
            <field>DocumentoIdentidad__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tipoDocumentoCuenta</assignToReference>
            <field>TipoDocumento__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ActualizarCuenta</name>
        <label>ActualizarCuenta</label>
        <locationX>478</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>AsignarNuevoDNI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorFlujo</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DocumentoIdentidad__c</field>
            <value>
                <elementReference>DocumentoIdentidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoDocumento__c</field>
            <value>
                <elementReference>TipoDocumento</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>ErrorGenerico</name>
        <label>Error Genérico</label>
        <locationX>903</locationX>
        <locationY>385</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>showErrGen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!txtErrorGen}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RegistroNuevosDatos</name>
        <label>RegistroNuevosDatos</label>
        <locationX>478</locationX>
        <locationY>263</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActualizarCuenta</targetReference>
        </connector>
        <fields>
            <name>FlujoSegundopaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgPrimerpaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>nuevosDatos</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 2, 2);&quot;&gt;{!showError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TipoDocumento</name>
            <choiceReferences>TipoDoc_CIF</choiceReferences>
            <choiceReferences>TipoDoc_NIE</choiceReferences>
            <choiceReferences>TipoDoc_NIF</choiceReferences>
            <choiceReferences>TipoDoc_Pasa</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TipoDoc_NIF</defaultSelectedChoiceReference>
            <fieldText>Tipo de Documento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DocumentoIdentidad</name>
            <dataType>String</dataType>
            <fieldText>Documento de Identidad</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>CuentaRelacionada</startElementReference>
    <status>Active</status>
    <variables>
        <name>bError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>dniCargado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>documentoCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id de la cuenta la cual actualizaremos</description>
        <name>IdCuentaRelacionada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StaticImgPrimerpaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FlujoPrimerPaso</stringValue>
        </value>
    </variables>
    <variables>
        <name>tipoDocumentoCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtErrorDNI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>El DNI/CIF aportado no es correcto</stringValue>
        </value>
    </variables>
    <variables>
        <name>txtErrorGen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ha ocurrido un error inesperado!! Vuelva a intentarlo más tarde. Perdón por las molestias</stringValue>
        </value>
    </variables>
</Flow>
