force-app/main/default/flows/ActualizarNombreDocumentoAdjunto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ExisteFalse</name>
        <label>NoExiste</label>
        <locationX>205</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>Existe</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IdsRegistros</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExisteTrue</name>
        <label>Existe</label>
        <locationX>531</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>Existe</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarNombreArchivo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existeid</name>
        <label>Existe?</label>
        <locationX>356</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>ExisteFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdRegistro</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IdRegistro</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExisteTrue</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <interviewLabel>Actualizar Nombre Documento Adjunto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Nombre Documento Adjunto</label>
    <loops>
        <name>IdsRegistros</name>
        <label>IdsRegistros</label>
        <locationX>139</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>IdRegistro</assignNextValueToReference>
        <collectionReference>ListIdRegistro</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Existeid</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>ActualizarNombreArchivo</name>
        <label>Actualizar Nombre Archivo</label>
        <locationX>675</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IdsRegistros</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRegistro</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>NombreRegistro</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocument</object>
    </recordUpdates>
    <startElementReference>IdsRegistros</startElementReference>
    <status>Active</status>
    <variables>
        <name>Existe</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdRegistro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListIdRegistro</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreRegistro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
