force-app/main/default/flows/ATC_Flujo_que_Notifica_a_Expedientes_antiguos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Tarea_si_6_meses_ultim_modif</name>
        <label>Tarea si +6 meses ultim modif</label>
        <locationX>94</locationX>
        <locationY>1031</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Rellenar_Tarea</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UsuarioAdmin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>AsuntoTareaUsuarioComunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>DescripcionTareaUsuarioComunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FormulaHoy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>ContactoId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsVisibleInSelfService</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Datos_de_Expediente</name>
        <label>Datos de Expediente</label>
        <locationX>94</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ExpedienteID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunidadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Que_tipo_de_Cliente_es</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Es_antiguo_para_Notificar</name>
        <label>Es antiguo para Notificar?</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SELLADOS EN JUZGADO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Num_Notificaciones__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Num_Notificaciones__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaNotificacionCambioEstado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaNotificacionCambioEstado__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FormulaHace6meses</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuenta_de_Expediente</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_tipo_de_Cliente_es</name>
        <label>Que tipo de Cliente es?</label>
        <locationX>94</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>ClientePersona</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cuenta_de_Expediente.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuenta_de_Expediente.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cuenta personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tarea_si_6_meses_ultim_modif</targetReference>
            </connector>
            <label>ClientePersona</label>
        </rules>
        <rules>
            <name>ClienteEmpresa</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cuenta_de_Expediente.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonaJuridica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Persona Jurídica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactosEmpresa</targetReference>
            </connector>
            <label>ClienteEmpresa</label>
        </rules>
    </decisions>
    <description>Este Flujo crea Tarea y Notificacion para los expedientes muy antiguos que requieren Notificación (exp antiguos que se les rellenó fechacambioestado)</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaHace6meses</name>
        <dataType>Date</dataType>
        <expression>now() + 180</expression>
    </formulas>
    <formulas>
        <name>FormulaHoy</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>UnaNotificacionMas</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Num_Notificaciones__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ATC - Flujo que Notifica a Expedientes antiguos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ATC - Flujo que Notifica a Expedientes antiguos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ContactosEmpresa</name>
        <label>ContactosEmpresa</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tarea_si_6_meses_ultim_modif</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RepresentanteLegal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>EmailContactoCliente</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreContacto</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactoId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Cuenta_de_Expediente</name>
        <label>Cuenta de Expediente</label>
        <locationX>94</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Datos_de_Expediente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Guarda la fecha de Envio de Notificacion</description>
        <name>Rellenar_Expediente</name>
        <label>Rellenar Expediente</label>
        <locationX>94</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>FechaNotificacionCambioEstado__c</field>
            <value>
                <elementReference>FormulaHoy</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Guarda la Oportunidad y Completa la Tarea</description>
        <name>Rellenar_Tarea</name>
        <label>Rellenar Tarea</label>
        <locationX>94</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Rellenar_Expediente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AsuntoTareaUsuarioComunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OportunidadRelacionada__c</field>
            <value>
                <elementReference>OportunidadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Es_antiguo_para_Notificar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Num_Notificaciones__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>CuerpoCorreo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://arriagaasociados--partial.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0685E000003H4JZ?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hola &lt;strong&gt;{!NombreContacto}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Te informamos que seguimos a la espera de la admisión a trámite de tu demanda &lt;strong&gt;relacionada al expediente número {!$Record.IdExpediente__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Los tiempos del juzgado no dependen de nosotros&lt;/strong&gt;, pero en cuanto tengamos novedades, te informaremos.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Gracias por confiar en nosotros.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DescripcionTareaUsuarioComunidad</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hola {!NombreContacto}, &lt;/p&gt;&lt;p&gt;Te informamos que seguimos a la espera de la admisión a trámite de tu demanda relacionada al expediente número {!$Record.IdExpediente__c}. Los tiempos del juzgado no dependen de nosotros, pero en cuanto tengamos novedades, te informaremos.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AsuntoCorreo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Retraso en la admisión a trámite en el Juzgado</stringValue>
        </value>
    </variables>
    <variables>
        <name>AsuntoTareaUsuarioComunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Retraso en la admisión a trámite en el Juzgado.</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CuentaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email2ContactoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailContactoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpedienteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaCambioEstadodelExp</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.FechaCambioEstado__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>NombreContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumerodeNotificaciones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Num_Notificaciones__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OportunidadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsuarioAdmin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0051t000003IpmEAAS</stringValue>
        </value>
    </variables>
</Flow>
