force-app/main/default/flows/ATC_Comunicaciones_a_Cliente_del_Portal_Exp_Sellados_en_Juzgado_Sin_Actividad_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Tarea_si_6_meses_ultim_modif</name>
        <label>Tarea si +6 meses ultim modif</label>
        <locationX>314</locationX>
        <locationY>1092</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Rellenar_Oportunidad</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UsuarioAdmin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>AsuntoTareaUsuarioComunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>DescripcionTareaUsuarioComunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FormulaHoy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>ContactoId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsVisibleInSelfService</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Tarea_si_6_meses_ultim_modif_SIN_OPOR</name>
        <label>Tarea si +6 meses ultim modif</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Rellenar_Oportunidad</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UsuarioAdmin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>AsuntoTareaUsuarioComunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>DescripcionTareaUsuarioComunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FormulaHoy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>ContactoId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsVisibleInSelfService</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Asignaciones</name>
        <label>Asignaciones</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>ExpedienteID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunidadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NombreContacto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_Cliente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar2</name>
        <label>Contar</label>
        <locationX>138</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>ContadorSQL</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tiene_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar3</name>
        <label>Contar</label>
        <locationX>182</locationX>
        <locationY>1428</locationY>
        <assignmentItems>
            <assignToReference>ContadorSQL</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContadorDML</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marcar_Expediente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar4</name>
        <label>Contar</label>
        <locationX>182</locationX>
        <locationY>1668</locationY>
        <assignmentItems>
            <assignToReference>ContadorDML</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Condiciones_para_procesar_el_Expe</name>
        <label>Condiciones para procesar el Expe</label>
        <locationX>424</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>NoCumple</defaultConnectorLabel>
        <rules>
            <name>Cumple</name>
            <conditionLogic>(1 AND 4 AND (2 OR 3) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FechaCambioEstado__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>FormulaHace6meses</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaNotificacionCambioEstado__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>FormulaHace6meses</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaNotificacionCambioEstado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Num_Notificaciones__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignaciones</targetReference>
            </connector>
            <label>Cumple</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Oportunidad</name>
        <label>Tiene Oportunidad</label>
        <locationX>182</locationX>
        <locationY>972</locationY>
        <defaultConnector>
            <targetReference>Tarea_si_6_meses_ultim_modif</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>NoTieneOport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oportunidad__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tarea_si_6_meses_ultim_modif_SIN_OPOR</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Cliente</name>
        <label>Tipo Cliente</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>ClientePersona</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cuenta personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_Oportunidad</targetReference>
            </connector>
            <label>ClientePersona</label>
        </rules>
        <rules>
            <name>ClienteEmpresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Persona Jurídica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactosEmpresa</targetReference>
            </connector>
            <label>ClienteEmpresa</label>
        </rules>
    </decisions>
    <description>Flujo que crea una Tarea en el cliente del expediente con en estado determinado cada 6 meses
La propia Tarea asignada envía Notificación a la Comunidad (aplicativo propio de Arriaga)
Las Tareas creadas se Completan y recogen la Oportunidad y el Expediente
Programado a las 9:00 para los exped. &apos;Sellados en Juzgado&apos;</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaHace6meses</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 180</expression>
    </formulas>
    <formulas>
        <name>FormulaHoy</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>ATC - Comunicaciones a Cliente del Portal Exp Sellados en Juzgado Sin Actividad V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ATC - Comunicaciones a Cliente del Portal Exp Sellados en Juzgado Sin Actividad V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ContactosEmpresa</name>
        <label>ContactosEmpresa</label>
        <locationX>138</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RepresentanteLegal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>EmailContactoCliente</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreContacto</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactoId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonaContactoCuenta</assignToReference>
            <field>IndividualId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Marcar_Expediente</name>
        <label>Marcar Expediente</label>
        <locationX>182</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>Contar4</targetReference>
        </connector>
        <inputAssignments>
            <field>FechaNotificacionCambioEstado__c</field>
            <value>
                <elementReference>FormulaHoy</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Rellenar_Oportunidad</name>
        <label>Rellenar Oportunidad</label>
        <locationX>182</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Contar3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AsuntoTareaUsuarioComunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OportunidadRelacionada__c</field>
            <value>
                <elementReference>OportunidadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>298</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Condiciones_para_procesar_el_Expe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SELLADOS EN JUZGADO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Num_Notificaciones__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-26</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>CuerpoCorreoUsuarioComunidad</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://arriagaasociados--partial.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0685E000003H4JZ?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hola &lt;strong&gt;{!NombreContacto}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Te informamos que seguimos a la espera de la admisión a trámite de tu demanda &lt;strong&gt;relacionada al expediente número &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.IdExpediente__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Los tiempos del juzgado no dependen de nosotros&lt;/strong&gt;, pero en cuanto tengamos novedades, te informaremos.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Gracias por confiar en nosotros.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DescripcionTareaUsuarioComunidad</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hola {!NombreContacto}, 
Te informamos que seguimos a la espera de la admisión a trámite de tu demanda relacionada al expediente número {!$Record.IdExpediente__c}. Los tiempos del juzgado no dependen de nosotros, pero en cuanto tengamos novedades, te informaremos.</text>
    </textTemplates>
    <variables>
        <description>Retraso en la admisión a trámite en el Juzgado.</description>
        <name>AsuntoTareaUsuarioComunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Retraso en la admisión a trámite en el Juzgado.</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContadorDML</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContadorSQL</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CuentaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email2ContactoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailContactoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpedienteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OportunidadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que guarda el usuario de la Comunidad del Cliente del Expediente para poderle mandar la Notificación</description>
        <name>Owners</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonaContactoCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsuarioAdmin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0051t000003IpmEAAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>UsuarioContactoCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
