force-app/main/default/flows/ATC_Comunicaciones_a_Cliente_segun_Estados_Expediente_V3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alerta_de_Correo_a_Cliente_Admisi_n_a_Tr_mite_Judicial</name>
        <label>Alerta de Correo a Cliente - Admisión a Trámite(Judicial)</label>
        <locationX>842</locationX>
        <locationY>2735</locationY>
        <actionName>Contract.Notificaci_n_Cliente_Estado_Expediente_Judicial</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Tarea_por_Cambio_de_Estado_a_Judicial</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Notificaci_n_Cliente_Estado_Expediente_Judicial</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Alerta_de_Correo_a_Cliente_Contrataci_n_Terminada</name>
        <label>Alerta de Correo a Cliente - Contratación Terminada</label>
        <locationX>50</locationX>
        <locationY>2735</locationY>
        <actionName>Contract.Notificaci_n_Cliente_Estado_Expediente_Contrataci_n_Terminada</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Tarea_por_Cambio_de_Estado_a_Contratacion_Terminada</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Notificaci_n_Cliente_Estado_Expediente_Contrataci_n_Terminada</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Alerta_de_Correo_a_Cliente_Demanda_Presentada</name>
        <label>Alerta de Correo a Cliente - Demanda Presentada</label>
        <locationX>578</locationX>
        <locationY>2735</locationY>
        <actionName>Contract.Notificaci_n_Cliente_Estado_Expediente_Demanda_Entregada</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Tarea_por_Cambio_de_Estado_a_Demanda_Entregada</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Notificaci_n_Cliente_Estado_Expediente_Demanda_Entregada</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Alerta_de_Correo_a_Cliente_Redaccion_Terminada</name>
        <label>Alerta de Correo a Cliente - Redaccion Terminada</label>
        <locationX>314</locationX>
        <locationY>2735</locationY>
        <actionName>Contract.Notificaci_n_Cliente_Estado_Expediente_Redaci_n_Terminada</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Tarea_por_Cambio_de_Estado_a_Redaccion_Terminada</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Notificaci_n_Cliente_Estado_Expediente_Redaci_n_Terminada</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Alerta_de_Correo_a_Cliente_Sent_Firme_Sin_Apelaci_n</name>
        <label>Alerta de Correo a Cliente - Sent. Firme Sin Apelación</label>
        <locationX>1106</locationX>
        <locationY>2735</locationY>
        <actionName>Contract.Notificaci_n_Cliente_Estado_Expediente_Sent_Firme_Sin_Aplelacion</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Tarea_por_Cambio_de_Estado_Sent_Firme_Sin_Aplelacion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Notificaci_n_Cliente_Estado_Expediente_Sent_Firme_Sin_Aplelacion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Correo_de_Error_a_Propietario_Cuenta</name>
        <label>Correo de Error a Propietario Cuenta</label>
        <locationX>1452</locationX>
        <locationY>1871</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error Contactos sin Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PlantillaMailErroraPropietario</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Cliente_de_Expediente.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@arriagaasociados.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Correo_de_Error_a_Propietario_Exp</name>
        <label>Correo de Error a Propietario Exp</label>
        <locationX>1188</locationX>
        <locationY>1751</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error Contactos sin Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PlantillaMailErroraPropietario</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@arriagaasociados.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Tarea por Cambio de Estado a ContratacionTerminada</description>
        <name>Tarea_por_Cambio_de_Estado_a_Contratacion_Terminada</name>
        <label>Tarea por Cambio de Estado a Contratacion Terminada</label>
        <locationX>50</locationX>
        <locationY>2855</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Rellena_Oportunidad_en_Tarea</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Usuario_Admin.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>AsuntoTarea</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FormulaHoy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>ContactoId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsVisibleInSelfService</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Tarea por Cambio de Estado a Demanda Entregada</description>
        <name>Tarea_por_Cambio_de_Estado_a_Demanda_Entregada</name>
        <label>Tarea por Cambio de Estado a Demanda Entregada</label>
        <locationX>578</locationX>
        <locationY>2855</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Rellena_Oportunidad_en_Tarea</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Usuario_Admin.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>AsuntoTarea</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FormulaHoy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>ContactoId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsVisibleInSelfService</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Tarea por Cambio de Estado a Judicial</description>
        <name>Tarea_por_Cambio_de_Estado_a_Judicial</name>
        <label>Tarea por Cambio de Estado a Judicial</label>
        <locationX>842</locationX>
        <locationY>2855</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Rellena_Oportunidad_en_Tarea</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Usuario_Admin.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>AsuntoTarea</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FormulaHoy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>ContactoId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsVisibleInSelfService</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Tarea por Cambio de Estado a Redaccion Terminada</description>
        <name>Tarea_por_Cambio_de_Estado_a_Redaccion_Terminada</name>
        <label>Tarea por Cambio de Estado a Redaccion Terminada</label>
        <locationX>314</locationX>
        <locationY>2855</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Rellena_Oportunidad_en_Tarea</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Usuario_Admin.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>AsuntoTarea</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FormulaHoy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>ContactoId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsVisibleInSelfService</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Tarea por Cambio de Estado Finalizacion Encargo</description>
        <name>Tarea_por_Cambio_de_Estado_Finalizacion_Encargo</name>
        <label>Tarea por Cambio de Estado Finalizacion Encargo</label>
        <locationX>1370</locationX>
        <locationY>2735</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Rellena_Oportunidad_en_Tarea</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Usuario_Admin.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>AsuntoTarea</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FormulaHoy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>ContactoId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsVisibleInSelfService</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Tarea por Cambio de Estado Sent. Firme Sin Aplelacion</description>
        <name>Tarea_por_Cambio_de_Estado_Sent_Firme_Sin_Aplelacion</name>
        <label>Tarea por Cambio de Estado Sent. Firme Sin Aplelacion</label>
        <locationX>1106</locationX>
        <locationY>2855</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Rellena_Oportunidad_en_Tarea</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Usuario_Admin.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>AsuntoTarea</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FormulaHoy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>ContactoId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsVisibleInSelfService</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Asignaciones</name>
        <label>Asignaciones</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ExpedienteID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonaPropietarioExpId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunidadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDEXPEDIENTE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_Cliente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Definir_Asunto_Tarea_2</name>
        <label>Definir Asunto Tarea 2</label>
        <locationX>314</locationX>
        <locationY>2615</locationY>
        <assignmentItems>
            <assignToReference>AsuntoTarea</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comunicación de la finalización en la redacción de la demanda</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alerta_de_Correo_a_Cliente_Redaccion_Terminada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Definir_Asunto_Tarea_3</name>
        <label>Definir Asunto Tarea 3</label>
        <locationX>578</locationX>
        <locationY>2615</locationY>
        <assignmentItems>
            <assignToReference>AsuntoTarea</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comunicación de la entrega de la demanda</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alerta_de_Correo_a_Cliente_Demanda_Presentada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Definir_Asunto_Tarea_4</name>
        <label>Definir Asunto Tarea 4</label>
        <locationX>50</locationX>
        <locationY>2615</locationY>
        <assignmentItems>
            <assignToReference>AsuntoTarea</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comunicación de contratación terminada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alerta_de_Correo_a_Cliente_Contrataci_n_Terminada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Definir_Asunto_Tarea_5</name>
        <label>Definir Asunto Tarea 5</label>
        <locationX>842</locationX>
        <locationY>2615</locationY>
        <assignmentItems>
            <assignToReference>AsuntoTarea</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comunicación Decreto de admisión a trámite</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alerta_de_Correo_a_Cliente_Admisi_n_a_Tr_mite_Judicial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Definir_Asunto_Tarea_6</name>
        <label>Definir Asunto Tarea 6</label>
        <locationX>1106</locationX>
        <locationY>2615</locationY>
        <assignmentItems>
            <assignToReference>AsuntoTarea</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comunicación firmeza sentencia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alerta_de_Correo_a_Cliente_Sent_Firme_Sin_Apelaci_n</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Definir_Asunto_Tarea_7</name>
        <label>INACTIVO Definir Asunto Tarea 7</label>
        <locationX>1370</locationX>
        <locationY>2615</locationY>
        <assignmentItems>
            <assignToReference>AsuntoTarea</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comunicación finalización encargo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tarea_por_Cambio_de_Estado_Finalizacion_Encargo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Definir_Asunto_Tarea_Test</name>
        <label>INACTIVO Definir Asunto Tarea Test</label>
        <locationX>1634</locationX>
        <locationY>2615</locationY>
        <assignmentItems>
            <assignToReference>AsuntoTarea</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comunicación test</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Esta_el_usuario_Comunidad_Activo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Esta_el_usuario_Comunidad_Activo</name>
        <label>Esta el usuario Comunidad Activo?</label>
        <locationX>974</locationX>
        <locationY>3191</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsuarioComunidad.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marca_Cuenta</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Según el Estado del expediente, creara una tarea Personalizada</description>
        <name>Segun_el_Estado</name>
        <label>Segun el Estado</label>
        <locationX>974</locationX>
        <locationY>2495</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>ContratacionTerminada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailContactoCliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.PagoConfirmado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PagoConfirmado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpedientePrincipal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CorreoElectronicoContacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailContactoCliente</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Definir_Asunto_Tarea_4</targetReference>
            </connector>
            <label>ContratacionTerminada</label>
        </rules>
        <rules>
            <name>RedaccionTerminada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REDACCIÓN TERMINADA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Definir_Asunto_Tarea_2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>RedaccionTerminada</label>
        </rules>
        <rules>
            <name>DemandaPresentada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EstadoExpedienteComunidad__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DEMANDA PRESENTADA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Definir_Asunto_Tarea_3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>DemandaPresentada</label>
        </rules>
        <rules>
            <name>AdmisionTramite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JUDICIAL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SELLADOS EN JUZGADO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Definir_Asunto_Tarea_5</targetReference>
            </connector>
            <label>AdmisionTramite</label>
        </rules>
        <rules>
            <name>FirmezaSentencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ST NO FIRME</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ST FIRMES SIN APELACIÓN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Definir_Asunto_Tarea_6</targetReference>
            </connector>
            <label>FirmezaSentencia</label>
        </rules>
        <rules>
            <name>FinalizacionEncargo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FINALIZACIÓN ENCARGO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Definir_Asunto_Tarea_7</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>FinalizacionEncargo</label>
        </rules>
        <rules>
            <name>NoViable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No viable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Definir_Asunto_Tarea_Test</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>NoViable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_Correo_del_Contacto_del_Expediente_Vacio</name>
        <label>Si Correo del Contacto del Expediente Vacio</label>
        <locationX>974</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Si_Correo_en_Expediente_Vacio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>Si_0</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>EmailContactoCliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailContactoCliente</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CorreoElectronicoContacto__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailContactoCliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guarda_Correo_de_Cuenta_en_Exp</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_Correo_en_Expediente_Vacio</name>
        <label>Si Correo en Expediente Vacio</label>
        <locationX>1199</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Si_Propietario_Expediente_es_INACTIVO_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>Si_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CorreoElectronicoContacto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Segun_el_Estado</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_Propietario_Cuenta_es_INACTIVO_0</name>
        <label>Si Propietario Cuenta es INACTIVO</label>
        <locationX>1584</locationX>
        <locationY>1751</locationY>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsuarioPropietario_Cuenta.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UsuarioPropietario_Cuenta.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Administrador del sistema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correo_de_Error_a_Propietario_Cuenta</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_Propietario_Expediente_es_INACTIVO_0</name>
        <label>Si Propietario Expediente es INACTIVO</label>
        <locationX>1386</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Si_Propietario_Cuenta_es_INACTIVO_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsuarioPropietario_Expediente.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UsuarioPropietario_Expediente.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Administrador del sistema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correo_de_Error_a_Propietario_Exp</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Cliente</name>
        <label>Tipo Cliente</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Persona</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cliente_de_Expediente.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cliente_de_Expediente.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactoPersona</targetReference>
            </connector>
            <label>Persona</label>
        </rules>
        <rules>
            <name>Empresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente_de_Expediente.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonaJuridica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactosEmpresa</targetReference>
            </connector>
            <label>Empresa</label>
        </rules>
    </decisions>
    <description>Comunicaciones a Cliente según Estados Expediente modificado para varios estados del expediente
Crea también tarea en el cliente del expediente (Completada y añade la Oportunidad)
Se marca la Cuenta para Activar Usuario Comunidad
Descarte de propietario con perfil &apos;Administrador del sistema&apos; en los Mails de Aviso de Error
Si Mail Cuneta vacío no manda notificación</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaHace6meses</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 180</expression>
    </formulas>
    <formulas>
        <name>FormulaHoy</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>ATC - Comunicaciones a Cliente segun Estados Expediente V3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ATC - Comunicaciones a Cliente segun Estados Expediente V3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Cliente_de_Expediente</name>
        <label>Cliente de Expediente</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignaciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ContactoPersona</name>
        <label>ContactoPersona</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UsuarioComunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>EmailContactoCliente</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreContacto</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactoId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonaContactoCuenta</assignToReference>
            <field>IndividualId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonaPropietarioCuentaId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContactosEmpresa</name>
        <label>ContactosEmpresa</label>
        <locationX>974</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UsuarioComunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RepresentanteLegal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>EmailContactoCliente</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreContacto</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactoId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonaContactoCuenta</assignToReference>
            <field>IndividualId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonaPropietarioCuentaId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Usuario_Admin</name>
        <label>Usuario Admin</label>
        <locationX>974</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Si_Correo_del_Contacto_del_Expediente_Vacio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsuarioAdminIntegracionArriaga</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UsuarioComunidad</name>
        <label>UsuarioComunidad</label>
        <locationX>974</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UsuarioPropietario_Expediente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UsuarioPropietario_Cuenta</name>
        <label>UsuarioPropietario Cuenta</label>
        <locationX>974</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usuario_Admin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cliente_de_Expediente.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UsuarioPropietario_Expediente</name>
        <label>UsuarioPropietario Expediente</label>
        <locationX>974</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UsuarioPropietario_Cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Guarda_Correo_de_Cuenta_en_Exp</name>
        <label>Guarda Correo de Cuenta en Exp</label>
        <locationX>748</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Segun_el_Estado</targetReference>
        </connector>
        <inputAssignments>
            <field>CorreoElectronicoContacto__c</field>
            <value>
                <elementReference>EmailContactoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Marca_Cuenta</name>
        <label>Marca Cuenta</label>
        <locationX>842</locationX>
        <locationY>3311</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CuentaId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UsuarioPortal_Activo_Ult_Modif__c</field>
            <value>
                <elementReference>FormulaHoy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsuarioPortal_Activo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Rellena_Oportunidad_en_Tarea</name>
        <label>Rellena Oportunidad en Tarea</label>
        <locationX>974</locationX>
        <locationY>3071</locationY>
        <connector>
            <targetReference>Esta_el_usuario_Comunidad_Activo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AsuntoTarea</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OportunidadRelacionada__c</field>
            <value>
                <elementReference>OportunidadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cliente_de_Expediente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>PlantillaMailErroraPropietario</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em&gt;&lt;u&gt;AVISO: &lt;/u&gt;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;No se ha podido informar al Cliente del cambio de estado del Expediente &lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Record.IdExpediente__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Revise las &lt;/span&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;direcciones de correo electrónico&lt;/u&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; de la Cuenta Personal o de los Contactos de la Cuenta Empresa.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Un saludo&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>texto del Asunto de la Tarea Creada segun el estado</description>
        <name>AsuntoTarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Comunicación</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CuentaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailContactoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpedienteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDEXPEDIENTE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OportunidadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonaContactoCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonaPropietarioCuentaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonaPropietarioExpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsuarioAdminIntegracionArriaga</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Integración Arriaga</stringValue>
        </value>
    </variables>
    <variables>
        <name>UsuarioContactoCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
