force-app/main/default/flows/ATC_Comunicaciones_a_Cliente_segun_Estados_Expediente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alerta_de_Correo_a_Cliente</name>
        <label>Alerta de Correo a Cliente</label>
        <locationX>314</locationX>
        <locationY>2375</locationY>
        <actionName>Contract.Notificaci_n_Cliente_Estado_Expediente_Redaci_n_Terminada</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Tarea_por_Cambio_de_Estado_a_IntegracionArriaga</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ExpedienteID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Notificaci_n_Cliente_Estado_Expediente_Redaci_n_Terminada</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Correo_de_Error_a_Propietario_Cuenta</name>
        <label>Correo de Error a Propietario Cuenta</label>
        <locationX>792</locationX>
        <locationY>1751</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error Contactos sin Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PlantillaMailErroraPropietario</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@arriagaasociados.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Correo_de_Error_a_Propietario_Exp</name>
        <label>Correo de Error a Propietario Exp</label>
        <locationX>528</locationX>
        <locationY>1631</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error Contactos sin Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PlantillaMailErroraPropietario</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@arriagaasociados.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Tarea_por_Cambio_de_Estado_a_IntegracionArriaga</name>
        <label>Tarea por Cambio de Estado a IntegracionArriaga</label>
        <locationX>314</locationX>
        <locationY>2495</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Usuario_Admin.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Comunicación de la finalización en la redacción de la demanda</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FormulaHoy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>ContactoId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>CuentaId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsVisibleInSelfService</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Asignaciones</name>
        <label>Asignaciones</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ExpedienteID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonaPropietarioExpId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_Cliente</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Si_Correo_Contacto_en_Expediente_Vacio</name>
        <label>Si Correo Contacto en Expediente Vacio</label>
        <locationX>539</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Si_Propietario_Expediente_es_INACTIVO_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>Si_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CorreoElectronicoContacto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_de_Correo_a_Cliente</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_Correo_del_Contacto_del_Expediente_Vacio</name>
        <label>Si Correo del Contacto del Expediente Vacio</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Si_Correo_Contacto_en_Expediente_Vacio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>Si_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailContactoCliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guarda_Correo_de_Cuenta_en_Exp</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_Propietario_Cuenta_es_INACTIVO_0</name>
        <label>Si Propietario Cuenta es INACTIVO</label>
        <locationX>924</locationX>
        <locationY>1631</locationY>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Usuario_Cuenta.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correo_de_Error_a_Propietario_Cuenta</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_Propietario_Expediente_es_INACTIVO_0</name>
        <label>Si Propietario Expediente es INACTIVO</label>
        <locationX>726</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Si_Propietario_Cuenta_es_INACTIVO_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Usuario_Expediente.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correo_de_Error_a_Propietario_Exp</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Cliente</name>
        <label>Tipo Cliente</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Persona</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cliente_de_Expediente.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cliente_de_Expediente.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactoPersona</targetReference>
            </connector>
            <label>Persona</label>
        </rules>
        <rules>
            <name>Empresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente_de_Expediente.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonaJuridica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactosEmpresa</targetReference>
            </connector>
            <label>Empresa</label>
        </rules>
    </decisions>
    <description>*Envió de Correo a Cuenta Principal/Contacto del Expediente dependiendo del Estado (Redacción Terminada)
*Creando una Tarea en la Actividad de la Cuenta, cambiado Asunto
*Si no hay correo se envía mail al propietario del Expediente, mejorado2
*Con Plantilla de Correo mejorado
*Propietario Exp Inactivo y Propietario de Cuenta Inactivo + Admin Integracion Arriaga</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaHace6meses</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 180</expression>
    </formulas>
    <formulas>
        <name>FormulaHoy</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>Comunicaciones a Cliente Estados Expediente ATC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ATC - Comunicaciones a Cliente segun Estados Expediente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Cliente_de_Expediente</name>
        <label>Cliente de Expediente</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignaciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ContactoPersona</name>
        <label>ContactoPersona</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usuario_Expediente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>EmailContactoCliente</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactoId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonaContactoCuenta</assignToReference>
            <field>IndividualId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreContacto</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonaPropietarioCuentaId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContactosEmpresa</name>
        <label>ContactosEmpresa</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usuario_Expediente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RepresentanteLegal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>EmailContactoCliente</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactoId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonaContactoCuenta</assignToReference>
            <field>IndividualId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreContacto</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PersonaPropietarioCuentaId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Usuario_Admin</name>
        <label>Usuario Admin</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Si_Correo_del_Contacto_del_Expediente_Vacio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsuarioAdminIntegracionArriaga</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Usuario_Cuenta</name>
        <label>Usuario Cuenta</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usuario_Admin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cliente_de_Expediente.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Usuario_Expediente</name>
        <label>Usuario Expediente</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usuario_Cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Guarda_Correo_de_Cuenta_en_Exp</name>
        <label>Guarda Correo de Cuenta en Exp</label>
        <locationX>88</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Alerta_de_Correo_a_Cliente</targetReference>
        </connector>
        <inputAssignments>
            <field>CorreoElectronicoContacto__c</field>
            <value>
                <elementReference>EmailContactoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cliente_de_Expediente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>REDACCIÓN TERMINADA</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>PlantillaMailErroraPropietario</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em&gt;&lt;u&gt;AVISO: &lt;/u&gt;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;No se ha podido informar al Cliente del cambio de estado del Expediente &lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Record.IdExpediente__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Revise las &lt;/span&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;direcciones de correo electrónico&lt;/u&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; de la Cuenta Personal o de los Contactos de la Cuenta Empresa.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Un saludo&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ContactoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CuentaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailContactoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpedienteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonaContactoCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonaPropietarioCuentaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonaPropietarioExpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsuarioAdminIntegracionArriaga</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Integración Arriaga</stringValue>
        </value>
    </variables>
    <variables>
        <name>UsuarioContactoCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
