force-app/main/default/flows/Compliance_Envi_correo_por_cambio_de_datos_de_cuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Correo_a_Propietario_por_Mail_Nulo</name>
        <label>Correo a Propietario por Mail Nulo</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>&quot;Arriaga Asociados |  Cambio de Datos sin Notificar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CuerpoMailPropietario</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Usuario_Propietario.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@arriagaasociados.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Correo_Confirmaci_n_cambio_datos</name>
        <label>Correo Confirmación cambio datos</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>tarea</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CuerpoMailGeneral</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@arriagaasociados.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AsuntoMail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Correo_Confirmaci_n_CORREO</name>
        <label>Correo Confirmación CORREO</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>tarea</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AsuntoMail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CuerpoMailCorreo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@arriagaasociados.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Correo_Confirmaci_n_IBAN</name>
        <label>Correo Confirmación IBAN</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>tarea</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AsuntoMail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CuerpoMailIBAN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@arriagaasociados.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>tarea</name>
        <label>tarea</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Completar_Tarea</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>AsuntoMail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>Enviado correo informativo al cliente relativo al cambio de datos</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FormulaHoy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>$Record.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsVisibleInSelfService</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asignacion</name>
        <label>Asignacion</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ModificacionDe</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Datos de MAIL e IBAN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Correo_Confirmaci_n_cambio_datos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignacionCORREO</name>
        <label>AsignacionCORREO</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ModificacionDe</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Datos de contacto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Correo_Confirmaci_n_CORREO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignacionIBAN</name>
        <label>AsignacionIBAN</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ModificacionDe</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Datos bancarios</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Correo_Confirmaci_n_IBAN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cuenta</name>
        <label>Cuenta</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NombreCuenta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Usuario_Propietario</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Que_cambi</name>
        <label>Que cambió?</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MAIL_IBAN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonEmail</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IBAN__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion</targetReference>
            </connector>
            <label>MAIL+IBAN</label>
        </rules>
        <rules>
            <name>IBAN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IBAN__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignacionIBAN</targetReference>
            </connector>
            <label>IBAN</label>
        </rules>
        <rules>
            <name>MAIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonEmail</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignacionCORREO</targetReference>
            </connector>
            <label>MAIL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Mail_principal</name>
        <label>Tiene Mail principal?</label>
        <locationX>1073</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Cuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_Usuario</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Usuario</name>
        <label>Tipo de Usuario?</label>
        <locationX>776</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Portal</defaultConnectorLabel>
        <rules>
            <name>SF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Que_cambi</targetReference>
            </connector>
            <label>SF</label>
        </rules>
    </decisions>
    <description>Manda mail cuando los cambios se hacen desde SF (IBAN y Correo principal)
iban_pc
Control de mail vacio
IBAN Codificado + Direccion en Plantillas + Quitar datos antiguos</description>
    <environments>Default</environments>
    <formulas>
        <name>Asunto</name>
        <dataType>String</dataType>
        <expression>&quot;Arriaga Asociados | &quot; &amp;  {!ModificacionDe}</expression>
    </formulas>
    <formulas>
        <name>CUENTACODIFICADA</name>
        <dataType>String</dataType>
        <expression>&apos;ES****************&apos; + RIGHT({!$Record.IBAN__pc}, 4)</expression>
    </formulas>
    <formulas>
        <name>FormulaHoy</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>Compliance - Envió correo por cambio de datos de cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliance - Envió correo por cambio de datos de cuenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Usuario_Propietario</name>
        <label>Usuario Propietario</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correo_a_Propietario_por_Mail_Nulo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Completar_Tarea</name>
        <label>Completar Tarea</label>
        <locationX>446</locationX>
        <locationY>1151</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AsuntoMail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tiene_Mail_principal</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IBAN__pc</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CuerpoMailCorreo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola {!$Record.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Te informamos que&amp;nbsp;&lt;strong&gt;tus datos de contacto&lt;/strong&gt;&amp;nbsp;han sido modificados.&amp;nbsp;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Correo Electrónico actual: {!$Record.PersonEmail}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;En caso de no haber realizado ninguna solicitud de rectificación de datos o de que&amp;nbsp;la persona propietaria de la presente dirección de correo electrónico no tenga ninguna relación con Arriaga Asociados, le rogamos que se ponga en contacto con nuestro departamento de protección de datos, enviando un correo electrónico a la dirección&amp;nbsp;&lt;a href=&quot;mailto:lopd@arriagaasociados.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;lopd@arriagaasociados.com&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Quedamos a tu disposición para cualquier duda o consulta.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Recibe un cordial saludo.&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Arriaga Asociados Protección de datos&amp;nbsp;&lt;/em&gt;&lt;a href=&quot;mailto:lopd@arriagaasociados.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;em&gt;lopd@arriagaasociados.com&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt; C/Agustín de Foxá,4 Edificio Aqua Planta 5, B-C-D. 28036 Madrid | Tel. 91 73 76 000 &lt;/em&gt;&lt;a href=&quot;http://www.arriagaasociados.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;em&gt;www.arriagaasociados.com&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt; Información Básica sobre protección de datos: El responsable del tratamiento de los datos personales que puedan contenerse en este correo es Arriaga Asociados Asesoramiento Jurídico y Económico, S.L. Puede acceder a la información completa sobre protección de datos y la forma en que ejercitar sus derechos en &lt;/em&gt;&lt;a href=&quot;https://www.arriagaasociados.com/politica-de-privacidad/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;em&gt;https://www.arriagaasociados.com/politica-de-privacidad/&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt; Confidencialidad: La información contenida en este mensaje y/o archivo(s) adjunto(s) es confidencial/privilegiada y está destinada a ser leída sólo por la(s) persona(s) a la(s) que va dirigida. Si usted lee este mensaje y no es el destinatario señalado, el empleado o el agente responsable de entregar el mensaje al destinatario, o ha recibido esta comunicación por error, le informamos que está totalmente prohibida, y puede ser ilegal, cualquier divulgación, distribución o reproducción de esta comunicación, y le rogamos que nos lo notifique inmediatamente y nos devuelva el mensaje original a la dirección arriba mencionada.&amp;nbsp;&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CuerpoMailGeneral</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola {!$Record.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Te informamos que&amp;nbsp;&lt;strong style=&quot;font-size: medium; font-family: &amp;quot;Times New Roman&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;tus datos &lt;/strong&gt;han sido modificados.&amp;nbsp;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;IBAN &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;actual: {!CUENTACODIFICADA}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Correo Electrónico actual: {!$Record.PersonEmail}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;En caso de no haber realizado ninguna solicitud de rectificación de datos o de que&amp;nbsp;la persona propietaria de la presente dirección de correo electrónico no tenga ninguna relación con Arriaga Asociados, le rogamos que se ponga en contacto con nuestro departamento de protección de datos, enviando un correo electrónico a la dirección &lt;a href=&quot;mailto:lopd@arriagaasociados.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;lopd@arriagaasociados.com&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Quedamos a tu disposición para cualquier duda o consulta.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Recibe un cordial saludo.&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Arriaga Asociados Protección de datos&amp;nbsp;&lt;/em&gt;&lt;a href=&quot;mailto:lopd@arriagaasociados.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;lopd@arriagaasociados.com&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; C/Agustín de Foxá,4 Edificio Aqua Planta 5, B-C-D. 28036 Madrid | Tel. 91 73 76 000 &lt;/em&gt;&lt;a href=&quot;http://www.arriagaasociados.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;www.arriagaasociados.com&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; Información Básica sobre protección de datos: El responsable del tratamiento de los datos personales que puedan contenerse en este correo es Arriaga Asociados Asesoramiento Jurídico y Económico, S.L. Puede acceder a la información completa sobre protección de datos y la forma en que ejercitar sus derechos en &lt;/em&gt;&lt;a href=&quot;https://www.arriagaasociados.com/politica-de-privacidad/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;https://www.arriagaasociados.com/politica-de-privacidad/&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; Confidencialidad: La información contenida en este mensaje y/o archivo(s) adjunto(s) es confidencial/privilegiada y está destinada a ser leída sólo por la(s) persona(s) a la(s) que va dirigida. Si usted lee este mensaje y no es el destinatario señalado, el empleado o el agente responsable de entregar el mensaje al destinatario, o ha recibido esta comunicación por error, le informamos que está totalmente prohibida, y puede ser ilegal, cualquier divulgación, distribución o reproducción de esta comunicación, y le rogamos que nos lo notifique inmediatamente y nos devuelva el mensaje original a la dirección arriba mencionada.&amp;nbsp;&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CuerpoMailIBAN</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola {!$Record.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Te informamos que&amp;nbsp;&lt;strong style=&quot;font-size: medium; font-family: &amp;quot;Times New Roman&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;tus datos personales&lt;/strong&gt;&amp;nbsp;han sido modificados.&amp;nbsp;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;IBAN actual: {!CUENTACODIFICADA}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;En caso de no haber realizado ninguna solicitud de rectificación de datos o de que&amp;nbsp;la persona propietaria de la presente dirección de correo electrónico no tenga ninguna relación con Arriaga Asociados, le rogamos que se ponga en contacto con nuestro departamento de protección de datos, enviando un correo electrónico a la dirección &lt;a href=&quot;mailto:lopd@arriagaasociados.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;lopd@arriagaasociados.com&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Quedamos a tu disposición para cualquier duda o consulta.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Recibe un cordial saludo.&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 12px;&quot;&gt;Arriaga Asociados Protección de datos&amp;nbsp;&lt;/em&gt;&lt;a href=&quot;mailto:lopd@arriagaasociados.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;&lt;em&gt;lopd@arriagaasociados.com&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;font-size: 12px;&quot;&gt; C/Agustín de Foxá,4 Edificio Aqua Planta 5, B-C-D. 28036 Madrid | Tel. 91 73 76 000 &lt;/em&gt;&lt;a href=&quot;http://www.arriagaasociados.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;&lt;em&gt;www.arriagaasociados.com&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;font-size: 12px;&quot;&gt; Información Básica sobre protección de datos: El responsable del tratamiento de los datos personales que puedan contenerse en este correo es Arriaga Asociados Asesoramiento Jurídico y Económico, S.L. Puede acceder a la información completa sobre protección de datos y la forma en que ejercitar sus derechos en &lt;/em&gt;&lt;a href=&quot;https://www.arriagaasociados.com/politica-de-privacidad/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;&lt;em&gt;https://www.arriagaasociados.com/politica-de-privacidad/&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;font-size: 12px;&quot;&gt; Confidencialidad: La información contenida en este mensaje y/o archivo(s) adjunto(s) es confidencial/privilegiada y está destinada a ser leída sólo por la(s) persona(s) a la(s) que va dirigida. Si usted lee este mensaje y no es el destinatario señalado, el empleado o el agente responsable de entregar el mensaje al destinatario, o ha recibido esta comunicación por error, le informamos que está totalmente prohibida, y puede ser ilegal, cualquier divulgación, distribución o reproducción de esta comunicación, y le rogamos que nos lo notifique inmediatamente y nos devuelva el mensaje original a la dirección arriba mencionada.&amp;nbsp;&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CuerpoMailPropietario</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola {!Usuario_Propietario.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Te informamos que se ha dejado el correo principal en blanco en la cuenta con código &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record__Prior.IdClienteMinerva__c}&lt;/span&gt;, no se ha podido informar de los cambios realizados:&lt;/p&gt;&lt;p&gt;IBAN actual: {!$Record.IBAN__pc}&lt;/p&gt;&lt;p&gt;IBAN anterior: {!$Record__Prior.IBAN__pc}&lt;/p&gt;&lt;p&gt;Correo Electrónico actual: {!$Record.PersonEmail}&lt;/p&gt;&lt;p&gt;Correo Electrónico anterior: {!$Record__Prior.PersonEmail}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Recibe un cordial saludo.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AsuntoMail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Asunto</elementReference>
        </value>
    </variables>
    <variables>
        <name>ModificacionDe</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
