force-app/main/default/flows/ComunidadResetPassword.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Se llama a la clase Flow_ResetPasswordComunidad para proceder al envío del correo electrónico para el cambio de contraseña</description>
        <name>Flow_ResetPasswordComunidad</name>
        <label>Flow_ResetPasswordComunidad</label>
        <locationX>699</locationX>
        <locationY>49</locationY>
        <actionName>Flow_ResetPasswordComunidad</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PantallaInfoEmail</targetReference>
        </connector>
        <nameSegment>Flow_ResetPasswordComunidad</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>No</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </constants>
    <constants>
        <name>Si</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Se comprueba si se quiere proceder al cambio de contraseña</description>
        <name>QuiereCambiarContrasena</name>
        <label>Quiere cambiar la contraseña</label>
        <locationX>417</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnviarEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_ResetPasswordComunidad</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flujo para que desde la comunidad se pueda modificar el cambio de la contraseña</description>
    <interviewLabel>Comunidad Reset Password {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Comunidad Reset Password</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Página para que confirme que quiere modificar la contraseña</description>
        <name>Pagina_de_confirmacion</name>
        <label>Página de confirmación</label>
        <locationX>224</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>QuiereCambiarContrasena</targetReference>
        </connector>
        <fields>
            <name>TextoInformativo</name>
            <fieldText>&lt;b&gt;Te enviaremos un correo electrónico para terminar con el cambio de contraseña. &lt;/b&gt;&lt;br/&gt;&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmacionCambioContrasena</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>¿Quieres recibir el correo electrónico?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <elementReference>Si</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <elementReference>No</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EnviarEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para indicar que se ha enviado el email</description>
        <name>PantallaInfoEmail</name>
        <label>PantallaInfoEmail</label>
        <locationX>901</locationX>
        <locationY>49</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InfoEnvioEmail</name>
            <fieldText>Hemos enviado un correo electrónico a tu cuenta de correo para finalizar con el cambio de contraseña, debe realizar el cambio en las siguientes 24 horas. 
En caso de no recibir el correo electrónico revise su carpeta de Spam.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Pagina_de_confirmacion</startElementReference>
    <status>Active</status>
    <variables>
        <description>Variable que se guarda con la opción que ha seleccionado de confirmación de cambio de email</description>
        <name>EnviarEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
