force-app/main/default/flows/Control_Usuarios_Comunidad_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asignaciones</name>
        <label>Asignaciones</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailContacto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NombreContacto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApellidosContacto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Usuario_Comunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar</name>
        <label>Contar</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>ContadorSQL</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_Cliente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar1</name>
        <label>Contar</label>
        <locationX>314</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>ContadorSQL</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Usuario_Comunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar2</name>
        <label>Contar</label>
        <locationX>314</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>ContadorSQL</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Esta_Activo_el_Usuario_Comunidad</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Esta_Activo_el_Usuario_Comunidad</name>
        <label>Esta Activo el Usuario Comunidad?</label>
        <locationX>314</locationX>
        <locationY>1212</locationY>
        <defaultConnector>
            <targetReference>Activa_Usuario_Comunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiActivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Usuario_Comunidad.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Cliente</name>
        <label>Tipo Cliente</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Persona</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UsuarioPortal_Activo_Ult_Modif__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FormulaAyer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UsuarioPortal_Activo_Ult_Modif__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FormulaHoy</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContadorSQL</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>97.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignaciones</targetReference>
            </connector>
            <label>Persona</label>
        </rules>
        <rules>
            <name>Empresa</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonaJuridica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UsuarioPortal_Activo_Ult_Modif__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FormulaAyer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UsuarioPortal_Activo_Ult_Modif__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FormulaHoy</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContadorSQL</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>97.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactosEmpresa</targetReference>
            </connector>
            <label>Empresa</label>
        </rules>
    </decisions>
    <description>Flujo programado. Según Cuentas Marcadas
Limitando el inicio del flujo a cada cuenta marcada
Control de Usuario Estado de Usuario Comunidad
Control limite SQL&apos;s
15:20</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaAyer</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 1</expression>
    </formulas>
    <formulas>
        <name>FormulaHoy</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Control Usuarios Comunidad V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Control Usuarios Comunidad V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ContactosEmpresa</name>
        <label>ContactosEmpresa</label>
        <locationX>314</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RepresentanteLegal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>EmailContacto</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreContacto</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApellidosContacto</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Profile_UsuarioComunidad</name>
        <label>Profile UsuarioComunidad</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Comunidad Arriaga</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>PerfilComunidadArriaga</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Usuario_Comunidad</name>
        <label>Usuario Comunidad</label>
        <locationX>314</locationX>
        <locationY>972</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PerfilComunidadArriaga</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activa_Usuario_Comunidad</name>
        <label>Activa Usuario Comunidad</label>
        <locationX>446</locationX>
        <locationY>1332</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PerfilComunidadArriaga</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Profile_UsuarioComunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UsuarioPortal_Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-19</startDate>
            <startTime>15:20:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ApellidosContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContadorSQL</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmailContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PerfilComunidadArriaga</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
