force-app/main/default/flows/EmailSendOnClosedOppo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Google_Invite</name>
        <label>Send Google Invite</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Resenas_Opportunity_Review_Invite_Google</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Triggering_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Resenas_Opportunity_Review_Invite_Google</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Trustpilot_Invite</name>
        <label>Send Trustpilot Invite</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Resenas_Opportunity_Review_Invite_Trustpilot</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Triggering_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Resenas_Opportunity_Review_Invite_Trustpilot</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Google_or_Trustpilot</name>
        <label>Google or Trustpilot?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Error - Unrecognised Encuesta Value</defaultConnectorLabel>
        <rules>
            <name>TrustPilot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SocialNetwork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trustpilot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Trustpilot_Invite</targetReference>
            </connector>
            <label>TrustPilot</label>
        </rules>
        <rules>
            <name>Google</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SocialNetwork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Google</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Google_Invite</targetReference>
            </connector>
            <label>Google</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_email_decision</name>
        <label>Has Email?</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>has_email_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClientEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Google_or_Trustpilot</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Resenas - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resenas - Envio Encuesta Oportunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Triggering_Record</name>
        <label>Update Triggering Record</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Encuesta_satisfaccion_ya_enviada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>has_email_decision</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cerrada ganada</stringValue>
            </value>
        </filters>
        <filters>
            <field>SocialNetwork__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No Enviar</stringValue>
            </value>
        </filters>
        <filters>
            <field>SocialNetwork__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Encuesta_satisfaccion_ya_enviada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ExpedienteOwner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
