force-app/main/default/flows/Feed_Item_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asig_Estado_UAT</name>
        <label>Asig_Estado UAT</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_UAT.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nuevo Comentario</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Estado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Si el estado de la UAT es OK. no aplica el cambio de estado a Nuevo Comentario</description>
        <name>Estado_UAT_OK</name>
        <label>Estado UAT OK?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>UAT OK</defaultConnectorLabel>
        <rules>
            <name>Dec_UAT_no_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UAT.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_UAT.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dependiente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asig_Estado_UAT</targetReference>
            </connector>
            <label>Dec_UAT no OK</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Feed Item_After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Feed Item_After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_UAT</name>
        <label>Get_UAT</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estado_UAT_OK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UAT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Estado</name>
        <label>Update_Estado</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>Get_UAT</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_UAT</targetReference>
        </connector>
        <object>FeedItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
