force-app/main/default/flows/Financiero_Send_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendSMS</name>
        <label>Send SMS</label>
        <locationX>446</locationX>
        <locationY>2006</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>Message_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>Get_Case_Info.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>Get_Messaging_Channel.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <elementReference>TemplateSelector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>MessagingUserId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>liveMessageNotification</nameSegment>
        <outputParameters>
            <assignToReference>smsMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Phone</name>
        <label>Assign Phone</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>choosedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chooseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Messaging_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Phone</name>
        <label>Assign Phone</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>choosedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Messaging_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Phone</name>
        <label>Assign Phone</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>choosedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedMobile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Messaging_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMessagingUser</name>
        <label>Set Messaging User</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>MessagingUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateMessagingUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendSMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMessagingUserID</name>
        <label>Set Messaging User ID</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>MessagingUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendSMS</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>MainPhone</name>
        <choiceText>Teléfono Principal: {!formattedPhone}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>formattedPhone</elementReference>
        </value>
    </choices>
    <choices>
        <name>SecondaryPhone</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Teléfono Secundario: {!formattedMobile}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>formattedMobile</elementReference>
        </value>
    </choices>
    <constants>
        <name>Financiero</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Financiero</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_empty_Phone</name>
        <label>Check empty Phone</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mobile</defaultConnectorLabel>
        <rules>
            <name>Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Info.Account.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Phone</targetReference>
            </connector>
            <label>Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Messaging_User</name>
        <label>Existing Messaging User?</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>CreateMessagingUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMessagingUserID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Message_sent</name>
        <label>Message sent?</label>
        <locationX>446</locationX>
        <locationY>2126</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>smsMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_RecordType</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permisos_SMS</name>
        <label>Permisos SMS?</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Sin_permisos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_permisos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.OM_SMSPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Info</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_or_Mobile</name>
        <label>Phone or Mobile?</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay teléfonos</defaultConnectorLabel>
        <rules>
            <name>Choose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Info.Account.PersonMobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Info.Account.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Mobile</targetReference>
            </connector>
            <label>Choose</label>
        </rules>
        <rules>
            <name>Not_Choose</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Info.Account.PersonMobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Info.Account.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Info.Account.PersonMobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Info.Account.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_empty_Phone</targetReference>
            </connector>
            <label>Not Choose</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MessagingTemplates</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Financiero</elementReference>
            </value>
        </filters>
        <object>MessagingTemplate</object>
        <outputAssignments>
            <assignToReference>TemplateValue</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formattedMobile</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!Get_Case_Info.Account.PersonMobilePhone}, 1)=&quot;+&quot;, {!Get_Case_Info.Account.PersonMobilePhone}, &quot;+34&quot; &amp; {!Get_Case_Info.Account.PersonMobilePhone})</expression>
    </formulas>
    <formulas>
        <name>formattedPhone</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!Get_Case_Info.Account.Phone}, 1)=&quot;+&quot;, {!Get_Case_Info.Account.Phone}, &quot;+34&quot; &amp; {!Get_Case_Info.Account.Phone})</expression>
    </formulas>
    <formulas>
        <name>nowForm</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Financiero - Send SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Financiero - Send SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateMessagingUser</name>
        <label>Create Messaging User</label>
        <locationX>578</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>SetMessagingUser</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Case_Info.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType</field>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId</field>
            <value>
                <elementReference>Get_Messaging_Channel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus</field>
            <value>
                <stringValue>ImplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey</field>
            <value>
                <elementReference>choosedPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>choosedPhone</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_History</name>
        <label>Insert History</label>
        <locationX>314</locationX>
        <locationY>2366</locationY>
        <inputAssignments>
            <field>OM_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OM_Message__c</field>
            <value>
                <elementReference>smsMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OM_Phone__c</field>
            <value>
                <elementReference>choosedPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OM_SendingDate__c</field>
            <value>
                <elementReference>nowForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OM_Type__c</field>
            <value>
                <stringValue>Financiero</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_SMS_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OM_EngagementHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Info</name>
        <label>Get Case Info</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phone_or_Mobile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Channel</name>
        <label>Get Messaging Channel</label>
        <locationX>446</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SeleccionarPlantilla</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.OM_GeneralSettings__c.OM_SMSChannel__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_User</name>
        <label>Get Messaging User</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Messaging_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>choosedPhone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SMS_RecordType</name>
        <label>Get SMS RecordType</label>
        <locationX>314</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insert_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OM_SMS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Copy</name>
        <label>Get Template Copy</label>
        <locationX>446</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VisualizarPlantilla</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TemplateSelector</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choose_Mobile</name>
        <label>Choose Mobile</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Phone</targetReference>
        </connector>
        <fields>
            <name>chooseNumber</name>
            <choiceReferences>MainPhone</choiceReferences>
            <choiceReferences>SecondaryPhone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione el número de teléfono</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>No puede enviarse el SMS porque el cliente no tiene ningún teléfono informado.</description>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Text_Message</name>
            <fieldText>&lt;p&gt;No puede enviarse el SMS porque el cliente no tiene ningún teléfono informado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SeleccionarPlantilla</name>
        <label>Seleccionar Plantilla</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Template_Copy</targetReference>
        </connector>
        <fields>
            <name>TemplateSelector</name>
            <choiceReferences>MessagingTemplates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Elija SMS</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sin_permisos</name>
        <label>Sin permisos</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PermisosError</name>
            <fieldText>&lt;p&gt;No tiene permisos para realizar esta acción.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VisualizarPlantilla</name>
        <label>Visualizar Plantilla</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Existing_Messaging_User</targetReference>
        </connector>
        <fields>
            <name>VisorPlantillaSeleccionada</name>
            <fieldText>&lt;p&gt;{!Get_Template_Copy.Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Enviar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Permisos_SMS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>choosedPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessagingUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>msRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
    <variables>
        <name>msToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>smsMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplateValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
