force-app/main/default/flows/Flujo_Proceso_Revisiones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Contiene_Clausula</name>
        <label>¿Contiene Clausula?</label>
        <locationX>270</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Seleccion_Clausulas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LaContiene</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_RevisionCheckList</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ya_tiene_Revisiones</name>
        <label>Ya tiene Revisiones?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>PantallaFin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Revisiones_CheckList.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Revisiones_CheckList.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PantallaInicio</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Añadimos 2º campo Entidad Actual
Botón Finalizado
Campos Entidades
Solo Clasulas revisadas</description>
    <environments>Default</environments>
    <interviewLabel>Proceso Revisiones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Proceso Revisiones</label>
    <loops>
        <name>Seleccion_Clausulas</name>
        <label>Seleccion de Clausulas</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <collectionReference>DatosCheckList.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Revision_Seleccion</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_RevisionCheckList</name>
        <label>Crear RevisionCheckList</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Seleccion_Clausulas</targetReference>
        </connector>
        <inputAssignments>
            <field>CHECKLIST__c</field>
            <value>
                <elementReference>Seleccion_Clausulas.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clausula__c</field>
            <value>
                <elementReference>Seleccion_Clausulas.CLAUSULA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entidad_Actual__c</field>
            <value>
                <elementReference>Revisiones.Entidad_Actual__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entidad__c</field>
            <value>
                <elementReference>Revisiones.Entidad_Anterior__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impacto_economico__c</field>
            <value>
                <elementReference>ImpactoEconomico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informe1__c</field>
            <value>
                <elementReference>Seleccion_Clausulas.INFORME_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informe2__c</field>
            <value>
                <elementReference>Seleccion_Clausulas.INFORME_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LITERAL__c</field>
            <value>
                <elementReference>Seleccion_Clausulas.LITERAL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOCALIZACION__c</field>
            <value>
                <elementReference>Seleccion_Clausulas.LOCALIZACION__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LaContiene__c</field>
            <value>
                <elementReference>LaContiene</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revisiones__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Revisiones_Checklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CheckList</name>
        <label>CheckList</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reg_de_Entidad_Actual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PRODUCTO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Revisiones.Producto__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ENTIDAD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Revisiones.Entidad_Anterior__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CHECKLIST__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Reg_de_Entidad_Actual</name>
        <label>Reg de Entidad Actual</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Revisiones_disponibles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ENTIDAD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Revisiones.Entidad__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRODUCTO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Revisiones.Producto__c</elementReference>
            </value>
        </filters>
        <object>CHECKLIST__c</object>
        <outputAssignments>
            <assignToReference>Var_EntidadActual</assignToReference>
            <field>Entidad_Actual__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Revisiones</name>
        <label>Revisiones</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Revisiones_CheckList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Revisiones__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Revisiones_CheckList</name>
        <label>Revisiones_CheckList</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ya_tiene_Revisiones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Revisiones__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Revisiones_Checklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>PantallaFin</name>
        <label>Pantalla Fin</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Titulo0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 90, 6); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;CHECKLIST REVISION HIPOTECA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtfinal</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 22, 5);&quot;&gt;Ya tiene revisiones&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 22, 5);&quot;&gt;Ver en pesataña Relacionado&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finalizado</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>pantalla para filtrar datos</description>
        <name>PantallaInicio</name>
        <label>Pantalla Inicio</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckList</targetReference>
        </connector>
        <fields>
            <name>Titulo1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 90, 6); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;CHECKLIST REVISION HIPOTECA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Comenzamos !!!!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Revision_Seleccion</name>
        <label>Revisión Selección</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contiene_Clausula</targetReference>
        </connector>
        <fields>
            <name>Revision_Seleccion_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Revision_Seleccion_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Titulo3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 90, 6); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;CHECKLIST REVISION HIPOTECA&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>txt1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;CLAUSULA&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtdato1</name>
            <fieldText>&lt;p&gt;{!Seleccion_Clausulas.CLAUSULA__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;LOCALIZACION&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtdato2</name>
            <fieldText>&lt;p&gt;{!Seleccion_Clausulas.LOCALIZACION__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;LITERAL&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtdato3</name>
            <fieldText>&lt;p&gt;{!Seleccion_Clausulas.LITERAL__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Revision_Seleccion_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Revision_Seleccion_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Revision_Seleccion_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LaContiene</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Contiene la Clausula</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Revision_Seleccion_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ImpactoEconomico</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Tiene Impacto Económico</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Revision_Seleccion_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>txt4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Apoyo Jurídico&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtdato4</name>
            <fieldText>&lt;p&gt;{!Seleccion_Clausulas.INFORME_1__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt5</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Requisitos Reclamación&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtdato5</name>
            <fieldText>&lt;p&gt;{!Seleccion_Clausulas.INFORME_2__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Muestra todos los valores de Checklist coincidentes para la Revision</description>
        <name>Revisiones_disponibles</name>
        <label>Revisiones disponibles</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Seleccion_Clausulas</targetReference>
        </connector>
        <fields>
            <name>Revisiones_disponibles_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Revisiones_disponibles_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Titulo2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(237, 90, 6);&quot;&gt;CHECKLIST REVISION HIPOTECA&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DatosCheckList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CHECKLIST__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CheckList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CLAUSULA__c&quot;,&quot;guid&quot;:&quot;column-66e2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;CLAUSULA&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LOCALIZACION__c&quot;,&quot;guid&quot;:&quot;column-300b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;LOCALIZACION&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LITERAL__c&quot;,&quot;guid&quot;:&quot;column-caf6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;LITERAL&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;INFORME_1__c&quot;,&quot;guid&quot;:&quot;column-65cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;INFORME 1&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;INFORME_2__c&quot;,&quot;guid&quot;:&quot;column-fdd8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;INFORME 2&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Revisiones</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LA_CONTIENE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
    <variables>
        <description>Variable de entrada para la Revision</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_EntidadActual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
