force-app/main/default/flows/Formulario_HCV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Evalua si aun no tiene HCV</description>
        <name>Tiene_HCV</name>
        <label>Tiene HCV?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Pantalla_Aviso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>NoHCV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HCV.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_Inicio</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Formulario HCV
Con permisos de datos en el Flujo
Con valores rellenos de Cuenta/HCV
Control de politica1
Maquetado de Formulario3</description>
    <environments>Default</environments>
    <formulas>
        <name>NombreHCV</name>
        <dataType>String</dataType>
        <expression>TEXT(NOW()) + &apos; - &apos; + {!Cuenta.Name}</expression>
    </formulas>
    <interviewLabel>Formulario HCV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Formulario HCV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_HCV</name>
        <label>Crear HCV</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Guardar_en_Cuenta</targetReference>
        </connector>
        <inputAssignments>
            <field>Acepto_comunicaciones_comerciales__c</field>
            <value>
                <elementReference>AceptoComunicacionesComerciales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acepto_mensajes_de_whatsapp__c</field>
            <value>
                <elementReference>AceptoWhatsapp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acepto_pol_tica_de_privacidad__c</field>
            <value>
                <elementReference>AceptoPoliticas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>Cuenta.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HCV_FechaHora__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HCV_Usuario__c</field>
            <value>
                <elementReference>Usuario_Comunidad.Username</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Login_FechaHora__c</field>
            <value>
                <elementReference>Usuario_Comunidad.LastLoginDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Login_Usuario__c</field>
            <value>
                <elementReference>Usuario_Comunidad.Username</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreHCV</elementReference>
            </value>
        </inputAssignments>
        <object>HojaControlVisita__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Contacto del Usuario</description>
        <name>Contacto</name>
        <label>Contacto</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cuenta</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Cuenta del Contacto/Usuario</description>
        <name>Cuenta</name>
        <label>Cuenta</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HCV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contacto.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Hoja de Control de Vista</description>
        <name>HCV</name>
        <label>HCV</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_HCV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cuenta.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HojaControlVisita__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Usuario_Comunidad</name>
        <label>Usuario Comunidad</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Gurda los datos de la HCV en la Cuenta del Usuario de Comunidad</description>
        <name>Guardar_en_Cuenta</name>
        <label>Guardar en Cuenta</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Pantalla_Final</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeseoRecibirComunicacionesComerciales__pc</field>
            <value>
                <elementReference>AceptoComunicacionesComerciales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deseo_recibir_Mensajes_de_Whatsapp__pc</field>
            <value>
                <elementReference>AceptoWhatsapp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>CorreoElectronico.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Telefono1.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Pantalla_Aviso</name>
        <label>Pantalla Aviso</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Pantalla_Aviso_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pantalla_Aviso_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Aviso</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Ya tiene rellanada la Hoja de Control de Visitas.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Puede cerrar esta ventana del navegador&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Final</name>
        <label>Pantalla Final</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Pantalla_Final_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pantalla_Final_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Aviso_Creacion</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;La Hoja de Control de Visita se ha guardado con éxito. Para ver los datos proporcionados, deberá actualizar Mis Datos (en la pantalla anterior)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Puede cerrar esta ventana del navegador&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Inicio</name>
        <label>Pantalla Inicio</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crear_HCV</targetReference>
        </connector>
        <fields>
            <name>Pantalla_Inicio_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pantalla_Inicio_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HCVCabecera</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>HCVCabecera</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pantalla_Inicio_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pantalla_Inicio_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HCVImagen</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>HCVImagen</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pantalla_Inicio_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NombreCuenta</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>DATOS PERSONALES</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>Cuenta.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>Cuenta.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CorreoElectronico</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Cuenta.PersonEmail</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Telefono1</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Teléfono Principal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Teléfono Movil</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Cuenta.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>AceptoPoliticas</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Acepto las condiciones de uso y la política de privacidad</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Debe estar marcada esta opción&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!AceptoPoliticas}=true</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>AceptoComunicacionesComerciales</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Politica2</elementReference>
                    </defaultValue>
                    <fieldText>Deseo recibir comunicaciones comerciales de Arriaga Asociados en función de mi comportamiento y mis preferencias personales, en los términos previstos en la Política de Privacidad</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AceptoWhatsapp</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Politica3</elementReference>
                    </defaultValue>
                    <fieldText>Presto mi consentimiento libre, informado, específico e inequívoco y autorizo a ARRIAGA ASOCIADOS ASESORAMIENTO JURÍDICO Y ECONÓMICO, S.L. a ponerse en contacto conmigo en los términos previstos en la Política de Privacidad, a través de WHATSAPP MESSENGER, cuya Política de Privacidad está disponible en su Página Web.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Enlacepoliticas</name>
                    <fieldText>&lt;p&gt;VER POLITICAS DE PRIVACIDAD &lt;a href=&quot;https://www.arriagaasociados.com/politica-de-privacidad/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;aquí&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Enviar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Usuario_Comunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Politica1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Politica2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Politica3</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
