force-app/main/default/flows/Gastos_Hipotecarios.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Actualización mediante la clase Apex Flow_ActualizarContratOnline</description>
        <name>Actualizacion_Contratacion_Online_existente_2_Titular</name>
        <label>Actualización Contratación Online existente 2ºTitular</label>
        <locationX>1917</locationX>
        <locationY>878</locationY>
        <actionName>Flow_ActualizarContratOnline</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AvisoCreacionSegundoTitularExistente</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>segTit</name>
            <value>
                <elementReference>IdCuentaExistente2Titular</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consentimientoSegTit</name>
            <value>
                <stringValue>SI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSegTit</name>
            <value>
                <elementReference>CorreoSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idContratOnline</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tieneVariosTit</name>
            <value>
                <elementReference>HayVariosTitularesDelPrestamo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Flow_ActualizarContratOnline</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Actualización mediante la clase Apex Flow_ActualizarContratOnline</description>
        <name>Actualizacion_Contratacion_Online_nuevo_2_Titular</name>
        <label>Actualización Contratación Online nuevo 2ºTitular</label>
        <locationX>2031</locationX>
        <locationY>630</locationY>
        <actionName>Flow_ActualizarContratOnline</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AvisoCreacionSegundoTitular</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>segTit</name>
            <value>
                <elementReference>IdCuentaSegundoTitular</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consentimientoSegTit</name>
            <value>
                <stringValue>SI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSegTit</name>
            <value>
                <elementReference>CorreoSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idContratOnline</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tieneVariosTit</name>
            <value>
                <elementReference>HayVariosTitularesDelPrestamo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Flow_ActualizarContratOnline</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email al 2º titular indicando la información que se tiene de él</description>
        <name>AvisoCreacionSegundoTitular</name>
        <label>AvisoCreacionSegundoTitular</label>
        <locationX>1847</locationX>
        <locationY>630</locationY>
        <actionName>CommunityOpp__c.AvisoCreacionSegundoTitular</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ObtenerPago</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CommunityOpp__c.AvisoCreacionSegundoTitular</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email que se manda al 2º titular para informar de los datos que ha introducido el cliente que está contratando el producto</description>
        <name>AvisoCreacionSegundoTitularExistente</name>
        <label>AvisoCreacionSegundoTitularExistente</label>
        <locationX>1731</locationX>
        <locationY>878</locationY>
        <actionName>CommunityOpp__c.AvisoCreacionSegundoTitularExistente</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ObtenerPago</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CommunityOpp__c.AvisoCreacionSegundoTitularExistente</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BuscarOportunidad</name>
        <label>Buscar Oportunidad</label>
        <locationX>698</locationX>
        <locationY>181</locationY>
        <actionName>ClaseAuxiliarCreacionObjetos</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Destino_Prestamo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>idContratOnline</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idCuenta</name>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idPriceBook</name>
            <value>
                <elementReference>IdPriceBook</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opcion</name>
            <value>
                <stringValue>Buscar Oportunidad</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ClaseAuxiliarCreacionObjetos</nameSegment>
        <outputParameters>
            <assignToReference>IdOportunidad</assignToReference>
            <name>id</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ComprobarPago</name>
        <label>Comprobar Pago</label>
        <locationX>489</locationX>
        <locationY>50</locationY>
        <actionName>Flow_ComprobacionPagos</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreacionContraOnline</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>idCuenta</name>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idProducto</name>
            <value>
                <elementReference>IdProducto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productoGratis</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Flow_ComprobacionPagos</nameSegment>
        <outputParameters>
            <assignToReference>IdPriceBook</assignToReference>
            <name>idPriceBook</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>IdPriceBookEntry</assignToReference>
            <name>idPriceBookEntry</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>RealizaPagos</assignToReference>
            <name>pago</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CreacionContraOnline</name>
        <label>Creación Contratación Online</label>
        <locationX>697</locationX>
        <locationY>58</locationY>
        <actionName>ClaseAuxiliarCreacionObjetos</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BuscarOportunidad</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>flujo</name>
            <value>
                <elementReference>NombreOportunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idCuenta</name>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idPriceBook</name>
            <value>
                <elementReference>IdPriceBook</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idPriceBookEntry</name>
            <value>
                <elementReference>IdPriceBookEntry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idProduct</name>
            <value>
                <elementReference>IdProducto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opcion</name>
            <value>
                <stringValue>Contratación Online</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ClaseAuxiliarCreacionObjetos</nameSegment>
        <outputParameters>
            <assignToReference>IdContratacionOnline</assignToReference>
            <name>id</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CreacionExpediente</name>
        <label>Creación Expediente</label>
        <locationX>1300</locationX>
        <locationY>365</locationY>
        <actionName>ClaseAuxiliarCreacionObjetos</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GraciasContrato</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>idCuenta</name>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idOportunidad</name>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idPriceBook</name>
            <value>
                <elementReference>IdPriceBook</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opcion</name>
            <value>
                <stringValue>Expediente</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ClaseAuxiliarCreacionObjetos</nameSegment>
        <outputParameters>
            <assignToReference>IdPagoCero</assignToReference>
            <name>id</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>URLExpediente</assignToReference>
            <name>url</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Llamamos a la clase &quot;Flow_CrearSegundoTitular&quot; que se encarga de crear la cuenta personal para el segundo titular</description>
        <name>CreacionSegundoTitular</name>
        <label>Creación 2º Titular</label>
        <locationX>2332</locationX>
        <locationY>630</locationY>
        <actionName>Flow_CrearSegundoTitular</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Actualizacion_Contratacion_Online_nuevo_2_Titular</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>dni</name>
            <value>
                <elementReference>DNISec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>CorreoSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IdOportunidad</name>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nombre</name>
            <value>
                <elementReference>NombreSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>telefono</name>
            <value>
                <elementReference>TelefonoSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipoDocumento</name>
            <value>
                <elementReference>TipoDocumento</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Flow_CrearSegundoTitular</nameSegment>
        <outputParameters>
            <assignToReference>IdCuentaSegundoTitular</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Validación de campos del sugundo titular con la clase FlowValidacion</description>
        <name>Validacion2Titular</name>
        <label>Validacion2Titular</label>
        <locationX>1499</locationX>
        <locationY>1201</locationY>
        <actionName>FlowValidacion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ValidacionesCorrectas2Tit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>dni</name>
            <value>
                <elementReference>DNISec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Tlf</name>
            <value>
                <elementReference>TelefonoSec</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowValidacion</nameSegment>
        <outputParameters>
            <assignToReference>RespuestaValidar</assignToReference>
            <name>respuesta</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Respuesta</assignToReference>
            <name>respuestaDNI</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>RespuestaTLF</assignToReference>
            <name>respuestaTlf</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Validacion de DNI que se ejecuta en el código apex de FlowValidacion</description>
        <name>Validaciones</name>
        <label>Validaciones</label>
        <locationX>1394</locationX>
        <locationY>1576</locationY>
        <actionName>FlowValidacion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ValidacionesCorrectas</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>Tlf</name>
            <value>
                <elementReference>TelefonoCliente</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowValidacion</nameSegment>
        <outputParameters>
            <assignToReference>RespuestaValidar</assignToReference>
            <name>respuesta</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Respuesta</assignToReference>
            <name>respuestaDNI</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>RespuestaTLF</assignToReference>
            <name>respuestaTlf</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AisgErrorTlf2Tit</name>
        <label>ErrorTlf2Tit</label>
        <locationX>1597</locationX>
        <locationY>1123</locationY>
        <assignmentItems>
            <assignToReference>BErrorTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErroresValidacionTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RespuestaTLF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RequerirDatosContactos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsigErrorDNI2Tit</name>
        <label>AsigErrorDNI2Tit</label>
        <locationX>1703</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>BErrorDNI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErroresValidacionDNI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Respuesta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorTlf2Tit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsigErrorTlf</name>
        <label>AsigErrorTlf</label>
        <locationX>1098</locationX>
        <locationY>1353</locationY>
        <assignmentItems>
            <assignToReference>BErrorTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErroresValidacionTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RespuestaTLF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RequerirDatosContacto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CambioTelefonoAsignacion</name>
        <label>CambioTelefono</label>
        <locationX>1205</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>TelefonoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TelefonoClienteTxt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validaciones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoCorrecto2</name>
        <label>NoCorrecto2</label>
        <locationX>1875</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>DNINoCorrecto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DNIVal2Tit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetearError</name>
        <label>ResetearError</label>
        <locationX>1306</locationX>
        <locationY>1121</locationY>
        <assignmentItems>
            <assignToReference>BErrorDNI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BErrorTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DNINoCorrecto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarContratacionOnlineVariosTitulares</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SinFicheros</name>
        <label>SinFicheros</label>
        <locationX>684</locationX>
        <locationY>829</locationY>
        <assignmentItems>
            <assignToReference>FicherosCargados</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjuntar_Documentacion</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Nofueparacomprarunavivienda</name>
        <choiceText>No fue para comprar una vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No fue para comprar una vivienda</stringValue>
        </value>
    </choices>
    <choices>
        <description>No hay más titulares asociados al prestamo</description>
        <name>NoMasTitulares</name>
        <choiceText>No, solo hay un titular</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paracomprarsegundavivienda</name>
        <choiceText>Para comprar segunda vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Para comprar segunda vivienda</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paracomprarunaviviendadestinadaaalquiler</name>
        <choiceText>Para comprar una vivienda destinada a alquiler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Para comprar una vivienda destinada a alquiler</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paracomprarviviendahabitual</name>
        <choiceText>Para comprar vivienda habitual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Para comprar vivienda habitual</stringValue>
        </value>
    </choices>
    <choices>
        <name>PersonaImplicadaN</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PersonaImplicadaS</name>
        <choiceText>Si</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Redsys</name>
        <choiceText>Pago Online</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pago Online</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <description>El préstamo tiene 2 titulares</description>
        <name>Si2Titulares</name>
        <choiceText>Sí, hay otro titular y está informado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí, hay otro titular y está informado</stringValue>
        </value>
    </choices>
    <choices>
        <description>Si se indica que hay otro titular pero este no está informado</description>
        <name>Si2TitularesNoInformado</name>
        <choiceText>Hay otro titular, pero no está informado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Hay otro titular, pero no está informado</stringValue>
        </value>
    </choices>
    <choices>
        <description>El préstamo tiene más de dos titulares</description>
        <name>SiMasDe2Titulares</name>
        <choiceText>Hay más de dos titulares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hay más de dos titulares</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_CIF</name>
        <choiceText>CIF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CIF</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_DNI</name>
        <choiceText>NIF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NIF</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_NIE</name>
        <choiceText>NIE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NIE</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_Pass</name>
        <choiceText>Pasaporte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pasaporte</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AcuerdoHojaEncargo</name>
        <label>AcuerdoHojaEncargo</label>
        <locationX>849</locationX>
        <locationY>690</locationY>
        <defaultConnector>
            <targetReference>ComprobarPagos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>NoAcuerdo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasillaSiHojaEncargo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulario_Contacto_Asesor</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>CambioTelefono</name>
        <label>CambioTelefono</label>
        <locationX>1204</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Validaciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sin Cambio Telefono</defaultConnectorLabel>
        <rules>
            <name>CambioTelefonoSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TelefonoClienteTxt</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>TelefonoCliente</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CambioTelefonoAsignacion</targetReference>
            </connector>
            <label>Cambio Telefono</label>
        </rules>
    </decisions>
    <decisions>
        <name>ComprobarDocumentacion</name>
        <label>Comprobar Documentación</label>
        <locationX>850</locationX>
        <locationY>865</locationY>
        <defaultConnector>
            <targetReference>SinFicheros</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoExistenDoc</defaultConnectorLabel>
        <rules>
            <name>ExistenDocs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExisteIdClausula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DNIVacioQuest</targetReference>
            </connector>
            <label>ExistenDocs</label>
        </rules>
    </decisions>
    <decisions>
        <name>ComprobarPagos</name>
        <label>Realiza Pagos ??</label>
        <locationX>951</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>CreacionExpediente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoPaga</defaultConnectorLabel>
        <rules>
            <name>SiPaga</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RealizaPagos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RealizarPago</targetReference>
            </connector>
            <label>SiPaga</label>
        </rules>
    </decisions>
    <decisions>
        <name>DNIVacioQuest</name>
        <label>DNIVacío?</label>
        <locationX>871</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>RequerirDatosContacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SIVacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountDNI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarContacto</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>DNIVal2Tit</name>
        <label>DNIVal2Tit</label>
        <locationX>1769</locationX>
        <locationY>1309</locationY>
        <defaultConnector>
            <targetReference>ErrorTlf2Tit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Errordni2t</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respuesta</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsigErrorDNI2Tit</targetReference>
            </connector>
            <label>Errordni2t</label>
        </rules>
    </decisions>
    <decisions>
        <name>ErrorTlf</name>
        <label>ErrorTlf</label>
        <locationX>1359</locationX>
        <locationY>1388</locationY>
        <defaultConnector>
            <targetReference>RequerirDatosContacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>ErrorTlfSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RespuestaTLF</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsigErrorTlf</targetReference>
            </connector>
            <label>ErrorTlfSi</label>
        </rules>
    </decisions>
    <decisions>
        <name>ErrorTlf2Tit</name>
        <label>ErrorTlf2Tit</label>
        <locationX>1747</locationX>
        <locationY>1095</locationY>
        <defaultConnector>
            <targetReference>RequerirDatosContactos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>ErrorTlf2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RespuestaTLF</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AisgErrorTlf2Tit</targetReference>
            </connector>
            <label>ErrorTlf2</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha encontrado una cuenta con los datos del 2º titular</description>
        <name>Existe_el_2_Titular</name>
        <label>¿Existe el 2º Titular?</label>
        <locationX>2321</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>CreacionSegundoTitular</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existe 2º Titular</defaultConnectorLabel>
        <rules>
            <name>SIExiste2Titular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdCuentaExistente2Titular</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RolSegundoTitOpo</targetReference>
            </connector>
            <label>SI Existe 2º titular</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opcion_para_que_destinaste_el_prestamo</name>
        <label>Opción para que destinaste el préstamo</label>
        <locationX>493</locationX>
        <locationY>429</locationY>
        <defaultConnector>
            <targetReference>Pantalla_Anio_Hipoteca</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No_compra_vivienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParaQueDestinastePrestamo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nofueparacomprarunavivienda</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulario_Contacto_Asesor</targetReference>
            </connector>
            <label>No compra vivienda</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpcionAnioHipoteca</name>
        <label>Opción Año Hipoteca</label>
        <locationX>373</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Pantalla_Documentacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Posterior_a_2016</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnioHipNum</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2016.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulario_Contacto_Asesor</targetReference>
            </connector>
            <label>Posterior a 2016</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpcionDocumentacion</name>
        <label>Opción Documentación</label>
        <locationX>561</locationX>
        <locationY>748</locationY>
        <defaultConnector>
            <targetReference>Adjuntar_Documentacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si Escritura</defaultConnectorLabel>
        <rules>
            <name>No_Escritura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X1_Escrituras_del_pr_stamo_hipotecario_novaciones_y_ampliaciones_que_se_hayan_re</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulario_Contacto_Asesor</targetReference>
            </connector>
            <label>No Escritura</label>
        </rules>
    </decisions>
    <decisions>
        <name>PersonaImplicada</name>
        <label>Cuantos titulares</label>
        <locationX>1142</locationX>
        <locationY>860</locationY>
        <defaultConnector>
            <targetReference>Formulario_Contacto_Asesor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mas de 2 titulares o 2º titular no informado</defaultConnectorLabel>
        <rules>
            <name>TitularUnico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HayVariosTitularesDelPrestamo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoMasTitulares</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerPago</targetReference>
            </connector>
            <label>Titular único</label>
        </rules>
        <rules>
            <name>X2_Titulares</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HayVariosTitularesDelPrestamo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si2Titulares</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequerirDatosContactos</targetReference>
            </connector>
            <label>2 Titulares</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si tiene el titular consentimiento para proporcionar los datos del 2º titular</description>
        <name>Tiene_consentimiento_para_proporcionar_los_datos_del_2_Titular</name>
        <label>¿Tiene consentimiento para proporcionar los datos del 2º Titular?</label>
        <locationX>2141</locationX>
        <locationY>1146</locationY>
        <defaultConnector>
            <targetReference>RequerirDatosContactos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiConsentimientoDatosSegundoTitular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckConsentimientoParaSegundoTitular</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Cuenta_2_Titular</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidacionesCorrectas</name>
        <label>ValidacionesCorrectas</label>
        <locationX>1509</locationX>
        <locationY>1476</locationY>
        <defaultConnector>
            <targetReference>ErrorTlf</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SIdni</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RespuestaValidar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetearError</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidacionesCorrectas2Tit</name>
        <label>ValidacionesCorrectas2Tit</label>
        <locationX>1761</locationX>
        <locationY>1429</locationY>
        <defaultConnector>
            <targetReference>Tiene_consentimiento_para_proporcionar_los_datos_del_2_Titular</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SinErrores</defaultConnectorLabel>
        <rules>
            <name>SierrorVal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RespuestaValidar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoCorrecto2</targetReference>
            </connector>
            <label>SierrorVal</label>
        </rules>
    </decisions>
    <description>Flujo que se muestra en la comunidad para gestionar los gatos hipotecarios
     - 20191002 ppt de modificaciones</description>
    <dynamicChoiceSets>
        <description>Datos de la cuenta del 2º titular que se ha encontrado por tener el mismo correo electrónico que el indicado por el cliente que está contratando el producto</description>
        <name>CuentaExistente2Titular</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IdCuentaExistente2Titular</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <formulas>
        <name>AnioHipNum</name>
        <dataType>Number</dataType>
        <expression>VALUE({!AnioHipoteca})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AsuntoCaso</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.GastosHipCasoAsunto__c}</expression>
    </formulas>
    <formulas>
        <description>Información que se muestra en la hoja de encargo sobre los datos del segundo titular</description>
        <name>Datos2TitularHojaEncargo</name>
        <dataType>String</dataType>
        <expression>if({!DNISec} != null &amp;&amp; {!DNISec}!= &quot;&quot; , &quot; y Don/Doña &quot; &amp;{!NombreSec}&amp;&quot; , con D.N.I &quot;&amp;{!DNISec}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>DescripcionDelCaso</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.GastosHipCasoDescripcion__c}</expression>
    </formulas>
    <formulas>
        <name>DescripcionPago</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.FlujoCasoTipo__c}</expression>
    </formulas>
    <formulas>
        <name>enlaceFAQs</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;a href=&quot;&apos;&amp;{!$Setup.DatosFlujo__c.GastosHipFAQs__c}&amp;&apos;&quot;&gt;Preguntas frecuentes sobre la hoja de encargo&lt;/a&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>ErrorDNI</name>
        <dataType>String</dataType>
        <expression>IF( {!BErrorDNI} == true,&apos;&lt;b style=&quot;color: red;&quot;&gt;&apos;&amp;{!ErroresValidacionDNI}&amp;&apos;&lt;/b&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>Texto de Error si no existen ficheros cargados</description>
        <name>ErrorDocTexto</name>
        <dataType>String</dataType>
        <expression> IF( {!FicherosCargados} == false ,&apos;&lt;b style=&quot;color: red;&quot;&gt; Debe cargar los ficheros antes de continuar &lt;/b&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>Mensaje de error para indicar que tiene que tener el consentimiento del 2º titular</description>
        <name>ErrorSinConsentimientoDatos2Titular</name>
        <dataType>String</dataType>
        <expression> IF( {!CheckConsentimientoParaSegundoTitular} == false ,&apos;&lt;b style=&quot;color: red;&quot;&gt; Debe tener el consentimiento de la otra persona para poder continuar &lt;/b&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>ErrorTlfTxt</name>
        <dataType>String</dataType>
        <expression>IF( {!BErrorTlf} == true,&apos;&lt;b style=&quot;color: red;&quot;&gt;&apos;&amp;{!ErroresValidacionTlf}&amp;&apos;&lt;/b&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>etiquetaError</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlujoErrorGenerico}</expression>
    </formulas>
    <formulas>
        <description>Id del contacto que ha iniciado sesión en la comunidad</description>
        <name>IdContacto</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <description>Id del tipo de registro de las cuentas personales</description>
        <name>IdTipoRegistroCuentaPersonal</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.IDTipoRegistroCuentaPersonal__c}</expression>
    </formulas>
    <formulas>
        <description>Id del usuario</description>
        <name>IdUsuario</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>MotivoDelCaso</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.FlujoCasoMotivo__c}</expression>
    </formulas>
    <formulas>
        <name>NombreOportunidad</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.GastosHipNombreOpp__c}</expression>
    </formulas>
    <formulas>
        <description>Mensaje que se muestra al cliente indicando que el producto que va a contratar es gratis por haber contratado ya otro producto</description>
        <name>ProductoGratis</name>
        <dataType>String</dataType>
        <expression>IF({!RealizaPagos} == false , &quot;Por ser cliente contrata ahora sin coste adicional&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Rol del segundo titular que le asignaremos a la oportunidad</description>
        <name>RolSegundoTitular</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.RolSegundoTitular__c}</expression>
    </formulas>
    <formulas>
        <name>TipoDelCaso</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.FlujoCasoTipo__c}</expression>
    </formulas>
    <interviewLabel>Gastos Hipotecarios {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gastos Hipotecarios</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreacionCaso</name>
        <label>Creación del Caso</label>
        <locationX>982</locationX>
        <locationY>347</locationY>
        <assignRecordIdToReference>IdCasoCreado</assignRecordIdToReference>
        <connector>
            <targetReference>Ir_al_caso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescripcionDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>MotivoDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AsuntoCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TipoDelCaso</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creación del Rol de contacto del segundo titular para la oportunidad creada al principio del flujo</description>
        <name>RolSegundoTitOpo</name>
        <label>RolSegundoTitOpo</label>
        <locationX>2106</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>IdOportunityContactRolSegundoTit</assignRecordIdToReference>
        <connector>
            <targetReference>Actualizacion_Contratacion_Online_existente_2_Titular</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>IdCuentaExistente2Titular</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>RolSegundoTitular</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <description>Buscamos si existe alguna cuenta que tenga como email el indicado para el segundo titular</description>
        <name>Buscar_Cuenta_2_Titular</name>
        <label>Buscar Cuenta 2º Titular</label>
        <locationX>2337</locationX>
        <locationY>1180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_el_2_Titular</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DocumentoIdentidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DNISec</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IdCuentaExistente2Titular</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Objeto de Cuenta relacionada con el Contacto</description>
        <name>CuentaRelacionada</name>
        <label>Cuenta Relacionada</label>
        <locationX>344</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ComprobarPago</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountDNI</assignToReference>
            <field>DocumentoIdentidad__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountTipoDoc</assignToReference>
            <field>TipoDocumento__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObtenerContacto</name>
        <label>ObtenerContacto</label>
        <locationX>201</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CuentaRelacionada</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContacto</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>IdCuentaRelacionada</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailContacto</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreContacto</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelefonoContacto</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObtenerPago</name>
        <label>Obtener Cantidad Pago</label>
        <locationX>1552</locationX>
        <locationY>765</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hojaencargo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <object>CommunityOpp__c</object>
        <outputAssignments>
            <assignToReference>CantidadPago</assignToReference>
            <field>CantidadPagar__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ActualizacionAnoMayor2016</name>
        <label>Actualización Contractación Online Año &gt; 2016</label>
        <locationX>166</locationX>
        <locationY>570</locationY>
        <connector>
            <targetReference>OpcionAnioHipoteca</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnoHipoteca__c</field>
            <value>
                <elementReference>AnioHipoteca</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DestinoPrestamo__c</field>
            <value>
                <elementReference>ParaQueDestinastePrestamo</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizacionopcionD</name>
        <label>Actualización Contratación Online opción d</label>
        <locationX>505</locationX>
        <locationY>304</locationY>
        <connector>
            <targetReference>Opcion_para_que_destinaste_el_prestamo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DestinoPrestamo__c</field>
            <value>
                <elementReference>ParaQueDestinastePrestamo</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_FinFlujo</name>
        <label>Actualizar ContrOnline FinFlujo</label>
        <locationX>1027</locationX>
        <locationY>727</locationY>
        <connector>
            <targetReference>AcuerdoHojaEncargo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OKHojaEncargo__c</field>
            <value>
                <elementReference>CasillaSiHojaEncargo</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarAntesficheros</name>
        <label>Actualizar Contratación Online antes de ficheros</label>
        <locationX>424</locationX>
        <locationY>747</locationY>
        <connector>
            <targetReference>OpcionDocumentacion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnoHipoteca__c</field>
            <value>
                <elementReference>AnioHipoteca</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CartaPago__c</field>
            <value>
                <elementReference>X6_Carta_de_Pago_del_Impuesto_de_Actos_Jur_dicos_Documentados</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DestinoPrestamo__c</field>
            <value>
                <elementReference>ParaQueDestinastePrestamo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscriturasPrestamo__c</field>
            <value>
                <elementReference>X1_Escrituras_del_pr_stamo_hipotecario_novaciones_y_ampliaciones_que_se_hayan_re</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FacturaGestoria__c</field>
            <value>
                <elementReference>X2_Factura_de_la_Gestor_a</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FacturaNotaria__c</field>
            <value>
                <elementReference>X4_Factura_de_la_Notar_a</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FacturaRegistroPropiedad__c</field>
            <value>
                <elementReference>X5_Factura_del_Registrode_la_Propiedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FacturaTasacion__c</field>
            <value>
                <elementReference>X3_Factura_de_la_Tasaci_n</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITP__c</field>
            <value>
                <elementReference>X8_ITP_por_Afianzamiento_en_el_caso_de_existir_dicha_liquidaci_n_abonada_por_el</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos el registro para guardar los datos proporcionados y al ser más de 2 titulares redirigir a la página para abrir un caso</description>
        <name>ActualizarContratacionOnlineVariosTitulares</name>
        <label>Actualizar Contratación Online Varios Titulares</label>
        <locationX>1128</locationX>
        <locationY>1057</locationY>
        <connector>
            <targetReference>PersonaImplicada</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DNI__c</field>
            <value>
                <elementReference>accountDNI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direccion__c</field>
            <value>
                <elementReference>Direccion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefono__c</field>
            <value>
                <elementReference>TelefonoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TieneVariosTitulares__c</field>
            <value>
                <elementReference>HayVariosTitularesDelPrestamo</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <screens>
        <name>Adjuntar_Documentacion</name>
        <label>Adjuntar Documentación</label>
        <locationX>608</locationX>
        <locationY>960</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActualizarClausula</targetReference>
        </connector>
        <fields>
            <name>FlujoDocumentacionpaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgDocuPaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TituloAdjuntaDocumentacionDisponible</name>
            <fieldText>&lt;h2&gt;&lt;b style=&quot;font-size: 18px; color: rgb(233, 90, 19);&quot;&gt;Adjunta la documentación disponible&lt;/b&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Clausula</name>
            <fieldText>&lt;p&gt;&lt;b&gt;1.- Clausula 5 de la escritura &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CargaDocumentacionClau</name>
            <extensionName>c:SubirDocumentacionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>idRegistro</name>
                <value>
                    <elementReference>IdContratacionOnline</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelUpload</name>
                <value>
                    <elementReference>SubirDocumento</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IdClausulaFich</assignToReference>
                <name>idDocumento</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ErrorDoc</name>
            <fieldText>{!ErrorDocTexto}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FacturaGestoria</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;2.-Factura de la Gestoría&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CargaDocumentacionFacGest</name>
            <extensionName>c:SubirDocumentacionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelUpload</name>
                <value>
                    <elementReference>SubirDocumento</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>idRegistro</name>
                <value>
                    <elementReference>IdContratacionOnline</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IdFacGestFich</assignToReference>
                <name>idDocumento</name>
            </outputParameters>
        </fields>
        <fields>
            <name>FacturaTasacion</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;3.-Factura de la Tasación&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CargaDocumentacionFacTas</name>
            <extensionName>c:SubirDocumentacionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelUpload</name>
                <value>
                    <elementReference>SubirDocumento</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>idRegistro</name>
                <value>
                    <elementReference>IdContratacionOnline</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IdFacTasFich</assignToReference>
                <name>idDocumento</name>
            </outputParameters>
        </fields>
        <fields>
            <name>FacturaNotaria</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;4.-Factura de la Notaría&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CargaDocumentacionFacNot</name>
            <extensionName>c:SubirDocumentacionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelUpload</name>
                <value>
                    <elementReference>SubirDocumento</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>idRegistro</name>
                <value>
                    <elementReference>IdContratacionOnline</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IdFacNotFich</assignToReference>
                <name>idDocumento</name>
            </outputParameters>
        </fields>
        <fields>
            <name>FacturaRegistro</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;5.-Factura del Registro de la Propiedad&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CargaDocumentacionFacReg</name>
            <extensionName>c:SubirDocumentacionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelUpload</name>
                <value>
                    <elementReference>SubirDocumento</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>idRegistro</name>
                <value>
                    <elementReference>IdContratacionOnline</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IdFacRegFich</assignToReference>
                <name>idDocumento</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CartaPago</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;6.-Carta de Pago del Impuesto de Actos Jurídicos Documentados&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CargaDocumentacionCarta</name>
            <extensionName>c:SubirDocumentacionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelUpload</name>
                <value>
                    <elementReference>SubirDocumento</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>idRegistro</name>
                <value>
                    <elementReference>IdContratacionOnline</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IdCartaFich</assignToReference>
                <name>idDocumento</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ITP</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;7.- ITP por Afinamiento (en el caso de existir dicha liquidación abonada por el cliente)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CargaDocumentacionITP</name>
            <extensionName>c:SubirDocumentacionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelUpload</name>
                <value>
                    <elementReference>SubirDocumento</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>idRegistro</name>
                <value>
                    <elementReference>IdContratacionOnline</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IdITPFich</assignToReference>
                <name>idDocumento</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Destino_Prestamo</name>
        <label>Destino Prestamo</label>
        <locationX>507</locationX>
        <locationY>185</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActualizacionopcionD</targetReference>
        </connector>
        <fields>
            <name>ProductoGratisPantala</name>
            <fieldText>&lt;b&gt;{!ProductoGratis}&lt;/b&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlujoPrimerPaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgPrimerpaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TituloInicial</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(233, 90, 19); font-size: 20px;&quot;&gt;A continuación te vamos a realizar 2 preguntas para poder gestionar tu caso&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ParaQueDestinastePrestamo</name>
            <choiceReferences>Paracomprarviviendahabitual</choiceReferences>
            <choiceReferences>Paracomprarsegundavivienda</choiceReferences>
            <choiceReferences>Paracomprarunaviviendadestinadaaalquiler</choiceReferences>
            <choiceReferences>Nofueparacomprarunavivienda</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Paracomprarviviendahabitual</defaultSelectedChoiceReference>
            <fieldText>¿Para qué destinaste el préstamo?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;“Recuerda que puedes reclamar aunque tu hipoteca esté cancelada&lt;/i&gt;&lt;span style=&quot;font-size: 14px; color: rgb(66, 63, 61); background-color: rgb(255, 255, 255);&quot;&gt;”&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(233, 90, 19); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Formulario_Contacto_Asesor</name>
        <label>Formulario Contacto Asesor</label>
        <locationX>718</locationX>
        <locationY>529</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreacionCaso</targetReference>
        </connector>
        <fields>
            <name>ImagenCaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgCasoPantll</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>100px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>100px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Titulo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(233, 90, 19); font-size: 20px;&quot;&gt;Un asesor se pondrá en contacto contigo para continuar tu reclamación&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FormaContacto</name>
            <fieldText>¿Cómo prefieres que contactemos contigo?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Telefono</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Teléfono</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>TelefonoContacto</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>correo@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>EmailContacto</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Otro</name>
            <dataType>String</dataType>
            <fieldText>Otro</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Escribe aquí cómo quieres que te contactemos</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fecha_Hora_de_llamada</name>
            <dataType>DateTime</dataType>
            <fieldText>Fecha/Hora de llamada</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Elige a qué hora quieres que te llamemos</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GraciasContrato</name>
        <label>GraciasContrato</label>
        <locationX>1465</locationX>
        <locationY>365</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedireccionExpediente</targetReference>
        </connector>
        <fields>
            <name>FlujoContratacionPaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgContratacionPaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TxtGracias</name>
            <fieldText>&lt;h2&gt;&lt;b&gt;Gracias por contratar la reclamación de tu caso con Arriaga Asociados.&lt;/b&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Hojaencargo</name>
        <label>Hoja de encargo</label>
        <locationX>1367</locationX>
        <locationY>719</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualizar_FinFlujo</targetReference>
        </connector>
        <fields>
            <name>FlujoContratacionpasoUno</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgContratacionPaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TituloHojaEncargo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(233, 90, 19);&quot;&gt;Este es el contrato que firmas con Arriaga Asociados&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FAQs</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!enlaceFAQs}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PDFHojaEncargo</name>
            <extensionName>c:FlujoHojaEncargoVF</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>idOpp</name>
                <value>
                    <elementReference>IdOportunidad</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CasillaSiHojaEncargo</name>
            <dataType>Boolean</dataType>
            <fieldText>Estoy de acuerdo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TxtInfoPago</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Al aceptar la hoja de encargo y continuar el proceso, realizarás el pago de &lt;/i&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!CantidadPago}&lt;/i&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;€&lt;/span&gt;&lt;i style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; correspondiente a la contratación&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Redirigir al usuario al caso que se ha creado</description>
        <name>Ir_al_caso</name>
        <label>Ir al caso</label>
        <locationX>982</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CasoCreado</name>
            <extensionName>c:NavigateToURL</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>URL</name>
                <value>
                    <stringValue>/case/{!IdCasoCreado}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isredirect</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Anio_Hipoteca</name>
        <label>Pantalla Año Hipoteca</label>
        <locationX>272</locationX>
        <locationY>452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActualizacionAnoMayor2016</targetReference>
        </connector>
        <fields>
            <name>FlujoSegundopaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgPrimerpaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AnioHipoteca</name>
            <dataType>String</dataType>
            <fieldText>¿En qué año contrataste tu hipoteca?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Por favor, contesta correctamente esta pregunta para continuar&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(LEN({!AnioHipoteca}) = 4 , ISNUMBER({!AnioHipoteca}))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Documentacion</name>
        <label>Pantalla Documentación</label>
        <locationX>268</locationX>
        <locationY>744</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActualizarAntesficheros</targetReference>
        </connector>
        <fields>
            <name>FlujoDocumentacionpasoUno</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgDocuPaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TituloDocumentacion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(233, 90, 19); font-size: 20px;&quot;&gt;Necesitaremos algunos documentos. ¿Cuál de los siguientes tienes localizados?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X1_Escrituras_del_pr_stamo_hipotecario_novaciones_y_ampliaciones_que_se_hayan_re</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>1-Escrituras del préstamo hipotecario, novaciones y ampliaciones que se hayan realizado.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X2_Factura_de_la_Gestor_a</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>2-Factura de la Gestoría.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X3_Factura_de_la_Tasaci_n</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>3-Factura de la Tasación.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X4_Factura_de_la_Notar_a</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>4-Factura de la Notaría.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X5_Factura_del_Registrode_la_Propiedad</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>5-Factura del Registro de la Propiedad.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X6_Carta_de_Pago_del_Impuesto_de_Actos_Jur_dicos_Documentados</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>6-Carta de Pago del Impuesto de Actos Jurídicos Documentados.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X8_ITP_por_Afianzamiento_en_el_caso_de_existir_dicha_liquidaci_n_abonada_por_el</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>7-ITP por Afianzamiento (en el caso de existir dicha liquidación abonada por el cliente)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaError</name>
        <label>PantallaError</label>
        <locationX>2152</locationX>
        <locationY>81</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;{!etiquetaError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RealizarPago</name>
        <label>RealizarPago</label>
        <locationX>1237</locationX>
        <locationY>621</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Peticionpago</name>
            <extensionName>c:RedsysLlamadaServicio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>amount</name>
                <value>
                    <elementReference>CantidadPago</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <elementReference>DescripcionPago</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Name</name>
                <value>
                    <elementReference>NombreContacto</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>oportunidadId</name>
                <value>
                    <elementReference>IdOportunidad</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PagoCero</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RedireccionExpediente</name>
        <label>Redirección Expediente</label>
        <locationX>1592</locationX>
        <locationY>365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedireccionExpedientePagoCero</name>
            <extensionName>c:RedsysLlamadaServicio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Expediente</name>
                <value>
                    <elementReference>URLExpediente</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PagoCero</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RequerirDatosContacto</name>
        <label>RequerirDatosContacto</label>
        <locationX>1033</locationX>
        <locationY>1498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CambioTelefono</targetReference>
        </connector>
        <fields>
            <name>FlujoContratPaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgContratacionPaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DatosContrato</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(233, 90, 19);&quot;&gt;Para redactar&amp;nbsp;tu contrato, necesitamos los siguientes datos&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>visualizarNombreCorreo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Nombre&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!NombreContacto}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Correo electrónico&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!EmailContacto}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;DNI&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!accountDNI}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorPagTlf</name>
            <fieldText>{!ErrorTlfTxt}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TelefonoClienteTxt</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TelefonoCliente</elementReference>
            </defaultValue>
            <fieldText>Teléfono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Direccion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Direccion</elementReference>
            </defaultValue>
            <fieldText>Dirección</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HayVariosTitularesDelPrestamo</name>
            <choiceReferences>NoMasTitulares</choiceReferences>
            <choiceReferences>Si2Titulares</choiceReferences>
            <choiceReferences>SiMasDe2Titulares</choiceReferences>
            <choiceReferences>Si2TitularesNoInformado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Hay otro titular del préstamo y dicho titular tiene voluntad de realizar la reclamación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RequerirDatosContactos</name>
        <label>Requerir Datos Contactos</label>
        <locationX>1497</locationX>
        <locationY>1036</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validacion2Titular</targetReference>
        </connector>
        <fields>
            <name>Secundario</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(233, 90, 19); font-size: 20px;&quot;&gt;Contacto implicado en la contratación&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NombreSec</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NombreSec</elementReference>
            </defaultValue>
            <fieldText>Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CorreoSec</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CorreoSec</elementReference>
            </defaultValue>
            <fieldText>Correo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErroresPagDNI2</name>
            <fieldText>{!ErrorDNI}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TipoDocumento</name>
            <choiceReferences>TipoDoc_CIF</choiceReferences>
            <choiceReferences>TipoDoc_DNI</choiceReferences>
            <choiceReferences>TipoDoc_NIE</choiceReferences>
            <choiceReferences>TipoDoc_Pass</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TipoDoc_DNI</defaultSelectedChoiceReference>
            <fieldText>Tipo de documento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DNISec</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DNISec</elementReference>
            </defaultValue>
            <fieldText>DNI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErroresPagTlf2</name>
            <fieldText>{!ErrorTlfTxt}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TelefonoSec</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TelefonoSec</elementReference>
            </defaultValue>
            <fieldText>Teléfono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MensajeErrorNoConsentimiento2Titular</name>
            <fieldText>{!ErrorSinConsentimientoDatos2Titular}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TieneConsentimientoDeLaOtraPersonaParaProporcionarnosSusDatos</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Al facilitar datos de terceros manifiesta que tiene el consentimiento de su titular. Arriaga Asociados remitirá un correo electrónico a la dirección facilitada en cumplimiento del artículo 14 del Reglamento General de Protección de Datos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Si</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CheckConsentimientoParaSegundoTitular</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>ObtenerContacto</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Actualizaci_nFacNotaria</name>
        <label>ActualizaciónFacNotaría</label>
        <locationX>177</locationX>
        <locationY>1153</locationY>
        <connector>
            <targetReference>ActualizacionFacturaReg</targetReference>
        </connector>
        <flowName>ActualizarNombreDocumentoAdjunto</flowName>
        <inputAssignments>
            <name>ListIdRegistro</name>
            <value>
                <elementReference>IdFacNotFich</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreRegistro</name>
            <value>
                <stringValue>Factura de la Notaría</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExisteIdFacNot</assignToReference>
            <name>Existe</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ActualizacionCarta</name>
        <label>ActualizaciónCarta</label>
        <locationX>437</locationX>
        <locationY>1147</locationY>
        <connector>
            <targetReference>ActualizacionComprobante</targetReference>
        </connector>
        <flowName>ActualizarNombreDocumentoAdjunto</flowName>
        <inputAssignments>
            <name>ListIdRegistro</name>
            <value>
                <elementReference>IdCartaFich</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreRegistro</name>
            <value>
                <stringValue>Carta de Pago del Impuesto ActJurídicos</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExisteIdCarta</assignToReference>
            <name>Existe</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ActualizacionComprobante</name>
        <label>ActualizaciónComprobante</label>
        <locationX>594</locationX>
        <locationY>1105</locationY>
        <connector>
            <targetReference>ActualizacionItp</targetReference>
        </connector>
        <flowName>ActualizarNombreDocumentoAdjunto</flowName>
        <inputAssignments>
            <name>ListIdRegistro</name>
            <value>
                <elementReference>IdComprFich</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreRegistro</name>
            <value>
                <stringValue>Comprobante de pago de la comisión de Apertura</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExisteIdCompr</assignToReference>
            <name>Existe</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ActualizacionFacturaReg</name>
        <label>ActualizaciónFacturaReg</label>
        <locationX>300</locationX>
        <locationY>1138</locationY>
        <connector>
            <targetReference>ActualizacionCarta</targetReference>
        </connector>
        <flowName>ActualizarNombreDocumentoAdjunto</flowName>
        <inputAssignments>
            <name>ListIdRegistro</name>
            <value>
                <elementReference>IdFacRegFich</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreRegistro</name>
            <value>
                <stringValue>Factura del Registro de la Propiedad</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExisteIdFacReg</assignToReference>
            <name>Existe</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ActualizacionItp</name>
        <label>ActualizaciónItp</label>
        <locationX>740</locationX>
        <locationY>1018</locationY>
        <connector>
            <targetReference>ComprobarDocumentacion</targetReference>
        </connector>
        <flowName>ActualizarNombreDocumentoAdjunto</flowName>
        <inputAssignments>
            <name>ListIdRegistro</name>
            <value>
                <elementReference>IdITPFich</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreRegistro</name>
            <value>
                <stringValue>ITP por Afianzamiento</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExisteIdITP</assignToReference>
            <name>Existe</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ActualizarClausula</name>
        <label>ActualizarClausula</label>
        <locationX>452</locationX>
        <locationY>993</locationY>
        <connector>
            <targetReference>ActualizarFacGestoria</targetReference>
        </connector>
        <flowName>ActualizarNombreDocumentoAdjunto</flowName>
        <inputAssignments>
            <name>ListIdRegistro</name>
            <value>
                <elementReference>IdClausulaFich</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreRegistro</name>
            <value>
                <stringValue>Clausula 5 de la escritura</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExisteIdClausula</assignToReference>
            <name>Existe</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Se actualiza los datos del contacto justo antes de realizar la contratación y solo si el DNI esta vacío</description>
        <name>ActualizarContacto</name>
        <label>ActualizarContacto</label>
        <locationX>730</locationX>
        <locationY>1317</locationY>
        <connector>
            <targetReference>RequerirDatosContacto</targetReference>
        </connector>
        <flowName>ActualizacionContacto</flowName>
        <inputAssignments>
            <name>IdCuentaRelacionada</name>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>accountDNI</assignToReference>
            <name>dniCargado</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ActualizarFacGestoria</name>
        <label>ActualizarFacGestoría</label>
        <locationX>304</locationX>
        <locationY>996</locationY>
        <connector>
            <targetReference>ActualizarFacTasacion</targetReference>
        </connector>
        <flowName>ActualizarNombreDocumentoAdjunto</flowName>
        <inputAssignments>
            <name>ListIdRegistro</name>
            <value>
                <elementReference>IdFacGestFich</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreRegistro</name>
            <value>
                <stringValue>Factura de la Gestoría</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExisteIdFacGest</assignToReference>
            <name>Existe</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ActualizarFacTasacion</name>
        <label>ActualizarFacTasación</label>
        <locationX>182</locationX>
        <locationY>1000</locationY>
        <connector>
            <targetReference>Actualizaci_nFacNotaria</targetReference>
        </connector>
        <flowName>ActualizarNombreDocumentoAdjunto</flowName>
        <inputAssignments>
            <name>ListIdRegistro</name>
            <value>
                <elementReference>IdFacTasFich</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreRegistro</name>
            <value>
                <stringValue>Factura de la Tasación</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExisteIdFacTas</assignToReference>
            <name>Existe</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Documento Identidad de la cuenta relacionada</description>
        <name>accountDNI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Tipo de documento de identidad de la cuenta relacionada</description>
        <name>accountTipoDoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApellidosContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BErrorDNI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BErrorTlf</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CantidadPago</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable para guardar si el titular tiene el consentimiento para proporcionar los datos del segundo titular</description>
        <name>CheckConsentimientoParaSegundoTitular</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CheckExisteDoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Se ha indicado que el segundo titular tiene la voluntad de iniciar con la reclamación</description>
        <name>CheckSegundoTitularConVoluntadDeIniciarReclamacion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DNINoCorrecto</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErroresValidacionDNI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErroresValidacionTlf</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteIdCarta</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteIdClausula</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteIdCompr</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteIdFacGest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteIdFacNot</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteIdFacReg</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteIdFacTas</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteIdITP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FicherosCargados</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IdCartaFich</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del caso que se ha creado</description>
        <name>IdCasoCreado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdClausulaFich</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdComprFich</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContratacionOnline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id de la cuenta personal del segundo titular que tiene el mismo correo electrónico</description>
        <name>IdCuentaExistente2Titular</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCuentaRelacionada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id de la cuenta creada con la información del segundo titular</description>
        <name>IdCuentaSegundoTitular</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdDocClausula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdFacGestFich</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdFacNotFich</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdFacRegFich</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdFacTasFich</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdITPFich</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del rol del segundo Titular</description>
        <name>IdOportunityContactRolSegundoTit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPagoCero</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPriceBook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPriceBookEntry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductoActivo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RealizaPagos</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistroDoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Respuesta de la validación, puede ser OK o el mensaje</description>
        <name>Respuesta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RespuestaTLF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RespuestaValidar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StaticImgCasoPantll</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FlujoImgCrearCaso</stringValue>
        </value>
    </variables>
    <variables>
        <name>StaticImgContratacionPaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FlujoContratPaso</stringValue>
        </value>
    </variables>
    <variables>
        <description>Imagen estática Documentación</description>
        <name>StaticImgDocuPaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FlujoDocumentacionPaso</stringValue>
        </value>
    </variables>
    <variables>
        <name>StaticImgPrimerpaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FlujoPrimerPaso</stringValue>
        </value>
    </variables>
    <variables>
        <name>SubirDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Subir Documento</stringValue>
        </value>
    </variables>
    <variables>
        <description>Teléfono del cliente que  proporciona en el formulario</description>
        <name>TelefonoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelefonoContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Se recupera el tipo de cuenta que es el cliente (Cliente potencial o cliente)</description>
        <name>TipoCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>URLExpediente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
