force-app/main/default/flows/GetEmailAddress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Clear_PersonEmail</name>
        <label>Clear PersonEmail</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>resultAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Use_Primary_Contact_Email</name>
        <label>Use Primary Contact Email</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>resultAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryContact.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Change_Result_Email_decision</name>
        <label>Change Result Email?</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Clear_PersonEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Clear</defaultConnectorLabel>
        <rules>
            <name>Change_Result_Email_decision_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resultAccount.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cuenta_Personal.Id</elementReference>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
        <rules>
            <name>Change_Result_Email_decision_ContactEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>resultAccount.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Business_Account.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>resultAccount.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Persona_Juridica.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrimaryContact</targetReference>
            </connector>
            <label>Change to Contact Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Resenas - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resenas - Get Email Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cuenta_Personal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>resultAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Business_Account</name>
        <label>Business Account</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Persona_Juridica</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Cuenta_Personal</name>
        <label>Cuenta Personal</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Persona_Juridica</name>
        <label>Persona Juridica</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Result_Email_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonaJuridica</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PrimaryContact</name>
        <label>PrimaryContact</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Use_Primary_Contact_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RepresentanteLegal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
