force-app/main/default/flows/HandleNewOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Trustpilot_Link</name>
        <label>Get Trustpilot Link</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <actionName>TrustpilotGetInvitationLinkInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Use_Trustpilot_assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>Get_Email_Address.resultAccount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TrustpilotGetInvitationLinkInvocable</nameSegment>
        <outputParameters>
            <assignToReference>link</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Use_Google_assignment</name>
        <label>Use Google</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>socialNetwork</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Google</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>link</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>googleLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>populate_record_assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_Trustpilot_assignment</name>
        <label>Use Trustpilot</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>socialNetwork</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TrustPilot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>populate_record_assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Oficina_Virtual_decision</name>
        <label>Oficina Virtual?</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Use_Google_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Oficina_Virtual_decision_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Office__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Oficina Virtual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Trustpilot_Link</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>googleLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://search.google.com/local/writereview?placeid=&quot; &amp; {!$Record.Office__r.IdExternoOficinaLink__c}</expression>
    </formulas>
    <interviewLabel>Resenas - Handle New Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resenas - Handle New Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>populate_record_assignment</name>
        <label>Populate Opportunity Fields</label>
        <locationX>374</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>ClientEmail__c</field>
            <value>
                <elementReference>Get_Email_Address.resultAccount.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientName__c</field>
            <value>
                <elementReference>Get_Email_Address.resultAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReviewUrl__c</field>
            <value>
                <elementReference>link</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SocialNetwork__c</field>
            <value>
                <elementReference>socialNetwork</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Office__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Office__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Email_Address</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Email_Address</name>
        <label>Get Email Address</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Oficina_Virtual_decision</targetReference>
        </connector>
        <flowName>GetEmailAddress</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>link</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>socialNetwork</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
