force-app/main/default/flows/HandleNewCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Invitation_Link_action</name>
        <label>Get Invitation Link</label>
        <locationX>176</locationX>
        <locationY>708</locationY>
        <actionName>TrustpilotGetInvitationLinkInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>populate_record_assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>Get_Email_Address.resultAccount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TrustpilotGetInvitationLinkInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Chequeo_RecordType_Caso</name>
        <label>Chequeo RecordType Caso</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>No Aplica</defaultConnectorLabel>
        <rules>
            <name>Procesal_o_ATC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rercordtype_de_Case_ATC.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rercordtype_de_Case_Procesal.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Address</targetReference>
            </connector>
            <label>Procesal o ATC</label>
        </rules>
    </decisions>
    <description>Fix Mials Masivos
Ruta Alternativa si error</description>
    <environments>Default</environments>
    <interviewLabel>Resenas - Handle New Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resenas - Handle New Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Rercordtype_de_Case_ATC</name>
        <label>Rercordtype de Case ATC</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chequeo_RecordType_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Rercordtype_de_Case_Procesal</name>
        <label>Rercordtype de Case Procesal</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rercordtype_de_Case_ATC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Procesal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>populate_record_assignment</name>
        <label>Populate Case Fields</label>
        <locationX>176</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>ClientEmail__c</field>
            <value>
                <elementReference>Get_Email_Address.resultAccount.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientName__c</field>
            <value>
                <elementReference>Get_Email_Address.resultAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReviewUrl__c</field>
            <value>
                <elementReference>Get_Invitation_Link_action</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Rercordtype_de_Case_Procesal</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Email_Address</name>
        <label>Get Email Address</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Get_Invitation_Link_action</targetReference>
        </connector>
        <flowName>GetEmailAddress</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
