force-app/main/default/flows/HandleNewCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Invitation_Link_action</name>
        <label>Get Invitation Link</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <actionName>TrustpilotGetInvitationLinkInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>populate_record_assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>Get_Email_Address.resultAccount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TrustpilotGetInvitationLinkInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Resenas - Handle New Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resenas - Handle New Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>populate_record_assignment</name>
        <label>Populate Case Fields</label>
        <locationX>308</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>ClientEmail__c</field>
            <value>
                <elementReference>Get_Email_Address.resultAccount.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientName__c</field>
            <value>
                <elementReference>Get_Email_Address.resultAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReviewUrl__c</field>
            <value>
                <elementReference>Get_Invitation_Link_action</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Email_Address</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Email_Address</name>
        <label>Get Email Address</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Get_Invitation_Link_action</targetReference>
        </connector>
        <flowName>GetEmailAddress</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
