force-app/main/default/flows/IRPH.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Actualización mediante la clase Apex Flow_ActualizarContratOnline</description>
        <name>Actualizacion_Contratacion_Online_existente_2_Titular</name>
        <label>Actualización Contratación Online existente 2ºTitular</label>
        <locationX>2355</locationX>
        <locationY>910</locationY>
        <actionName>Flow_ActualizarContratOnline</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AvisoCreacionSegundoTitularExistente</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>segTit</name>
            <value>
                <elementReference>IdCuentaExistente2Titular</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consentimientoSegTit</name>
            <value>
                <stringValue>SI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSegTit</name>
            <value>
                <elementReference>CorreoSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idContratOnline</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tieneVariosTit</name>
            <value>
                <elementReference>HayVariosTitularesDelPrestamo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Flow_ActualizarContratOnline</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Actualización mediante la clase Apex Flow_ActualizarContratOnline</description>
        <name>Actualizacion_Contratacion_Online_nuevo_2_Titular</name>
        <label>Actualización Contratación Online nuevo 2ºTitular</label>
        <locationX>2582</locationX>
        <locationY>685</locationY>
        <actionName>Flow_ActualizarContratOnline</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AvisoCreacionSegundoTitular</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>segTit</name>
            <value>
                <elementReference>IdCuentaSegundoTitular</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consentimientoSegTit</name>
            <value>
                <stringValue>SI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSegTit</name>
            <value>
                <elementReference>CorreoSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idContratOnline</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tieneVariosTit</name>
            <value>
                <elementReference>HayVariosTitularesDelPrestamo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Flow_ActualizarContratOnline</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email al 2º titular indicando la información que se tiene de él</description>
        <name>AvisoCreacionSegundoTitular</name>
        <label>AvisoCreacionSegundoTitular</label>
        <locationX>2391</locationX>
        <locationY>684</locationY>
        <actionName>CommunityOpp__c.AvisoCreacionSegundoTitular</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ObtenerCantidadPago</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CommunityOpp__c.AvisoCreacionSegundoTitular</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email que se manda al 2º titular para informar de los datos que ha introducido el cliente que está contratando el producto</description>
        <name>AvisoCreacionSegundoTitularExistente</name>
        <label>AvisoCreacionSegundoTitularExistente</label>
        <locationX>2188</locationX>
        <locationY>912</locationY>
        <actionName>CommunityOpp__c.AvisoCreacionSegundoTitularExistente</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ObtenerCantidadPago</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CommunityOpp__c.AvisoCreacionSegundoTitularExistente</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BuscarOportunidad</name>
        <label>Buscar Oportunidad</label>
        <locationX>606</locationX>
        <locationY>277</locationY>
        <actionName>ClaseAuxiliarCreacionObjetos</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Preguntas</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>idContratOnline</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idCuenta</name>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idPriceBook</name>
            <value>
                <elementReference>IdPriceBook</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opcion</name>
            <value>
                <stringValue>Buscar Oportunidad</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ClaseAuxiliarCreacionObjetos</nameSegment>
        <outputParameters>
            <assignToReference>IdOportunidad</assignToReference>
            <name>id</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ComprobarPagos</name>
        <label>Comprobar Pagos</label>
        <locationX>449</locationX>
        <locationY>180</locationY>
        <actionName>Flow_ComprobacionPagos</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreacionContraOnline</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>idCuenta</name>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idProducto</name>
            <value>
                <elementReference>IdProducto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productoGratis</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Flow_ComprobacionPagos</nameSegment>
        <outputParameters>
            <assignToReference>IdPriceBook</assignToReference>
            <name>idPriceBook</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>IdPriceBookEntry</assignToReference>
            <name>idPriceBookEntry</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>RealizaPagos</assignToReference>
            <name>pago</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CreacionContraOnline</name>
        <label>Creación Contratación Online</label>
        <locationX>604</locationX>
        <locationY>180</locationY>
        <actionName>ClaseAuxiliarCreacionObjetos</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BuscarOportunidad</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>flujo</name>
            <value>
                <elementReference>NombreOportunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idCuenta</name>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idPriceBook</name>
            <value>
                <elementReference>IdPriceBook</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idPriceBookEntry</name>
            <value>
                <elementReference>IdPriceBookEntry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idProduct</name>
            <value>
                <elementReference>IdProducto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opcion</name>
            <value>
                <stringValue>Contratación Online</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ClaseAuxiliarCreacionObjetos</nameSegment>
        <outputParameters>
            <assignToReference>IdContratacionOnline</assignToReference>
            <name>id</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CreacionExpediente</name>
        <label>Creación Expediente</label>
        <locationX>1514</locationX>
        <locationY>583</locationY>
        <actionName>ClaseAuxiliarCreacionObjetos</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GraciasContrato</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>idCuenta</name>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idOportunidad</name>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idPriceBook</name>
            <value>
                <elementReference>IdPriceBook</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opcion</name>
            <value>
                <stringValue>Expediente</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ClaseAuxiliarCreacionObjetos</nameSegment>
        <outputParameters>
            <assignToReference>IdPagoCero</assignToReference>
            <name>id</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>URLExpediente</assignToReference>
            <name>url</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Llamamos a la clase &quot;Flow_CrearSegundoTitular&quot; que se encarga de crear la cuenta personal para el segundo titular</description>
        <name>CreacionSegundoTitular</name>
        <label>Creación 2º Titular</label>
        <locationX>2788</locationX>
        <locationY>684</locationY>
        <actionName>Flow_CrearSegundoTitular</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Actualizacion_Contratacion_Online_nuevo_2_Titular</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>dni</name>
            <value>
                <elementReference>DNISec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>CorreoSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IdOportunidad</name>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nombre</name>
            <value>
                <elementReference>NombreSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>telefono</name>
            <value>
                <elementReference>TelefonoSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipoDocumento</name>
            <value>
                <elementReference>TipoDocumento</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Flow_CrearSegundoTitular</nameSegment>
        <outputParameters>
            <assignToReference>IdCuentaSegundoTitular</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Validación de campos del sugundo titular con la clase FlowValidacion</description>
        <name>Validacion2Titular</name>
        <label>Validacion2Titular</label>
        <locationX>2048</locationX>
        <locationY>1388</locationY>
        <actionName>FlowValidacion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ValidacionesCorrectas2Tit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>dni</name>
            <value>
                <elementReference>DNISec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Tlf</name>
            <value>
                <elementReference>TelefonoSec</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowValidacion</nameSegment>
        <outputParameters>
            <assignToReference>RespuestaValidar</assignToReference>
            <name>respuesta</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Respuesta</assignToReference>
            <name>respuestaDNI</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>RespuestaTLF</assignToReference>
            <name>respuestaTlf</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Validacion de DNI que se ejecuta en el código apex de FlowValidacion</description>
        <name>Validaciones</name>
        <label>Validaciones</label>
        <locationX>1768</locationX>
        <locationY>1606</locationY>
        <actionName>FlowValidacion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ValidacionesCorrectas</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>Tlf</name>
            <value>
                <elementReference>TelefonoCliente</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowValidacion</nameSegment>
        <outputParameters>
            <assignToReference>RespuestaValidar</assignToReference>
            <name>respuesta</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Respuesta</assignToReference>
            <name>respuestaDNI</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>RespuestaTLF</assignToReference>
            <name>respuestaTlf</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AisgErrorTlf2Tit</name>
        <label>ErrorTlf2Tit</label>
        <locationX>2168</locationX>
        <locationY>1277</locationY>
        <assignmentItems>
            <assignToReference>BErrorTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErroresValidacionTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RespuestaTLF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RequerirDatosContactos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsigErrorDNI2Tit</name>
        <label>AsigErrorDNI2Tit</label>
        <locationX>2247</locationX>
        <locationY>1364</locationY>
        <assignmentItems>
            <assignToReference>BErrorDNI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErroresValidacionDNI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Respuesta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorTlf2Tit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsigErrorTlf</name>
        <label>AsigErrorTlf</label>
        <locationX>1577</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>BErrorTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErroresValidacionTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RespuestaTLF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RequerirDatosContacto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CambioTelefonoAsignacion</name>
        <label>CambioTelefono</label>
        <locationX>1622</locationX>
        <locationY>1686</locationY>
        <assignmentItems>
            <assignToReference>TelefonoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TelefonoClienteTxt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validaciones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoCorrecto2</name>
        <label>NoCorrecto2</label>
        <locationX>2369</locationX>
        <locationY>1449</locationY>
        <assignmentItems>
            <assignToReference>DNINoCorrecto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DNIVal2Tit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetearError</name>
        <label>ResetearError</label>
        <locationX>1884</locationX>
        <locationY>1249</locationY>
        <assignmentItems>
            <assignToReference>BErrorDNI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BErrorTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DNINoCorrecto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarContratacionOnlineVariosTitulares</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SinFicheros</name>
        <label>SinFicheros</label>
        <locationX>1025</locationX>
        <locationY>1165</locationY>
        <assignmentItems>
            <assignToReference>FicherosCargados</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjuntar_Documentacion</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CompraVivienda</name>
        <choiceText>Para comprar vivienda habitual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Para comprar vivienda habitual</stringValue>
        </value>
    </choices>
    <choices>
        <name>HaIngresado</name>
        <choiceText>Sí</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>NoAcuerdo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoComprarVivienda</name>
        <choiceText>No fue para comprar una vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No fue para comprar una vivienda</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoDemanda</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoIngreso</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>No hay más titulares asociados al prestamo</description>
        <name>NoMasTitulares</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;No, solo hay un titular&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OpcionIngresa</name>
        <choiceText>No Ingresa</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PersonaImplicadaNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PersonaImplicadaSi</name>
        <choiceText>Sí</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>SegundaVivienda</name>
        <choiceText>Para comprar segunda vivienda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Para comprar segunda vivienda</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <description>El préstamo tiene 2 titulares</description>
        <name>Si2Titulares</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Sí, hay otro titular y está informado&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí, hay otro titular y está informado</stringValue>
        </value>
    </choices>
    <choices>
        <description>Si se indica que hay otro titular pero este no está informado</description>
        <name>Si2TitularesNoInformado</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Hay otro titular, pero no está informado&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Hay otro titular, pero no está informado</stringValue>
        </value>
    </choices>
    <choices>
        <name>SiAcuerdo</name>
        <choiceText>Sí</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SiDemanda</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SiIngreso</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <description>El préstamo tiene más de dos titulares</description>
        <name>SiMasDe2Titulares</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Hay más de dos titulares&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hay más de dos titulares</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_CIF</name>
        <choiceText>CIF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CIF</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_DNI</name>
        <choiceText>NIF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NIF</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_NIE</name>
        <choiceText>NIE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NIE</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_Pass</name>
        <choiceText>Pasaporte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pasaporte</stringValue>
        </value>
    </choices>
    <choices>
        <name>ViviendaAlquiler</name>
        <choiceText>Para comprar una vivienda destinada a alquiler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Para comprar una vivienda destinada a alquiler</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AcuerdoHojaEncargo</name>
        <label>AcuerdoHojaEncargo</label>
        <locationX>1312</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>ComprobarRealizaPagos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sí Acuerdo</defaultConnectorLabel>
        <rules>
            <name>No_Acuerdo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasillaSiHojaEncargo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulario_Contacto_Asesor</targetReference>
            </connector>
            <label>No Acuerdo</label>
        </rules>
    </decisions>
    <decisions>
        <name>CambioTelefono</name>
        <label>CambioTelefono</label>
        <locationX>1612</locationX>
        <locationY>1565</locationY>
        <defaultConnector>
            <targetReference>Validaciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sin Cambio Telefono</defaultConnectorLabel>
        <rules>
            <name>CambioTelefonoSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TelefonoClienteTxt</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>TelefonoCliente</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CambioTelefonoAsignacion</targetReference>
            </connector>
            <label>Cambio Telefono</label>
        </rules>
    </decisions>
    <decisions>
        <name>ComprobarDocumentacion</name>
        <label>Comprobar Documentación</label>
        <locationX>1196</locationX>
        <locationY>1170</locationY>
        <defaultConnector>
            <targetReference>SinFicheros</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoExistenDoc</defaultConnectorLabel>
        <rules>
            <name>ExistenDocs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExisteIdClausula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DNIVacioQuest</targetReference>
            </connector>
            <label>ExistenDocs</label>
        </rules>
    </decisions>
    <decisions>
        <name>ComprobarRealizaPagos</name>
        <label>Realiza pagos?</label>
        <locationX>1314</locationX>
        <locationY>678</locationY>
        <defaultConnector>
            <targetReference>CreacionExpediente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Paga</defaultConnectorLabel>
        <rules>
            <name>SiPaga</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RealizaPagos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RealizarPago</targetReference>
            </connector>
            <label>Sí Paga</label>
        </rules>
    </decisions>
    <decisions>
        <name>DNIVacioQuest</name>
        <label>DNIVacío?</label>
        <locationX>1345</locationX>
        <locationY>1236</locationY>
        <defaultConnector>
            <targetReference>RequerirDatosContacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SIVacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountDNI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarContacto</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>DNIVal2Tit</name>
        <label>DNIVal2Tit</label>
        <locationX>2371</locationX>
        <locationY>1344</locationY>
        <defaultConnector>
            <targetReference>ErrorTlf2Tit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Errordni2t</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respuesta</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsigErrorDNI2Tit</targetReference>
            </connector>
            <label>Errordni2t</label>
        </rules>
    </decisions>
    <decisions>
        <name>ErrorTlf</name>
        <label>ErrorTlf</label>
        <locationX>1765</locationX>
        <locationY>1482</locationY>
        <defaultConnector>
            <targetReference>RequerirDatosContacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>ErrorTlfSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RespuestaTLF</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsigErrorTlf</targetReference>
            </connector>
            <label>ErrorTlfSi</label>
        </rules>
    </decisions>
    <decisions>
        <name>ErrorTlf2Tit</name>
        <label>ErrorTlf2Tit</label>
        <locationX>2354</locationX>
        <locationY>1191</locationY>
        <defaultConnector>
            <targetReference>RequerirDatosContactos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>ErrorTlf2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RespuestaTLF</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AisgErrorTlf2Tit</targetReference>
            </connector>
            <label>ErrorTlf2</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha encontrado una cuenta con los datos del 2º titular</description>
        <name>Existe_el_2_Titular</name>
        <label>¿Existe el 2º Titular?</label>
        <locationX>2786</locationX>
        <locationY>914</locationY>
        <defaultConnector>
            <targetReference>CreacionSegundoTitular</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existe 2º Titular</defaultConnectorLabel>
        <rules>
            <name>SIExiste2Titular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdCuentaExistente2Titular</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RolSegundoTitOpo</targetReference>
            </connector>
            <label>SI Existe 2º titular</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opcion_Demanda</name>
        <label>Opción Demanda</label>
        <locationX>585</locationX>
        <locationY>1045</locationY>
        <defaultConnector>
            <targetReference>Pantalla_Documentacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No demanda banco</defaultConnectorLabel>
        <rules>
            <name>Si_demanda_banco</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pregunta_Demanda</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SiDemanda</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulario_Contacto_Asesor</targetReference>
            </connector>
            <label>Si demanda banco</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opcion_para_que_destinaste_el_prestamo</name>
        <label>Opción para qué destinaste el préstamo</label>
        <locationX>693</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Pantalla_Acuerdo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Compra vivienda</defaultConnectorLabel>
        <rules>
            <name>No_compra_vivienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParaQueDestinastePrestamo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoComprarVivienda</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulario_Contacto_Asesor</targetReference>
            </connector>
            <label>No compra vivienda</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpcionAcuerdoFirmado</name>
        <label>Opcion Acuerdo Firmado</label>
        <locationX>206</locationX>
        <locationY>700</locationY>
        <defaultConnector>
            <targetReference>PantallaIngreso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No firmado</defaultConnectorLabel>
        <rules>
            <name>Acuerdo_Firmado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pregunta_AcuerdoBanco</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SiAcuerdo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulario_Contacto_Asesor</targetReference>
            </connector>
            <label>Acuerdo Firmado</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpcionDocumentacion</name>
        <label>Opción Documentación</label>
        <locationX>836</locationX>
        <locationY>1147</locationY>
        <defaultConnector>
            <targetReference>Adjuntar_Documentacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sí Escritura</defaultConnectorLabel>
        <rules>
            <name>No_Escritura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X1_Escriturasdelprestamohipotecario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulario_Contacto_Asesor</targetReference>
            </connector>
            <label>No Escritura</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpcionIngreso</name>
        <label>Opción Ingreso</label>
        <locationX>520</locationX>
        <locationY>913</locationY>
        <defaultConnector>
            <targetReference>Pantalla_Demanda</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Ingreso Cantidad</defaultConnectorLabel>
        <rules>
            <name>Si_Ingreso_cantidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pregunta_Ingreso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SiIngreso</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulario_Contacto_Asesor</targetReference>
            </connector>
            <label>Si Ingreso cantidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>PersonaImplicada</name>
        <label>Cuantos titulares</label>
        <locationX>1478</locationX>
        <locationY>1017</locationY>
        <defaultConnector>
            <targetReference>Formulario_Contacto_Asesor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mas de 2 titulares o 2º titular no informado</defaultConnectorLabel>
        <rules>
            <name>TitularUnico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HayVariosTitularesDelPrestamo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoMasTitulares</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerCantidadPago</targetReference>
            </connector>
            <label>Titular único</label>
        </rules>
        <rules>
            <name>X2_Titulares</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HayVariosTitularesDelPrestamo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si2Titulares</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequerirDatosContactos</targetReference>
            </connector>
            <label>2 Titulares</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si tiene el titular consentimiento para proporcionar los datos del 2º titular</description>
        <name>Tiene_consentimiento_para_proporcionar_los_datos_del_2_Titular</name>
        <label>¿Tiene consentimiento para proporcionar los datos del 2º Titular?</label>
        <locationX>2645</locationX>
        <locationY>1135</locationY>
        <defaultConnector>
            <targetReference>RequerirDatosContactos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiConsentimientoDatosSegundoTitular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckConsentimientoParaSegundoTitular</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Cuenta_2_Titular</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidacionesCorrectas</name>
        <label>ValidacionesCorrectas</label>
        <locationX>1935</locationX>
        <locationY>1562</locationY>
        <defaultConnector>
            <targetReference>ErrorTlf</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SIdni</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RespuestaValidar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetearError</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidacionesCorrectas2Tit</name>
        <label>ValidacionesCorrectas2Tit</label>
        <locationX>2294</locationX>
        <locationY>1554</locationY>
        <defaultConnector>
            <targetReference>Tiene_consentimiento_para_proporcionar_los_datos_del_2_Titular</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SiErrores</defaultConnectorLabel>
        <rules>
            <name>SierrorVal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RespuestaValidar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoCorrecto2</targetReference>
            </connector>
            <label>SierrorVal</label>
        </rules>
    </decisions>
    <description>Actualización del flujo IRPH
     - 220191002 ppt Modificaciones</description>
    <formulas>
        <name>AsuntoCaso</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.IRPHCasoAsunto__c}</expression>
    </formulas>
    <formulas>
        <name>DescripcionDelCaso</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.IRPHCasoDescripcion__c}</expression>
    </formulas>
    <formulas>
        <name>DescripcionPago</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.IRPHDescripcionRedsys__c}</expression>
    </formulas>
    <formulas>
        <name>enlaceFAQs</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;a href=&quot;&apos;&amp;{!$Setup.DatosFlujo__c.IRPHFAQs__c}&amp;&apos;&quot;&gt;Preguntas frecuentes sobre la hoja de encargo&lt;/a&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>ErrorDNI</name>
        <dataType>String</dataType>
        <expression>IF( {!BErrorDNI} == true,&apos;&lt;b style=&quot;color: red;&quot;&gt;&apos;&amp;{!ErroresValidacionDNI}&amp;&apos;&lt;/b&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>ErrorDocTexto</name>
        <dataType>String</dataType>
        <expression> IF( {!FicherosCargados} == false ,&apos;&lt;b style=&quot;color: red;&quot;&gt; Debe cargar los ficheros antes de continuar &lt;/b&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>Mensaje de error para indicar que tiene que tener el consentimiento del 2º titular</description>
        <name>ErrorSinConsentimientoDatos2Titular</name>
        <dataType>String</dataType>
        <expression> IF( {!CheckConsentimientoParaSegundoTitular} == false ,&apos;&lt;b style=&quot;color: red;&quot;&gt; Debe tener el consentimiento de la otra persona para poder continuar &lt;/b&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>ErrorTlfTxt</name>
        <dataType>String</dataType>
        <expression>IF( {!BErrorTlf} == true,&apos;&lt;b style=&quot;color: red;&quot;&gt;&apos;&amp;{!ErroresValidacionTlf}&amp;&apos;&lt;/b&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>etiquetaError</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlujoErrorGenerico}</expression>
    </formulas>
    <formulas>
        <name>IdContacto</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>MotivoDelCaso</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.FlujoCasoMotivo__c}</expression>
    </formulas>
    <formulas>
        <name>NombreOportunidad</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.IRPHNombreOpp__c}</expression>
    </formulas>
    <formulas>
        <description>Mensaje que se muestra al cliente indicando que el producto que va a contratar es gratis por haber contratado ya otro producto</description>
        <name>ProductoGratis</name>
        <dataType>String</dataType>
        <expression>IF({!RealizaPagos} == false , &quot;Por ser cliente contrata ahora sin coste adicional&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Rol del segundo titular que le asignaremos a la oportunidad</description>
        <name>RolSegundoTitular</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.RolSegundoTitular__c}</expression>
    </formulas>
    <formulas>
        <name>TipoDelCaso</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.FlujoCasoTipo__c}</expression>
    </formulas>
    <interviewLabel>IRPH {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IRPH</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreacionCaso</name>
        <label>Creación del Caso</label>
        <locationX>901</locationX>
        <locationY>719</locationY>
        <assignRecordIdToReference>IdCasoCreado</assignRecordIdToReference>
        <connector>
            <targetReference>Ir_al_caso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescripcionDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>MotivoDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AsuntoCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TipoDelCaso</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creación del Rol de contacto del segundo titular para la oportunidad creada al principio del flujo</description>
        <name>RolSegundoTitOpo</name>
        <label>RolSegundoTitOpo</label>
        <locationX>2539</locationX>
        <locationY>911</locationY>
        <assignRecordIdToReference>IdOportunityContactRolSegundoTit</assignRecordIdToReference>
        <connector>
            <targetReference>Actualizacion_Contratacion_Online_existente_2_Titular</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>IdCuentaExistente2Titular</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>RolSegundoTitular</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <description>Buscamos si existe alguna cuenta que tenga como email el indicado para el segundo titular</description>
        <name>Buscar_Cuenta_2_Titular</name>
        <label>Buscar Cuenta 2º Titular</label>
        <locationX>2795</locationX>
        <locationY>1132</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_el_2_Titular</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DocumentoIdentidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DNISec</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IdCuentaExistente2Titular</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>BuscarContacto</name>
        <label>BuscarContacto</label>
        <locationX>164</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CuentaRelacionada</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContacto</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>IdCuentaRelacionada</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailContacto</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreContacto</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelefonoContacto</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Objeto de Cuenta relacionada con el Contacto</description>
        <name>CuentaRelacionada</name>
        <label>Cuenta Relacionada</label>
        <locationX>282</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ComprobarPagos</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountDNI</assignToReference>
            <field>DocumentoIdentidad__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountTipoDoc</assignToReference>
            <field>TipoDocumento__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObtenerCantidadPago</name>
        <label>Obtener Cantidad Pago</label>
        <locationX>1960</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HojaEncargo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <object>CommunityOpp__c</object>
        <outputAssignments>
            <assignToReference>CantidadPago</assignToReference>
            <field>CantidadPagar__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ActualizacionAnoMayor2016</name>
        <label>Actualización Contractación Online Año &gt; 2016</label>
        <locationX>279</locationX>
        <locationY>564</locationY>
        <connector>
            <targetReference>OpcionAcuerdoFirmado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DestinoPrestamo__c</field>
            <value>
                <elementReference>ParaQueDestinastePrestamo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirmadoAcuerdoBanco__c</field>
            <value>
                <elementReference>Pregunta_AcuerdoBanco</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizacionopcionD</name>
        <label>Actualización Contratación Online opción d</label>
        <locationX>670</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>Opcion_para_que_destinaste_el_prestamo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DestinoPrestamo__c</field>
            <value>
                <elementReference>ParaQueDestinastePrestamo</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Contratacion_Online_Demanda</name>
        <label>Actualizar Contratacion Online Demanda</label>
        <locationX>337</locationX>
        <locationY>1012</locationY>
        <connector>
            <targetReference>Opcion_Demanda</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DestinoPrestamo__c</field>
            <value>
                <elementReference>ParaQueDestinastePrestamo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExisteDemanda__c</field>
            <value>
                <elementReference>Pregunta_Demanda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirmadoAcuerdoBanco__c</field>
            <value>
                <elementReference>Pregunta_AcuerdoBanco</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IngresadoCantidad__c</field>
            <value>
                <elementReference>Pregunta_Ingreso</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Contratacion_Online_Ingreso</name>
        <label>Actualizar Contratacion Online Ingreso</label>
        <locationX>357</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>OpcionIngreso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DestinoPrestamo__c</field>
            <value>
                <elementReference>ParaQueDestinastePrestamo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirmadoAcuerdoBanco__c</field>
            <value>
                <elementReference>Pregunta_AcuerdoBanco</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IngresadoCantidad__c</field>
            <value>
                <elementReference>Pregunta_Ingreso</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_ContratacionOnline_Fin</name>
        <label>Actualizar ContratacionOnline Fin</label>
        <locationX>1508</locationX>
        <locationY>864</locationY>
        <connector>
            <targetReference>AcuerdoHojaEncargo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OKHojaEncargo__c</field>
            <value>
                <elementReference>CasillaSiHojaEncargo</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarAntesficheros</name>
        <label>Actualizar Contratación Online antes de ficheros</label>
        <locationX>626</locationX>
        <locationY>1145</locationY>
        <connector>
            <targetReference>OpcionDocumentacion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CuadroAmortizacion__c</field>
            <value>
                <elementReference>X2_Cuadrodeamortizacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DestinoPrestamo__c</field>
            <value>
                <elementReference>ParaQueDestinastePrestamo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscriturasPrestamo__c</field>
            <value>
                <elementReference>X1_Escriturasdelprestamohipotecario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExisteDemanda__c</field>
            <value>
                <elementReference>Pregunta_Demanda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirmadoAcuerdoBanco__c</field>
            <value>
                <elementReference>Pregunta_AcuerdoBanco</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IngresadoCantidad__c</field>
            <value>
                <elementReference>Pregunta_Ingreso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UltimoHipoteca__c</field>
            <value>
                <elementReference>X3_ultimorecibo</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos el registro para guardar los datos proporcionados y al ser más de 2 titulares redirigir a la página para abrir un caso</description>
        <name>ActualizarContratacionOnlineVariosTitulares</name>
        <label>Actualizar Contratación Online Varios Titulares</label>
        <locationX>1632</locationX>
        <locationY>1104</locationY>
        <connector>
            <targetReference>PersonaImplicada</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DNI__c</field>
            <value>
                <elementReference>accountDNI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direccion__c</field>
            <value>
                <elementReference>Direccion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefono__c</field>
            <value>
                <elementReference>TelefonoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TieneVariosTitulares__c</field>
            <value>
                <elementReference>HayVariosTitularesDelPrestamo</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <screens>
        <name>Adjuntar_Documentacion</name>
        <label>Adjuntar Documentación</label>
        <locationX>843</locationX>
        <locationY>1320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActualizarClausula</targetReference>
        </connector>
        <fields>
            <name>FlujoDocumentacionpaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgDocuPaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TituloAdjuntaDocumentacionDisponible</name>
            <fieldText>&lt;h2&gt;&lt;span style=&quot;color: rgb(233, 90, 19);&quot;&gt;Adjunta la documentación disponible&lt;/span&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Clausula</name>
            <fieldText>&lt;b&gt;1.- Clausula 3 bis de la escritura &lt;/b&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CargaDocumentacionEscritura</name>
            <extensionName>c:SubirDocumentacionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>idRegistro</name>
                <value>
                    <elementReference>IdContratacionOnline</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelUpload</name>
                <value>
                    <elementReference>SubirDocumento</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IdEscriturasHipoteca</assignToReference>
                <name>idDocumento</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ErrorDoc</name>
            <fieldText>{!ErrorDocTexto}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CuadroAmortizacion</name>
            <fieldText>&lt;p&gt;&lt;b&gt;2.-Cuadro de Amortización&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CargaDocumentacionAmort</name>
            <extensionName>c:SubirDocumentacionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>idRegistro</name>
                <value>
                    <elementReference>IdContratacionOnline</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelUpload</name>
                <value>
                    <elementReference>SubirDocumento</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IdAmortiz</assignToReference>
                <name>idDocumento</name>
            </outputParameters>
        </fields>
        <fields>
            <name>UltimoRecibo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;3.-Último recibo de la Hipoteca&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CargaDocumentacionRecib</name>
            <extensionName>c:SubirDocumentacionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>idRegistro</name>
                <value>
                    <elementReference>IdContratacionOnline</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelUpload</name>
                <value>
                    <elementReference>SubirDocumento</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IdRecibo</assignToReference>
                <name>idDocumento</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Formulario_Contacto_Asesor</name>
        <label>Formulario Contacto Asesor</label>
        <locationX>801</locationX>
        <locationY>819</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreacionCaso</targetReference>
        </connector>
        <fields>
            <name>FlujoLlamadaCaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgCasoPantll</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Titulo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(233, 90, 19);&quot;&gt;Un asesor se pondrá en contacto contigo para continuar tu reclamación&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FormaContacto</name>
            <fieldText>¿Cómo prefieres que contactemos contigo?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Telefono</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Teléfono</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>TelefonoContacto</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>correo@example.com</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Otro</name>
            <dataType>String</dataType>
            <fieldText>Otro</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Escribe aquí cómo quieres que te contactemos</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fecha_Hora_de_llamada</name>
            <dataType>DateTime</dataType>
            <fieldText>Fecha/Hora de llamada</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Elige a qué hora quieres que te llamemos</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GraciasContrato</name>
        <label>GraciasContrato</label>
        <locationX>1644</locationX>
        <locationY>583</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedireccionExpediente</targetReference>
        </connector>
        <fields>
            <name>FlujoContratacionPaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgContratacionPaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TxtGracias</name>
            <fieldText>&lt;h2&gt;&lt;b&gt;Gracias por contratar la reclamación de tu caso con Arriaga Asociados.&lt;/b&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HojaEncargo</name>
        <label>Hoja de encargo</label>
        <locationX>1799</locationX>
        <locationY>831</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_ContratacionOnline_Fin</targetReference>
        </connector>
        <fields>
            <name>FlujoContratacionpasoUno</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgContratacionPaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TituloHojaEncargo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(233, 90, 19); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Este es el contrato que firmas con Arriaga Asociados&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FAQs</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!enlaceFAQs}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PDFHojaEncargo</name>
            <extensionName>c:FlujoHojaEncargoVF</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>idOpp</name>
                <value>
                    <elementReference>IdOportunidad</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CasillaSiHojaEncargo</name>
            <dataType>Boolean</dataType>
            <fieldText>Estoy de acuerdo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TxtInfoPago</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Al aceptar la hoja de encargo y continuar el proceso, realizarás el pago de &lt;/i&gt;&lt;i style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!CantidadPago}&lt;/i&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;€&lt;/span&gt;&lt;i style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; correspondiente a la contratación&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Redirigir al usuario al caso que se ha creado</description>
        <name>Ir_al_caso</name>
        <label>Ir al caso</label>
        <locationX>964</locationX>
        <locationY>560</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CasoCreado</name>
            <extensionName>c:NavigateToURL</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>URL</name>
                <value>
                    <stringValue>/case/{!IdCasoCreado}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isredirect</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Acuerdo</name>
        <label>Pantalla Acuerdo</label>
        <locationX>470</locationX>
        <locationY>563</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActualizacionAnoMayor2016</targetReference>
        </connector>
        <fields>
            <name>FlujoSegundopaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgPrimerpaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pregunta_AcuerdoBanco</name>
            <choiceReferences>SiAcuerdo</choiceReferences>
            <choiceReferences>NoAcuerdo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoAcuerdo</defaultSelectedChoiceReference>
            <fieldText>¿Has firmado algún acuerdo sobre tu IRPH con tu Banco?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Info2</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;“Recuerda que puedes reclamar aunque tu hipoteca esté cancelada&lt;/i&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;”&lt;/span&gt;&lt;span style=&quot;color: rgb(233, 90, 19); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Demanda</name>
        <label>Pantalla Demanda</label>
        <locationX>208</locationX>
        <locationY>964</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_Contratacion_Online_Demanda</targetReference>
        </connector>
        <fields>
            <name>FlujoPrimerpasotres</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgPrimerpaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pregunta_Demanda</name>
            <choiceReferences>SiDemanda</choiceReferences>
            <choiceReferences>NoDemanda</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoDemanda</defaultSelectedChoiceReference>
            <fieldText>¿Has demandado anteriormente a tu banco?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Documentacion</name>
        <label>Pantalla Documentación</label>
        <locationX>212</locationX>
        <locationY>1137</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActualizarAntesficheros</targetReference>
        </connector>
        <fields>
            <name>FlujoDocumentacionpasoUno</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgDocuPaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TituloDocumentacion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(233, 90, 19);&quot;&gt;Marca la documentación que tienes ahora mismo localizada&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X1_Escriturasdelprestamohipotecario</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>1- Escrituras del préstamo hipotecario, novaciones y ampliaciones que se hayan realizado.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X2_Cuadrodeamortizacion</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>2-Cuadro de amortización.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X3_ultimorecibo</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>3-Último recibo de la hipoteca</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaError</name>
        <label>PantallaError</label>
        <locationX>2672</locationX>
        <locationY>331</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;{!etiquetaError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaIngreso</name>
        <label>Pantalla ingreso</label>
        <locationX>210</locationX>
        <locationY>839</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_Contratacion_Online_Ingreso</targetReference>
        </connector>
        <fields>
            <name>FlujoPrimerpasodos</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgPrimerpaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pregunta_Ingreso</name>
            <choiceReferences>SiIngreso</choiceReferences>
            <choiceReferences>NoIngreso</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoIngreso</defaultSelectedChoiceReference>
            <fieldText>¿Te ha ingresado tu banco alguna cantidad como consecuencia de tu IRPH?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Preguntas</name>
        <label>A continuación vamos a realizarte algunas preguntas para poder gestionar tu caso</label>
        <locationX>419</locationX>
        <locationY>402</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActualizacionopcionD</targetReference>
        </connector>
        <fields>
            <name>ProductoGratisPantalla</name>
            <fieldText>&lt;b&gt;{!ProductoGratis}&lt;/b&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlujoPrimerPaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgPrimerpaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TituloPreguntas</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(233, 90, 19); font-size: 20px;&quot;&gt;A continuación vamos a realizarte 4&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(233, 90, 19); font-size: 20px;&quot;&gt;preguntas para poder gestionar tu caso&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ParaQueDestinastePrestamo</name>
            <choiceReferences>CompraVivienda</choiceReferences>
            <choiceReferences>SegundaVivienda</choiceReferences>
            <choiceReferences>ViviendaAlquiler</choiceReferences>
            <choiceReferences>NoComprarVivienda</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CompraVivienda</defaultSelectedChoiceReference>
            <fieldText>¿Para qué destinaste el prestamo?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;“Recuerda que puedes reclamar aunque tu hipoteca esté cancelada&lt;/i&gt;&lt;span style=&quot;font-size: 14px; color: rgb(66, 63, 61);&quot;&gt;”&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(233, 90, 19);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RealizarPago</name>
        <label>Realizar Pago</label>
        <locationX>1516</locationX>
        <locationY>742</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Peticionpago</name>
            <extensionName>c:RedsysLlamadaServicio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>amount</name>
                <value>
                    <elementReference>CantidadPago</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <elementReference>DescripcionPago</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Name</name>
                <value>
                    <elementReference>NombreContacto</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>oportunidadId</name>
                <value>
                    <elementReference>IdOportunidad</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PagoCero</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RedireccionExpediente</name>
        <label>Redirección Expediente</label>
        <locationX>1788</locationX>
        <locationY>583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedireccionExpedientePagoCero</name>
            <extensionName>c:RedsysLlamadaServicio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Expediente</name>
                <value>
                    <elementReference>URLExpediente</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PagoCero</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RequerirDatosContacto</name>
        <label>RequerirDatosContacto</label>
        <locationX>1480</locationX>
        <locationY>1512</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CambioTelefono</targetReference>
        </connector>
        <fields>
            <name>FlujoContratPaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgContratacionPaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DatosContrato</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(233, 90, 19);&quot;&gt;Para redactar&amp;nbsp;tu contrato, necesitamos los siguientes datos&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>visualizarNombreCorreo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Nombre&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!NombreContacto}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Correo electrónico&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!EmailContacto}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;DNI&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!accountDNI}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorPagTlf</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ErrorTlfTxt}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TelefonoClienteTxt</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TelefonoCliente</elementReference>
            </defaultValue>
            <fieldText>Teléfono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Direccion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Direccion</elementReference>
            </defaultValue>
            <fieldText>Dirección</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HayVariosTitularesDelPrestamo</name>
            <choiceReferences>NoMasTitulares</choiceReferences>
            <choiceReferences>Si2Titulares</choiceReferences>
            <choiceReferences>SiMasDe2Titulares</choiceReferences>
            <choiceReferences>Si2TitularesNoInformado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Hay otro titular del préstamo y dicho titular tiene voluntad de realizar la reclamación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RequerirDatosContactos</name>
        <label>Requerir Datos Contactos</label>
        <locationX>2077</locationX>
        <locationY>1137</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validacion2Titular</targetReference>
        </connector>
        <fields>
            <name>FlujoContratacionpasotit2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgContratacionPaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Secundario</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Contacto implicado en la contratación&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NombreSec</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NombreSec</elementReference>
            </defaultValue>
            <fieldText>Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CorreoSec</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CorreoSec</elementReference>
            </defaultValue>
            <fieldText>Correo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErroresPagDNI2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ErrorDNI}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TipoDocumento</name>
            <choiceReferences>TipoDoc_CIF</choiceReferences>
            <choiceReferences>TipoDoc_DNI</choiceReferences>
            <choiceReferences>TipoDoc_NIE</choiceReferences>
            <choiceReferences>TipoDoc_Pass</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TipoDoc_DNI</defaultSelectedChoiceReference>
            <fieldText>Tipo de documento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DNISec</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DNISec</elementReference>
            </defaultValue>
            <fieldText>DNI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErroresPagTlf2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ErrorTlfTxt}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TelefonoSec</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TelefonoSec</elementReference>
            </defaultValue>
            <fieldText>Teléfono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MensajeErrorNoConsentimiento2Titular</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ErrorSinConsentimientoDatos2Titular}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TieneConsentimientoDeLaOtraPersonaParaProporcionarnosSusDatos</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Al facilitar datos de terceros manifiesta que tiene el consentimiento de su titular. Arriaga Asociados remitirá un correo electrónico a la dirección facilitada en cumplimiento del artículo 14 del Reglamento General de Protección de Datos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Si</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CheckConsentimientoParaSegundoTitular</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>BuscarContacto</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Actualizaci_nAmortiz</name>
        <label>ActualizaciónAmortiz</label>
        <locationX>1101</locationX>
        <locationY>1328</locationY>
        <connector>
            <targetReference>ActualizacionRecibo</targetReference>
        </connector>
        <flowName>ActualizarNombreDocumentoAdjunto</flowName>
        <inputAssignments>
            <name>ListIdRegistro</name>
            <value>
                <elementReference>IdAmortiz</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreRegistro</name>
            <value>
                <stringValue>Cuadro de amortización</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExisteAmortiz</assignToReference>
            <name>Existe</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ActualizacionRecibo</name>
        <label>ActualizaciónRecibo</label>
        <locationX>1204</locationX>
        <locationY>1328</locationY>
        <connector>
            <targetReference>ComprobarDocumentacion</targetReference>
        </connector>
        <flowName>ActualizarNombreDocumentoAdjunto</flowName>
        <inputAssignments>
            <name>ListIdRegistro</name>
            <value>
                <elementReference>IdRecibo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreRegistro</name>
            <value>
                <stringValue>Último recibo de la hipoteca</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExisteRecibo</assignToReference>
            <name>Existe</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ActualizarClausula</name>
        <label>ActualizarClausula</label>
        <locationX>985</locationX>
        <locationY>1328</locationY>
        <connector>
            <targetReference>Actualizaci_nAmortiz</targetReference>
        </connector>
        <flowName>ActualizarNombreDocumentoAdjunto</flowName>
        <inputAssignments>
            <name>ListIdRegistro</name>
            <value>
                <elementReference>IdEscriturasHipoteca</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreRegistro</name>
            <value>
                <stringValue>Cláusula 3 bis de la escritura</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExisteIdClausula</assignToReference>
            <name>Existe</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Se actualiza los datos del contacto justo antes de realizar la contratación y solo si el DNI esta vacío</description>
        <name>ActualizarContacto</name>
        <label>ActualizarContacto</label>
        <locationX>1297</locationX>
        <locationY>1503</locationY>
        <connector>
            <targetReference>RequerirDatosContacto</targetReference>
        </connector>
        <flowName>ActualizacionContacto</flowName>
        <inputAssignments>
            <name>IdCuentaRelacionada</name>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>accountDNI</assignToReference>
            <name>dniCargado</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountDNI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountTipoDoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BErrorDNI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BErrorTlf</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CantidadPago</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable para guardar si el titular tiene el consentimiento para proporcionar los datos del segundo titular</description>
        <name>CheckConsentimientoParaSegundoTitular</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DNINoCorrecto</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErroresValidacionDNI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErroresValidacionTlf</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteAmortiz</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteIdClausula</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteRecibo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FicherosCargados</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IdAmortiz</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCasoCreado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContactoTest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContratacionOnline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id de la cuenta personal del segundo titular que tiene el mismo correo electrónico</description>
        <name>IdCuentaExistente2Titular</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCuentaRelacionada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id de la cuenta creada con la información del segundo titular</description>
        <name>IdCuentaSegundoTitular</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdEscriturasHipoteca</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del rol del segundo Titular</description>
        <name>IdOportunityContactRolSegundoTit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPagoCero</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPriceBook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPriceBookEntry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdRecibo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RealizaPagos</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Respuesta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RespuestaTLF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RespuestaValidar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StaticImgCasoPantll</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FlujoImgCrearCaso</stringValue>
        </value>
    </variables>
    <variables>
        <name>StaticImgContratacionPaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FlujoContratPaso</stringValue>
        </value>
    </variables>
    <variables>
        <name>StaticImgDocuPaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FlujoDocumentacionPaso</stringValue>
        </value>
    </variables>
    <variables>
        <name>StaticImgPrimerpaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FlujoPrimerPaso</stringValue>
        </value>
    </variables>
    <variables>
        <name>SubirDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Subir Documento</stringValue>
        </value>
    </variables>
    <variables>
        <name>TelefonoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelefonoContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>URLExpediente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
