force-app/main/default/flows/OM_Bot_Find_Menu_By_Product_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Menu_Chat_To_Show</name>
        <label>Menu Chat To Show</label>
        <locationX>270</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>MenuValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Menu_Docu_Loop.OM_Chat_Label__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Menu_Docu_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Menu_Whatsapp_To_Show</name>
        <label>Menu Whatsapp To Show</label>
        <locationX>534</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>MenuValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Menu_Docu_Loop.OM_Whatsapp_Label__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Menu_Docu_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Chat_or_Whatsapp</name>
        <label>Chat or Whatsapp?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Menu_Records2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Whatsapp</defaultConnectorLabel>
        <rules>
            <name>Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Menu_Records</targetReference>
            </connector>
            <label>Chat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chat_or_Whatsapp2</name>
        <label>Chat or Whatsapp?</label>
        <locationX>402</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Menu_Whatsapp_To_Show</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Whatsapp</defaultConnectorLabel>
        <rules>
            <name>Chat2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Menu_Chat_To_Show</targetReference>
            </connector>
            <label>Chat</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isChat</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!ChatKey}),false,true)</expression>
    </formulas>
    <formulas>
        <name>menuRoot</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!mainMenuOption})),IF({!isChat},{!menuOptionText},{!menuRootWhatsapp}) + &apos;_&apos; +{!mainMenuOption},IF({!isChat},{!menuOptionText},{!menuRootWhatsapp}))</expression>
    </formulas>
    <formulas>
        <name>menuRootWhatsapp</name>
        <dataType>String</dataType>
        <expression>IF(ISNUMBER({!menuOptionText}),{!screenRoot} + &apos;_&apos; +{!menuOptionText},{!menuOptionText})</expression>
    </formulas>
    <interviewLabel>Bot - Find Menu By Product Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bot - Find Menu By Product Type</label>
    <loops>
        <name>Menu_Docu_Loop</name>
        <label>Menu Docu Loop</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <collectionReference>menuMetadataRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Chat_or_Whatsapp2</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Menu_Records</name>
        <label>Get Menu Records</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Menu_Docu_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OM_Chat_Root__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>menuRoot</elementReference>
            </value>
        </filters>
        <object>OM_Bot_Service_Information_Relationship__mdt</object>
        <outputReference>menuMetadataRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OM_Chat_Label__c</queriedFields>
        <queriedFields>OM_Info_URL__c</queriedFields>
        <queriedFields>OM_Order__c</queriedFields>
        <sortField>OM_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Menu_Records2</name>
        <label>Get Menu Records</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Menu_Docu_Loop</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OM_Whatsapp_Root__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>menuRoot</elementReference>
            </value>
        </filters>
        <object>OM_Bot_Service_Information_Relationship__mdt</object>
        <outputReference>menuMetadataRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OM_Whatsapp_Label__c</queriedFields>
        <queriedFields>OM_Info_URL__c</queriedFields>
        <queriedFields>OM_Order__c</queriedFields>
        <sortField>OM_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Chat_or_Whatsapp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChatKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainMenuOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>menuMetadataRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OM_Bot_Service_Information_Relationship__mdt</objectType>
    </variables>
    <variables>
        <name>menuOptionText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MenuValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>screenRoot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
