force-app/main/default/flows/OM_Bot_Find_URL_By_Product_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Return_Value</name>
        <label>Assign Return Value</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>UrlToShow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isOtherExit</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Chat_or_Whatsapp</name>
        <label>Chat or Whatsapp?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Whatsapp_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Whatsapp</defaultConnectorLabel>
        <rules>
            <name>Chat</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isChat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chat_URL</targetReference>
            </connector>
            <label>Chat</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_other_Exit</name>
        <label>is other/Exit?</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Exit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UrlToShow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isOtherExit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Return_Value</targetReference>
            </connector>
            <label>Other/Exit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isChat</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!ChatKey}),false,true)</expression>
    </formulas>
    <formulas>
        <name>menuRoot</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!mainMenuOption})),IF({!isChat},{!menuOptionText},{!menuRootWhatsapp}) + &apos;_&apos; +{!mainMenuOption},IF({!isChat},{!menuOptionText},{!menuRootWhatsapp}))</expression>
    </formulas>
    <formulas>
        <name>menuRootWhatsapp</name>
        <dataType>String</dataType>
        <expression>IF(ISNUMBER({!menuOptionText}),{!screenRoot} + &apos;_&apos; +{!menuOptionText},{!menuOptionText})</expression>
    </formulas>
    <interviewLabel>Bot Find URL By Product Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bot - Find URL By Product Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Chat_URL</name>
        <label>Chat URL</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_other_Exit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OM_Chat_Root__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>menuRoot</elementReference>
            </value>
        </filters>
        <filters>
            <field>OM_Chat_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChoiceOptionText</elementReference>
            </value>
        </filters>
        <object>OM_Bot_Service_Information_Relationship__mdt</object>
        <outputAssignments>
            <assignToReference>UrlToShow</assignToReference>
            <field>OM_Info_URL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isOtherExit</assignToReference>
            <field>OM_Other_Exit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Whatsapp_URL</name>
        <label>Whatsapp_URL</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_other_Exit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OM_Whatsapp_Root__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>menuRoot</elementReference>
            </value>
        </filters>
        <filters>
            <field>OM_Whatsapp_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChoiceOptionText</elementReference>
            </value>
        </filters>
        <object>OM_Bot_Service_Information_Relationship__mdt</object>
        <outputAssignments>
            <assignToReference>UrlToShow</assignToReference>
            <field>OM_Info_URL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isOtherExit</assignToReference>
            <field>OM_Other_Exit__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Chat_or_Whatsapp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChatKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChoiceOptionText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isOtherExit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainMenuOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>menuOptionText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenRoot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UrlToShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
