force-app/main/default/flows/OM_DocumentRecommendationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Account2</name>
        <label>Set Account</label>
        <locationX>2250</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_VC_Info.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Id</name>
        <label>Set Account Id</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_VC_Info.OM_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Product2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead</name>
        <label>Set Lead</label>
        <locationX>1425</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_VC_Info.OM_Lead__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead2</name>
        <label>Set Lead</label>
        <locationX>2514</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_VC_Info.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Productos_interes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Sí</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Cliente_Lead</name>
        <label>Check Cliente/Lead</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Related_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Vacío</defaultConnectorLabel>
        <rules>
            <name>Cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_VC_Info.OM_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Id</targetReference>
            </connector>
            <label>Cliente</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_VC_Info.OM_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continuar</name>
        <label>Continuar?</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Parar</defaultConnectorLabel>
        <rules>
            <name>Si_continuar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respuesta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Cliente_Lead</targetReference>
            </connector>
            <label>Continuar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continuar_2</name>
        <label>Continuar?</label>
        <locationX>1326</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Parar</defaultConnectorLabel>
        <rules>
            <name>Si_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respuesta_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Nueva_Opp</targetReference>
            </connector>
            <label>Sí - Oportunidad</label>
        </rules>
        <rules>
            <name>Si_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respuesta_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Crear_Producto_Interes</targetReference>
            </connector>
            <label>Sí - Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Crear_Opp</name>
        <label>Crear Opp?</label>
        <locationX>1282</locationX>
        <locationY>1964</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_crear_Mensaje</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_crear_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Crear_Nueva_Opp</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Crear_Producto_Inter_s</name>
        <label>Crear Producto Interés?</label>
        <locationX>864</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>No_crear_Mensaje</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_crear_PI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Productos_interes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Producto_Interes</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Product</name>
        <label>Related Product?</label>
        <locationX>1425</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Warning_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Producto vacío</defaultConnectorLabel>
        <rules>
            <name>Producto_informado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recommendations.OM_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Productos_interes</targetReference>
            </connector>
            <label>Producto informado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Product2</name>
        <label>Related Product?</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Warning_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Producto vacío</defaultConnectorLabel>
        <rules>
            <name>Producto_informado2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recommendations.OM_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opps</targetReference>
            </connector>
            <label>Producto informado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Record</name>
        <label>Related Record?</label>
        <locationX>2514</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Otro</defaultConnectorLabel>
        <rules>
            <name>isAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account2</targetReference>
            </connector>
            <label>is Account</label>
        </rules>
        <rules>
            <name>is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead2</targetReference>
            </connector>
            <label>is Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>closedDate</name>
        <dataType>Date</dataType>
        <expression> ADDMONTHS(TODAY(),1)</expression>
    </formulas>
    <formulas>
        <name>docsRichText</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Recommendations.OM_RequiredDocs__c})),&apos;&lt;p&gt;&lt;strong&gt;Documentos obligatorios:&lt;/strong&gt;&lt;/p&gt;&apos; + {!Get_Recommendations.OM_RequiredDocs__c},&apos;&apos;) + 
IF(NOT(ISBLANK({!Get_Recommendations.OM_OptionalDocs__c})),&apos;&lt;p&gt;&lt;strong&gt;Documentos opcionales:&lt;/strong&gt;&lt;/p&gt;&apos;+{!Get_Recommendations.OM_OptionalDocs__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Flow.FaultMessage}</expression>
    </formulas>
    <formulas>
        <name>NewRecordMessage</name>
        <dataType>String</dataType>
        <expression>&apos;Se ha creado &apos; + IF(NOT(ISBLANK({!accountId})),&apos;una nueva OPORTUNIDAD&apos;,IF(NOT(ISBLANK({!leadId})),&apos;un nuevo PRODUCTO DE INTERÉS.&apos;,&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>newRecordQuestion</name>
        <dataType>String</dataType>
        <expression>&apos;¿Quiere crear &apos; + IF(OR(NOT(ISBLANK({!Get_VC_Info.OM_Account__c})),{!sobjectType}=&apos;001&apos;),&apos;una nueva OPORTUNIDAD?&apos;,IF(OR(NOT(ISBLANK({!Get_VC_Info.OM_Lead__c})),{!sobjectType}=&apos;00Q&apos;),&apos;un nuevo PRODUCTO DE INTERÉS?&apos;,&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>noCreateRecordMsg</name>
        <dataType>String</dataType>
        <expression>&apos;Ya existe &apos; + IF(NOT(ISBLANK({!accountId})),&apos;una OPORTUNIDAD relacionada &apos;,IF(NOT(ISBLANK({!leadId})),&apos;un PRODUCTO DE INTERÉS relacionado&apos;,&apos;&apos;)) + &apos; con el producto &apos; + {!Get_Recommendations.OM_Product__r.Name} + &apos;.&apos;</expression>
    </formulas>
    <formulas>
        <name>sobjectType</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_VC_Info.RelatedRecordId})),LEFT({!Get_VC_Info.RelatedRecordId},3),&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Document Recommendation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recomendación - Documentos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Nueva_Opp</name>
        <label>Crear Nueva Opp</label>
        <locationX>930</locationX>
        <locationY>1322</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Registro_creado</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>closedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Recommendations.OM_Product__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Producto_Interes</name>
        <label>Crear Producto Interés</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Registro_creado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Candidato__c</field>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producto__c</field>
            <value>
                <elementReference>Get_Recommendations.OM_Product__c</elementReference>
            </value>
        </inputAssignments>
        <object>LeadProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opps</name>
        <label>Get Opps</label>
        <locationX>1282</locationX>
        <locationY>1856</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Opp</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recommendations.OM_Product__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cita</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Entrevista</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Productos_interes</name>
        <label>Get Productos interés</label>
        <locationX>864</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Producto_Inter_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recommendations.OM_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recommendations</name>
        <label>Get Recommendations</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recommendationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recommendation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_VC_Info</name>
        <label>Get VC Info</label>
        <locationX>2162</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recommendations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>666</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scopeError</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>errorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>errorMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_crear_Mensaje</name>
        <label>No crear - Mensaje</label>
        <locationX>1326</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continuar_2</targetReference>
        </connector>
        <fields>
            <name>noCreateNotification</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>noCreateRecordMsg</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>noCreateRecordMsg</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>createNewQuestion</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!newRecordQuestion}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Respuesta_2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Respuesta</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Registro_creado</name>
        <label>Registro creado</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>newRecordNotification</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>NewRecordMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>NewRecordMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Info</name>
        <label>Screen Info</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continuar</targetReference>
        </connector>
        <fields>
            <name>infoMessage</name>
            <fieldText>&lt;p&gt;{!ScreenInfo}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>recordsQuestionDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!newRecordQuestion}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_VC_Info.OM_Account__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_VC_Info.OM_Lead__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_VC_Info.RelatedRecordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Respuesta</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Respuesta</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_VC_Info.OM_Account__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_VC_Info.OM_Lead__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_VC_Info.RelatedRecordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoRecordInformation</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <stringValue>La llamada de voz no tiene relacionado ningún cliente ni candidato. NO SE REALIZARÁ NINGUNA ACCIÓN.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <stringValue>La llamada de voz no tiene relacionado ningún cliente ni candidato. NO SE HA REALIZADO NINGUNA ACCIÓN.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_VC_Info.OM_Account__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_VC_Info.OM_Lead__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>sobjectType</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Message</name>
        <label>Warning Message</label>
        <locationX>1986</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noProductMessage</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <stringValue>La recomendación no lleva asociado ningún producto. NO SE HA REALIZADO NINGUNA ACCIÓN.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <stringValue>La recomendación no lleva asociado ningún producto. NO SE HA REALIZADO NINGUNA ACCIÓN.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_VC_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ScreenInfo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Se han recomendado los siguientes documentos:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!docsRichText}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recommendationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
