force-app/main/default/flows/OM_EventChangeStatusAfterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_NEW_SR</name>
        <label>Assign NEW SR</label>
        <locationX>270</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>newSRId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SR.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OLD_SR</name>
        <label>Assign OLD SR</label>
        <locationX>534</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>oldSRId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SR.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Assigned_Resource</name>
        <label>Change Assigned Resource</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>assignedResourceUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Old_Assigned_Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedResourceUpdate.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newSRId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assigned_Resource</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cambio_asignacion</name>
        <label>Cambio asignación?</label>
        <locationX>380</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_cambio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resources</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_Status</name>
        <label>Changed Status</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Cambio_asignacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Estatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Scheduler_Event</name>
        <label>Is Scheduler Event?</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Changed_Status</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_or_New</name>
        <label>Old or New</label>
        <locationX>534</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Loop_SR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SR.RelatedRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NEW_SR</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SR.RelatedRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OLD_SR</targetReference>
            </connector>
            <label>Old</label>
        </rules>
    </decisions>
    <decisions>
        <name>OLD_SR_Found</name>
        <label>OLD SR Found?</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Records_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_SR_OLD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldSRId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oldSRId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_Assigned_Resource</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newSRId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Old_Assigned_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newSRId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Assigned_Resource</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>statusFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Estado__c},&apos;Atendida&apos;),&apos;Completed&apos;,IF(ISPICKVAL({!$Record.Estado__c},&apos;No asiste&apos;),&apos;Cannot Complete&apos;,TEXT({!$Record.ServiceAppointment.Status})))</expression>
    </formulas>
    <formulas>
        <name>TEST</name>
        <dataType>String</dataType>
        <expression>&apos;OWNER NUEVO: &apos; + {!$Record.OwnerId} +&apos; &gt;&gt; OWNER VIEJO: &apos; + {!$Record__Prior.OwnerId} + &apos;&gt;&gt;&gt;&gt; SR OLD: &apos; + {!oldSRId} +  &apos;&gt;&gt;&gt;&gt; SR NEW: &apos; + {!newSRId} +  &apos; &gt;&gt;&gt;&gt;&gt; AR: &apos; +{!Get_Old_Assigned_Resource.Id}</expression>
    </formulas>
    <interviewLabel>Event - Change Status - After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Change Status or Owner - After Update</label>
    <loops>
        <name>Loop_SR</name>
        <label>Loop SR</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Service_Resources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Old_or_New</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OLD_SR_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Old_Assigned_Resource</name>
        <label>Get Old Assigned Resource</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldSRId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resources</name>
        <label>Get Service Resources</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SR</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assigned_Resource</name>
        <label>Update Assigned Resource</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <inputReference>assignedResourceUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Cambio_asignacion</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>statusFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ServiceAppointment</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Scheduler_Event</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>assignedResourceUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>newSRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldSRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
