force-app/main/default/flows/OM_EventBeforeInsertTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Actualizar_Evento</name>
        <label>Actualizar Evento</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AsuntoCita</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.No_enviar_email_Confirmacion_de_Cita__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Videollamada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isVideo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TipoCita__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contratación</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Productos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.OM_Product__r.ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Service_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Office</name>
        <label>Update Office</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Oficina__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.ServiceTerritory.OM_Office__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_Service_Territory</name>
        <label>Has Service Territory?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Service_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Office</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>eventStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.ServiceAppointment.AppointmentType}, 
&apos;People&apos;, &apos;Pendiente&apos;, 
&apos;Call&apos;, &apos;Pendiente Online&apos;,
&apos;Video&apos;,&apos;Pendiente videollamada&apos;,
&apos;Pendiente&apos;
)</expression>
    </formulas>
    <formulas>
        <name>isVideo</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.ServiceAppointment.AppointmentType}, &apos;Video&apos;)</expression>
    </formulas>
    <interviewLabel>Event - Before Insert Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Before Insert Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Evento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Office</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
