force-app/main/default/flows/OM_Flujo_Oficinas_Clientes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Queue</name>
        <label>Assign_Queue</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Teléfono</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>recordsToRouteType</name>
            <value>
                <stringValue>single</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N97U000000XZAWSA4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>Get_Queue_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>accountTab</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Open_Account</name>
        <label>Open Account</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>Get_DevNameQueue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
        </inputParameters>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;65f9f6e3&quot;,&quot;targetObjectId&quot;:&quot;{!AccountId}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <outputParameters>
            <assignToReference>accountTab</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Modify_VoiceCall</name>
        <label>Modify VoiceCall</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>input_record.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input_record.OM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_VC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setVoiceCallDNI</name>
        <label>Set Voice Call DNI</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>input_record.OM_DNI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dni</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modify_VoiceCall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setVoiceCallNIE</name>
        <label>Set Voice Call NIE</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>input_record.OM_DNI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nie</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modify_VoiceCall</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_DNI_NIE</name>
        <label>Assign DNI or NIE</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>setVoiceCallNIE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign NIE</defaultConnectorLabel>
        <rules>
            <name>Assign_DNI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obtain_Account.TipoDocumento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DNI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtain_Account.TipoDocumento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setVoiceCallDNI</targetReference>
            </connector>
            <label>Assign DNI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flujo Oficinas - Clientes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Oficinas - Clientes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Get_DevNameQueue</name>
        <label>Get DevNameQueue</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OM_OutboundPhone__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>toPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>OM_Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asesor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OM_QueueSettingsSCV__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id</name>
        <label>Get Queue Id</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_DevNameQueue.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtain_Account</name>
        <label>Obtain Account</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_DNI_NIE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_VC</name>
        <label>Update VC</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Open_Account</targetReference>
        </connector>
        <inputReference>input_record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtain_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountTab</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PendingServiceRoutingInteractionInfo</objectType>
    </variables>
    <variables>
        <name>dni</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VoiceCall</objectType>
    </variables>
    <variables>
        <name>iv_defaultQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nie</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>toPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
