force-app/main/default/flows/OM_GenerateScheduledVRALink.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Lobby_Link_With_Scheduled_Time</name>
        <label>Create Lobby Link With Scheduled Time</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <actionName>tsaa__GenerateLobbyLinkInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Link_generated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>appointmentEnd</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>appointmentStart</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>$Record.StatusCategory</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tsaa__GenerateLobbyLinkInvocable</nameSegment>
        <outputParameters>
            <assignToReference>LobbyInvite</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>468</locationX>
        <locationY>1355</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>toRecordForm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Link_Deleted</name>
        <label>Update Link Deleted</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <actionName>tsaa__GenerateLobbyLinkInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Delete_lobby_link</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </inputParameters>
        <nameSegment>tsaa__GenerateLobbyLinkInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Link_Scheduled_Times</name>
        <label>Update Link Scheduled Times</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <actionName>tsaa__GenerateLobbyLinkInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Link_generated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>appointmentEnd</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>appointmentStart</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tsaa__GenerateLobbyLinkInvocable</nameSegment>
        <outputParameters>
            <assignToReference>LobbyInvite</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Delete_lobby_link</name>
        <label>Delete lobby link</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>lobbyLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Link_Field</name>
        <label>Update Link Field</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>lobbyLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lobby_Invite.tsaa__LobbyLink__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_template</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DML_Operation</name>
        <label>DML Operation</label>
        <locationX>600</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>isNew_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lobby_Link_With_Scheduled_Time</targetReference>
            </connector>
            <label>is New</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Link_Deleted</targetReference>
            </connector>
            <label>Changed to Canceled</label>
        </rules>
        <rules>
            <name>Date_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedEndTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Link_Scheduled_Times</targetReference>
            </connector>
            <label>Date changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_Template</name>
        <label>Exist Template</label>
        <locationX>600</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Link_generated</name>
        <label>Link generated?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LobbyInvite</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lobby_Invite</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>toRecordForm</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.ContactId}),{!$Record.ParentRecordId},{!$Record.ContactId})</expression>
    </formulas>
    <interviewLabel>Generate Scheduled VRA Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Scheduled VRA Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lobby_Invite</name>
        <label>Get Lobby Invite</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Link_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LobbyInvite</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tsaa__Session_Lobby_Invite__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_template</name>
        <label>Get template</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OM_NewAppointmentVideo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>600</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Exist_Template</targetReference>
        </connector>
        <inputAssignments>
            <field>OM_LobbyLink__c</field>
            <value>
                <elementReference>lobbyLink</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <sourceTemplate>tsaa__VRA_Manage_Lobby_Invites</sourceTemplate>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DML_Operation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AppointmentType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Video</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello,
Here is the invite for your scheduled VRA meeting:
{!LobbyInvite}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your Appointment Link is Ready&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LobbyInvite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lobbyLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
