force-app/main/default/flows/OM_OutboundAfterInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Change_Status</name>
        <label>Change Status</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Loop_CB.OM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_CB.OM_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelada por la generación de un nuevo callback: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_CB.OM_Comments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cbToCancel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_CB</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CB</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EmptyList</name>
        <label>EmptyList?</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Cancel_callbacks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Empty</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cbToCancel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Callback</name>
        <label>Is Callback?</label>
        <locationX>226</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_CB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recordtype.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CB</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Outbound - After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Outbound - After Insert</label>
    <loops>
        <name>Loop_CB</name>
        <label>Loop CB</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_CB</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EmptyList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CB</name>
        <label>Get CB</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CB</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recordtype.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OM_FormattedPhone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OM_FormattedPhone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </filters>
        <filters>
            <field>OM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <filters>
            <field>OM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En curso</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OM_Callback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recordtype</name>
        <label>Recordtype</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Callback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OM_Callback</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_callbacks</name>
        <label>Cancel callbacks</label>
        <locationX>138</locationX>
        <locationY>1151</locationY>
        <inputReference>cbToCancel</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recordtype</targetReference>
        </connector>
        <object>OM_Callback__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cbToCancel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OM_Callback__c</objectType>
    </variables>
</Flow>
