force-app/main/default/flows/OM_OutboundAfterUpdateStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Clone_record</name>
        <label>Clone record</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>newOutboundRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modify_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Modify_Fields</name>
        <label>Modify Fields</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>newOutboundRecord.OM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutboundRecord.OM_ScheduledDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>schedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutboundRecord.OM_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reintentos</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutboundRecord.OM_PreviousCB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutboundRecord.OM_EndDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutboundRecord.OM_StartDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Cola_Propietario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Modify_Owner</name>
        <label>Modify Owner</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>newOutboundRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Reintento</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cola_Propietario</name>
        <label>Cola Propietario</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Crear_Reintento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Vacía</defaultConnectorLabel>
        <rules>
            <name>Rellena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OM_OwnerQueue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <name>M_ximo_reintentos</name>
        <label>Máximo reintentos?</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Clone_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_reintentos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OM_RetryLimit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OM_AttempsNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_registro</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Actualiza ciertos campos cuando se produce un cambio de estado en el registro.</description>
    <environments>Default</environments>
    <formulas>
        <name>ownerId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_Queue.Id}),{!$Record.OwnerId},{!Get_Queue.Id})</expression>
    </formulas>
    <formulas>
        <name>schedDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + ({!$Record.OM_RetryOffset__c}/1440)</expression>
    </formulas>
    <interviewLabel>Outbound - After Update - Estado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Outbound - After Update - Estado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Reintento</name>
        <label>Crear Reintento</label>
        <locationX>446</locationX>
        <locationY>1151</locationY>
        <inputReference>newOutboundRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Modify_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OM_OwnerQueue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_registro</name>
        <label>Actualizar registro</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>OM_Comments__c</field>
            <value>
                <stringValue>Se ha alcanzado el número máximo de reintentos.</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>M_ximo_reintentos</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cliente no localizado</stringValue>
            </value>
        </filters>
        <object>OM_Callback__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newOutboundRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OM_Callback__c</objectType>
    </variables>
</Flow>
