force-app/main/default/flows/OM_OutboundBeforeUpdateStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Num_intentos</name>
        <label>Add Num intentos</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>NumIntentos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_attemps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_campos_finalizado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>402</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>En_curso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En curso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_campos_en_curso</targetReference>
            </connector>
            <label>En curso</label>
        </rules>
        <rules>
            <name>Finalizada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalizada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_campos_finalizado</targetReference>
            </connector>
            <label>Finalizada</label>
        </rules>
        <rules>
            <name>No_localizado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente no localizado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Num_intentos</targetReference>
            </connector>
            <label>No localizado</label>
        </rules>
    </decisions>
    <description>Actualiza ciertos campos cuando se produce un cambio de estado en el registro.</description>
    <environments>Default</environments>
    <formulas>
        <name>var_attemps</name>
        <dataType>Number</dataType>
        <expression>IF(isnull({!$Record__Prior.OM_AttempsNumber__c}), 1, {!$Record__Prior.OM_AttempsNumber__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>var_now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Outbound - Before Update - Estado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Outbound - Before Update - Estado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_campos_en_curso</name>
        <label>Actualizar campos - en curso</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>OM_StartDate__c</field>
            <value>
                <elementReference>var_now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_campos_finalizado</name>
        <label>Actualizar campos - finalizado</label>
        <locationX>402</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>OM_AttempsNumber__c</field>
            <value>
                <elementReference>NumIntentos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OM_EndDate__c</field>
            <value>
                <elementReference>var_now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>OM_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En curso</stringValue>
            </value>
        </filters>
        <filters>
            <field>OM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finalizada</stringValue>
            </value>
        </filters>
        <filters>
            <field>OM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cliente no localizado</stringValue>
            </value>
        </filters>
        <object>OM_Callback__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NumIntentos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
