force-app/main/default/flows/OM_RecordingPermission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_VC</name>
        <label>Assign VC</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>vcRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vcRecord.OM_RecordingAccepted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Respuesta_del_cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vcRecord.OM_RequestedByAgent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_VC</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>&lt;strong&gt;{!$Label.OM_No}&lt;/strong&gt; {!$Label.OM_Agree}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>&lt;strong&gt;{!$Label.OM_Yes} &lt;/strong&gt;{!$Label.OM_Agree}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Activar_grabaci_n</name>
        <label>Activar grabación?</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Estaba_activa_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_activate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respuesta_del_cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estaba_activa</targetReference>
            </connector>
            <label>Activar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estaba_activa</name>
        <label>Estaba activa?</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Activargrabacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Activa</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_VC_Info.OM_RecordingAccepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_VC_Info.OM_RecordingAccepted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Informaci_n_activa</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estaba_activa_2</name>
        <label>Estaba activa?</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Informaci_n_Inactiva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_VC_Info.OM_RecordingAccepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_VC_Info.OM_RecordingAccepted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desactivar_grabaci_n</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flujo que sirve de guía para el agente para solicitar el permiso para poder grabar la conversación.</description>
    <environments>Default</environments>
    <formulas>
        <name>AgreeMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.OM_AgreeMessage}</expression>
    </formulas>
    <formulas>
        <name>CheckActive</name>
        <dataType>String</dataType>
        <expression>{!$Label.OM_CheckActive}</expression>
    </formulas>
    <formulas>
        <name>CheckInactive</name>
        <dataType>String</dataType>
        <expression>{!$Label.OM_CheckInactive}</expression>
    </formulas>
    <formulas>
        <name>DisagreeMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.OM_DisagreeMessage}</expression>
    </formulas>
    <formulas>
        <name>FinishFlow</name>
        <dataType>String</dataType>
        <expression>{!$Label.OM_FinishFlow}</expression>
    </formulas>
    <formulas>
        <name>GDPRMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.OM_GDPRMessage}</expression>
    </formulas>
    <formulas>
        <name>GDPRQuestion</name>
        <dataType>String</dataType>
        <expression>{!$Label.OM_GDPRQuestion}</expression>
    </formulas>
    <formulas>
        <name>startMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.OM_StartMessage}</expression>
    </formulas>
    <interviewLabel>Solicitar Permiso Grabación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Solicitar Permiso Grabación</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_VC_Info</name>
        <label>Get VC Info</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reactivar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_VC</name>
        <label>Update VC</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Activar_grabaci_n</targetReference>
        </connector>
        <inputReference>vcRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Activargrabacion</name>
        <label>Activar grabación</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ActivarGrabacionNotif</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>AgreeMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>AgreeMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TextoPermisos</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;{!GDPRMessage}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GDPRQuestion}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinishFlow1</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>FinishFlow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>FinishFlow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Desactivar_grabaci_n</name>
        <label>Desactivar grabación</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DesactivarGrabacionNotif</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>DisagreeMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>DisagreeMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmtyText2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinishFlow2</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>FinishFlow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>FinishFlow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Informaci_n_activa</name>
        <label>Información Activa</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InfoActivaNotif</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>CheckActive</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>CheckActive</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FinishFlow3</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(18, 18, 18);&quot;&gt;&lt;em&gt;**&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 12px; color: rgb(18, 18, 18);&quot;&gt; {!$Label.OM_FinishFlow}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Informaci_n_Inactiva</name>
        <label>Información Inactiva</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InfoInactivaNotif</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>CheckInactive</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>CheckInactive</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FinishFlow4</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(18, 18, 18); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;**&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(18, 18, 18); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; {!$Label.OM_FinishFlow}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Iniciar_Flujo</name>
        <label>Iniciar Flujo</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_VC_Info</targetReference>
        </connector>
        <fields>
            <name>ComenzarFlow</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>call_coaching</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>startMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>startMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reactivar</name>
        <label>Reactivar grabación</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_VC</targetReference>
        </connector>
        <fields>
            <name>TextoReactivacion</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.OM_MessageIntro}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!GDPRMessage}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!GDPRQuestion}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Respuesta_del_cliente</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Respuesta</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Iniciar_Flujo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vcRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VoiceCall</objectType>
    </variables>
</Flow>
