force-app/main/default/flows/OM_Subflujo_No_clientes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>openLead</name>
        <label>Open Lead</label>
        <locationX>787</locationX>
        <locationY>2198</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>updateVoiceCall</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
        </inputParameters>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0eecb33c&quot;,&quot;targetObjectId&quot;:&quot;{!LeadId}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <outputParameters>
            <assignToReference>screenPopInstructions</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>openNewLead</name>
        <label>Open New Lead</label>
        <locationX>1139</locationX>
        <locationY>2774</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>updateVoiceCall</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
        </inputParameters>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;c240cd33&quot;,&quot;targetObjectId&quot;:&quot;{!newLeadId}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <outputParameters>
            <assignToReference>screenPopInstructions</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>openOpportunity</name>
        <label>Open Opportunity</label>
        <locationX>171</locationX>
        <locationY>1886</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>updateVoiceCall</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
            <value>
                <elementReference>screenPopInstructions</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;2db0d84a&quot;,&quot;targetObjectId&quot;:&quot;{!getOpportunity.Id}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <outputParameters>
            <assignToReference>screenPopInstructions</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>openPotentialClient</name>
        <label>Open Potential Client</label>
        <locationX>303</locationX>
        <locationY>1406</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
        </inputParameters>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;ab1b8046&quot;,&quot;targetObjectId&quot;:&quot;{!AccountId}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <outputParameters>
            <assignToReference>screenPopInstructions</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>addOrigin</name>
        <label>Add Origin</label>
        <locationX>1227</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>originsSelected</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>iteratingOverOrigins.Origen__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iteratingOverOrigins</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountIdWithDNI</name>
        <label>Assign Account Id With DNI</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_DNI_NIE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountIdWithNoDNI</name>
        <label>Assign Account Id With No DNI</label>
        <locationX>754</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_no_DNI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isPotentialClient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadId</name>
        <label>Set Lead Id</label>
        <locationX>611</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isThereLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadIdNoDNI</name>
        <label>Set Lead Id (No DNI)</label>
        <locationX>1051</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLeadNoDNI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isThereLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setVoiceCallAccount</name>
        <label>Set Voice Call Account</label>
        <locationX>303</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>input_record.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input_record.OM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>openPotentialClient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setVoiceCallDNI</name>
        <label>Set Voice Call DNI</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>input_record.OM_DNI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dni</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isPotentialClient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setVoiceCallLead</name>
        <label>Set Voice Call Lead</label>
        <locationX>787</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>input_record.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input_record.OM_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>openLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setVoiceCallNewLead</name>
        <label>Set Voice Call New Lead</label>
        <locationX>1139</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>input_record.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newLeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input_record.OM_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newLeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>openNewLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setVoiceCallNIE</name>
        <label>Set Voice Call NIE</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>input_record.OM_DNI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nie</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isPotentialClient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setVoiceCallOpportunity</name>
        <label>Set Voice Call Opportunity</label>
        <locationX>171</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>input_record.OM_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>openOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_DNI_NIE</name>
        <label>Assign DNI or NIE</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>setVoiceCallNIE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign NIE</defaultConnectorLabel>
        <rules>
            <name>Assign_DNI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.TipoDocumento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DNI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.TipoDocumento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setVoiceCallDNI</targetReference>
            </connector>
            <label>Assign DNI</label>
        </rules>
    </decisions>
    <decisions>
        <name>DNI_NIE_Question</name>
        <label>DNI NIE?</label>
        <locationX>633</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Account_no_DNI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DNI NIE vacío</defaultConnectorLabel>
        <rules>
            <name>DNI_NIE_Relleno</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>dni</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dni</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nie</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nie</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>DNI NIE Relleno</label>
        </rules>
    </decisions>
    <decisions>
        <name>DNILead</name>
        <label>DNI Lead?</label>
        <locationX>963</locationX>
        <locationY>1286</locationY>
        <defaultConnector>
            <targetReference>GetLeadNoDNI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDNILead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dni</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dni</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfNotNullAccount</name>
        <label>If Not Null Account</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>isPotentialClient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountIdWithDNI</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfNotNullAccountNoDNI</name>
        <label>If Not Null Account (No DNI)</label>
        <locationX>886</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>isPotentialClient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>NotNullNoDNI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_no_DNI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountIdWithNoDNI</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfNotNullLead</name>
        <label>If Not Null Lead</label>
        <locationX>743</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>isThereLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>NotNullLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLeadId</targetReference>
            </connector>
            <label>Not Null Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfNotNullLeadNoDNI</name>
        <label>If Not Null Lead (No DNI)</label>
        <locationX>1183</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>isThereLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>NotNullLeadNoDNI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadNoDNI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLeadIdNoDNI</targetReference>
            </connector>
            <label>Not Null Lead (No DNI)</label>
        </rules>
    </decisions>
    <decisions>
        <name>isPotentialClient</name>
        <label>Is Potential Client?</label>
        <locationX>633</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>DNILead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>isPotentialClient_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setVoiceCallAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isThereLead</name>
        <label>Is there Lead?</label>
        <locationX>963</locationX>
        <locationY>1958</locationY>
        <defaultConnector>
            <targetReference>getToPhoneOrigins</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>isThereLead_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setVoiceCallLead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isThereOpportunity</name>
        <label>Is there Opportunity?</label>
        <locationX>303</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>updateVoiceCall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>isThereOpportunity_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setVoiceCallOpportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>phoneWithoutPref</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!phone}) &gt; 9, RIGHT({!phone}, 9), {!phone})</expression>
    </formulas>
    <interviewLabel>Subflujo - No clientes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo - No clientes</label>
    <loops>
        <name>iteratingOverOrigins</name>
        <label>Iterating Over Origins</label>
        <locationX>1139</locationX>
        <locationY>2198</locationY>
        <collectionReference>getToPhoneOrigins</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addOrigin</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createLead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <name>createLead</name>
        <label>Create Lead</label>
        <locationX>1139</locationX>
        <locationY>2534</locationY>
        <assignRecordIdToReference>newLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>setVoiceCallNewLead</targetReference>
        </connector>
        <inputAssignments>
            <field>DocumentoIdentidad__c</field>
            <value>
                <elementReference>dni</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>Alta Automática</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>Alta Automática</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Telefonía</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OM_SubOrigin__c</field>
            <value>
                <elementReference>originsSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfNotNullAccount</targetReference>
        </connector>
        <filterLogic>((4 AND 1) OR (5 AND 2) OR (6 AND 7 AND 8) OR (6 AND 9 AND 10) OR (6 AND 11 AND 12)) AND 3</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>phoneWithoutPref</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>phoneWithoutPref</elementReference>
            </value>
        </filters>
        <filters>
            <field>EstadoCuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cliente potencial</stringValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DocumentoIdentidad__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DocumentoIdentidad__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>dni</elementReference>
            </value>
        </filters>
        <filters>
            <field>TipoDocumento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NIF</stringValue>
            </value>
        </filters>
        <filters>
            <field>DocumentoIdentidad__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>nie</elementReference>
            </value>
        </filters>
        <filters>
            <field>TipoDocumento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NIE</stringValue>
            </value>
        </filters>
        <filters>
            <field>DocumentoIdentidad__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>dni</elementReference>
            </value>
        </filters>
        <filters>
            <field>TipoDocumento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_no_DNI</name>
        <label>Get Account (no DNI)</label>
        <locationX>886</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfNotNullAccountNoDNI</targetReference>
        </connector>
        <filterLogic>((4 AND 1) OR (5 AND 2)) AND 3</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>phoneWithoutPref</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>phoneWithoutPref</elementReference>
            </value>
        </filters>
        <filters>
            <field>EstadoCuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cliente potencial</stringValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLead</name>
        <label>Get Lead</label>
        <locationX>743</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfNotNullLead</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR (9 AND (((10 OR 4) AND 3) OR (5 AND 6) OR (7 AND 8)) )</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>phoneWithoutPref</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>phoneWithoutPref</elementReference>
            </value>
        </filters>
        <filters>
            <field>DocumentoIdentidad__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>dni</elementReference>
            </value>
        </filters>
        <filters>
            <field>TipoDocumento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NIF</stringValue>
            </value>
        </filters>
        <filters>
            <field>DocumentoIdentidad__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>dni</elementReference>
            </value>
        </filters>
        <filters>
            <field>TipoDocumento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIF</stringValue>
            </value>
        </filters>
        <filters>
            <field>DocumentoIdentidad__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>nie</elementReference>
            </value>
        </filters>
        <filters>
            <field>TipoDocumento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NIE</stringValue>
            </value>
        </filters>
        <filters>
            <field>DocumentoIdentidad__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TipoDocumento__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLeadNoDNI</name>
        <label>Get Lead (No DNI)</label>
        <locationX>1183</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfNotNullLeadNoDNI</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>phoneWithoutPref</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>phoneWithoutPref</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>303</locationX>
        <locationY>1526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isThereOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getToPhoneOrigins</name>
        <label>Get To Phone Origins</label>
        <locationX>1139</locationX>
        <locationY>2078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iteratingOverOrigins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Telefono__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>toPhone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OM_PhoneOrigin__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateVoiceCall</name>
        <label>Update Voice Call</label>
        <locationX>633</locationX>
        <locationY>3086</locationY>
        <inputReference>input_record</inputReference>
    </recordUpdates>
    <start>
        <locationX>507</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DNI_NIE_Question</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dialedNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dni</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VoiceCall</objectType>
    </variables>
    <variables>
        <name>iv_defaultQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nie</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>originsSelected</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenPopInstructions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PendingServiceRoutingInteractionInfo</objectType>
    </variables>
    <variables>
        <name>tipoDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>toPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
