force-app/main/default/flows/OM_ServiceAppointmentCreateAndUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Actualizar_SA</name>
        <label>Actualizar SA</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.OM_WorkTypeDocuments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkTypeDocuments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.Street</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>DML_Type</name>
        <label>DML Type?</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_SA</name>
        <label>Update SA?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypeDocuments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkTypeDocuments</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>emptyAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_SA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>emptyAddress</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.ServiceTerritoryId}) || (ISBLANK({!$Record.ServiceTerritory.Street}) &amp;&amp; ISBLANK({!$Record.ServiceTerritory.PostalCode}) &amp;&amp; ISBLANK({!$Record.ServiceTerritory.City})  &amp;&amp; ISBLANK({!$Record.ServiceTerritory.State})  &amp;&amp; ISBLANK({!$Record.ServiceTerritory.Country}) )</expression>
    </formulas>
    <formulas>
        <name>isInsert</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>WorkTypeDocuments</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.WorkTypeId}), {!EmptyString}, {!$Record.WorkType.OM_Documents__c})</expression>
    </formulas>
    <interviewLabel>Service Appointment - Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment - Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DML_Type</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EmptyString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
