force-app/main/default/flows/OM_SetVoiceCallAttribution.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>addOrigin</name>
        <label>Add Origin</label>
        <locationX>138</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>originsSelected</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>iteratingOverOrigins.Origen__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iteratingOverOrigins</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>toPhoneIsNull</name>
        <label>To Phone Is Null?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToPhoneNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getToPhoneOrigins</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>vcOrigin</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!$Record.CallType}, &quot;Inbound&quot;) ,&quot;Entrante&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Set Attribution Voice Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Voice Call Attribution</label>
    <loops>
        <name>iteratingOverOrigins</name>
        <label>Iterating Over Origins</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <collectionReference>getToPhoneOrigins</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addOrigin</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateVoiceCall</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getToPhoneOrigins</name>
        <label>Get To Phone Origins</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iteratingOverOrigins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Telefono__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.ToPhoneNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OM_PhoneOrigin__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateVoiceCall</name>
        <label>Update Voice Call</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>OM_Attribution__c</field>
            <value>
                <elementReference>originsSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OM_Type__c</field>
            <value>
                <elementReference>vcOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>toPhoneIsNull</targetReference>
        </connector>
        <object>VoiceCall</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>originsSelected</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
