force-app/main/default/flows/OM_SubflowCreateOutboundCall.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Asignar_cola</name>
        <label>Asignar cola</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>newOutboundCall.OM_OwnerQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutboundCall.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Outbound_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Outbound_Call</name>
        <label>Generate Outbound Call</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>newOutboundCall.OM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutboundCall.OM_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phoneToCall</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutboundCall.OM_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutboundCall.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutboundCall.OM_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Autocita</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_OutboundCall</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>queueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SCV_CALLBACK_CALL_CENTER</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Cola_encontrada</name>
        <label>Cola encontrada</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Generate_Outbound_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_cola</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Subflujo del flujo de Autocita Web que se encarga de generar una llamada saliente.</description>
    <environments>Default</environments>
    <formulas>
        <name>errorComments</name>
        <dataType>String</dataType>
        <expression>&apos;Ha habido un error al generar la cita de &apos; +{!otherInfoName} + &apos;: &apos;+ {!mensajeError} + BR() +
&apos;Ha seleccionado que &apos; + IF({!isNewProduct},&apos;ya es cliente y quiere información de nuevo producto&apos;,&apos;NO es cliente&apos;)</expression>
    </formulas>
    <formulas>
        <name>finalComments</name>
        <dataType>String</dataType>
        <expression>IF({!esError},{!errorComments},{!outboundComments})</expression>
    </formulas>
    <formulas>
        <name>outboundComments</name>
        <dataType>String</dataType>
        <expression>{!otherInfoName} + &apos; solicita información sobre otros productos (a través de autocita).&apos; + BR() +
&apos;ACEPTA Política de Privacidad.&apos; + BR() +
IF({!whatsappCheck},&apos;ACEPTA Whatsapp.&apos;, &apos;NO ACEPTA Whatsapp.&apos;) + BR() +
IF({!comercialCheck},&apos;ACEPTA Comunicaciones Comerciales.&apos;, &apos;NO ACEPTA Comunicaciones Comerciales.&apos;)</expression>
    </formulas>
    <formulas>
        <name>successMessage</name>
        <dataType>String</dataType>
        <expression>IF({!esError},{!$Label.OM_SA_Error}+&apos; &apos;,&apos;&apos;) + {!$Label.OM_CB_Success}</expression>
    </formulas>
    <interviewLabel>Subflow Create OutboundCall {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow Create OutboundCall</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordCreates>
        <name>Insert_OutboundCall</name>
        <label>Insert OutboundCall</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Outbound_Info</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CB_Error</targetReference>
        </faultConnector>
        <inputReference>newOutboundCall</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cola_encontrada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OM_Callback</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OM_Callback__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CB_Error</name>
        <label>CB Error</label>
        <locationX>490</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cbError</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>$Label.OM_CB_Error</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>$Label.OM_CB_Error</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Outbound_Info</name>
        <label>Outbound Info</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>outboundInfoMessage</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>successMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>successMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>comercialCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>esError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isNewProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mensajeError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOutboundCall</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OM_Callback__c</objectType>
    </variables>
    <variables>
        <name>otherInfoName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phoneToCall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>whatsappCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
