force-app/main/default/flows/OM_SubflowSelfAppointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Save_Appointment_Contact</name>
        <label>Save Appointment Contact</label>
        <locationX>50</locationX>
        <locationY>2570</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>Get_Template_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>RB_2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>SAfieldsFormulaContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>selectedTimeZone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Appointment_Lead</name>
        <label>Save Appointment Lead</label>
        <locationX>578</locationX>
        <locationY>2570</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>Get_Template_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>RB_1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>SAfieldsFormulaLead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>selectedTimeZone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email</name>
        <label>Send email</label>
        <locationX>50</locationX>
        <locationY>2786</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Template_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_Lead</name>
        <label>Send email Lead</label>
        <locationX>578</locationX>
        <locationY>2786</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Template_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Info_Name</name>
        <label>Assign Info Name</label>
        <locationX>2954</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>infoName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nombre_y_apellidos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneCB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phoneNumber.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_Create_OutboundCall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead</name>
        <label>Assign Lead</label>
        <locationX>1634</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Lead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToUpdate.AceptoPoliticaPrivacidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.AceptoPoliticaPrivacidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToUpdate.Deseo_recibir_Mensajes_de_Whatsapp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Deseo_recibir_Mensajes_de_Whatsapp__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToUpdate.DeseoRecibirComunicacionesComerciales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.DeseoRecibirComunicacionesComerciales__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Message_Error</name>
        <label>Assign Message Error</label>
        <locationX>1106</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>messageError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createRecordsError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>esError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>infoName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>infoName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>infoName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneCB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Subflow_Create_OutboundCall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Message_Error_2</name>
        <label>Assign Message Error 2</label>
        <locationX>314</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>messageError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>esError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>infoName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>infoName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>infoName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneCB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_Create_OutboundCall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ObjectType</name>
        <label>Assign ObjectType</label>
        <locationX>1898</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>objectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LeadProduct__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Crear_Registros_Relacionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Related_Record</name>
        <label>Assign Related Record</label>
        <locationX>710</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>objectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.AceptoPoliticaPrivacidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acepto_LOPD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Deseo_recibir_Mensajes_de_Whatsapp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WhatsappAgree1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.DeseoRecibirComunicacionesComerciales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgreeComercial1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_territory</name>
        <label>Assign territory</label>
        <locationX>2063</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Online_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Time_Slot_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Lead</name>
        <label>Complete Lead</label>
        <locationX>1898</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.AceptoPoliticaPrivacidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acepto_LOPD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Deseo_recibir_Mensajes_de_Whatsapp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WhatsappAgree1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.DeseoRecibirComunicacionesComerciales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgreeComercial1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_Assignment</name>
        <label>Initial Assignment</label>
        <locationX>2475</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Autocita - Alta Automática</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Autocita</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>saSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>saDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Topics_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SA_fields</name>
        <label>SA fields</label>
        <locationX>578</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAfieldsFormulaLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Appointment_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SA_fields_contacts</name>
        <label>SA fields Contacts</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAfieldsFormulaContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Appointment_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Catalan</name>
        <choiceText>{!$Label.OM_CAT}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CAT</stringValue>
        </value>
    </choices>
    <choices>
        <name>English</name>
        <choiceText>{!$Label.OM_EN}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spanish</name>
        <choiceText>{!$Label.OM_ES}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ES</stringValue>
        </value>
    </choices>
    <constants>
        <description>Debe aceptar la Ley de Protección de Datos.</description>
        <name>LOPD_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Debe aceptar condiciones de uso y la política de privacidad.</stringValue>
        </value>
    </constants>
    <constants>
        <name>saDescription</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cita generada desde la Web.</stringValue>
        </value>
    </constants>
    <constants>
        <name>saSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Autocita Web</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Contact_Found</name>
        <label>Contact Found</label>
        <locationX>1304</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Related_Record</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_OR_Lead</name>
        <label>Contact OR Lead?</label>
        <locationX>314</locationX>
        <locationY>2354</locationY>
        <defaultConnector>
            <targetReference>SA_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_fields_contacts</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_en_creaci_n</name>
        <label>Error en creación?</label>
        <locationX>710</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Assign_Message_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Correcto</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>createRecordsError</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>createRecordsError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_OR_Lead</targetReference>
            </connector>
            <label>Correcto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_territorio_Online</name>
        <label>Hay territorio Online</label>
        <locationX>2195</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Warning_Online</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Online_Territory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_territory</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Found</name>
        <label>Lead Found</label>
        <locationX>1898</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Insert_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nuevo_Producto</name>
        <label>Nuevo Producto?</label>
        <locationX>1997</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Complete_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nuevo cliente</defaultConnectorLabel>
        <rules>
            <name>Nuevo_Producto_si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact</targetReference>
            </connector>
            <label>Nuevo Producto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_info</name>
        <label>Other info?</label>
        <locationX>2475</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Datos_de_contacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sí</defaultConnectorLabel>
        <rules>
            <name>No_otra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otherInfo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Type_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Presencial</name>
        <label>Presencial?</label>
        <locationX>1997</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Seleccione_idioma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remoto</defaultConnectorLabel>
        <rules>
            <name>Presencial_si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.AppointmentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>People</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Screen</targetReference>
            </connector>
            <label>Presencial</label>
        </rules>
    </decisions>
    <description>Suflujo donde se implementa la funcionalidad de selección de cita</description>
    <dynamicChoiceSets>
        <name>selectLang</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OM_Language__c</picklistField>
        <picklistObject>ServiceTerritory</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>emailTemplate</name>
        <dataType>String</dataType>
        <expression>CASE({!ServiceAppointment.AppointmentType},
&apos;People&apos;, &apos;OM_NewAppointmentPeople&apos;,
&apos;Call&apos;, &apos;OM_NewAppointmentCall&apos;,
&apos;Video&apos;,&apos;OM_NewAppointmentVideo&apos;,
&apos;OM_NewAppointmentCall&apos;
)</expression>
    </formulas>
    <formulas>
        <name>endDateForm</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(TEXT({!ServiceAppointment.SchedEndTime}), &apos; &apos;, &apos;T&apos;), &apos;00Z&apos;, &apos;00.000Z&apos;)</expression>
    </formulas>
    <formulas>
        <name>formattedName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TRIM(LOWER({!FirstName})+LOWER({!LastName})),&quot; &quot;,&quot;&quot;),&quot;  &quot;,&quot;&quot;),&quot;á&quot;,&quot;a&quot;),&quot;é&quot;,&quot;e&quot;),&quot;í&quot;,&quot;i&quot;),&quot;ó&quot;,&quot;o&quot;),&quot;ú&quot;,&quot;u&quot;),&quot;à&quot;,&quot;a&quot;),&quot;è&quot;,&quot;e&quot;),&quot;ì&quot;,&quot;i&quot;),&quot;ò&quot;,&quot;o&quot;),&quot;ù&quot;,&quot;u&quot;),&quot;â&quot;,&quot;a&quot;),&quot;ê&quot;,&quot;e&quot;),&quot;î&quot;,&quot;i&quot;),&quot;ô&quot;,&quot;o&quot;),&quot;û&quot;,&quot;u&quot;)</expression>
    </formulas>
    <formulas>
        <name>infoNameForm</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Lead.Email})), {!infoName} + &apos;(&apos; + {!Lead.Email} +&apos;)&apos;,{!infoName})</expression>
    </formulas>
    <formulas>
        <name>SAfieldsFormulaContact</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;AppointmentType&quot;:&quot;&apos; + TEXT({!ServiceAppointment.AppointmentType}) + &apos;&quot;,&apos; +
&apos;&quot;ServiceTerritoryId&quot;:&quot;&apos; + {!ServiceAppointment.ServiceTerritoryId} + &apos;&quot;,&apos; +
&apos;&quot;ServiceResourceId&quot;:&quot;&apos; + {!ServiceResourceId} + &apos;&quot;,&apos; +
&apos;&quot;WorkTypeGroupId&quot;:&quot;&apos; + {!WorkTypeGroupId} + &apos;&quot;,&apos; +
&apos;&quot;OM_Product__c&quot;:&quot;&apos; + {!productId} + &apos;&quot;,&apos; +
&apos;&quot;Subject&quot;:&quot;&apos; + {!saSubject} + &apos;&quot;,&apos; +
&apos;&quot;Description&quot;:&quot;&apos; + {!saDescription} + &apos;&quot;,&apos; +
&apos;&quot;SchedStartTime&quot;:&quot;&apos; + {!startDateForm} + &apos;&quot;,&apos; +
&apos;&quot;SchedEndTime&quot;:&quot;&apos; + {!endDateForm}  + &apos;&quot;,&apos; +
&apos;&quot;Phone&quot;:&quot;&apos; + {!Lead.Phone} + &apos;&quot;,&apos; +
&apos;&quot;Email&quot;:&quot;&apos; + {!Lead.Email} + &apos;&quot;,&apos; +
&apos;&quot;isSlotChanged&quot;:false,&apos; + 
&apos;&quot;OM_ContactName__c&quot;:&quot;&apos; + {!GetContact.FirstName} + &apos; &apos; + {!GetContact.LastName}+ &apos;&quot;,&apos;  +
&apos;&quot;ParentRecordId&quot;:&quot;&apos; + {!GetContact.AccountId} + &apos;&quot;,&apos;  +
&apos;&quot;ContactId&quot;:&quot;&apos; + {!GetContact.Id} + &apos;&quot;,&apos; +
&apos;&quot;schedulingPolicyName&quot;:&quot;&apos; + {!SchedulingPolicyName} + &apos;&quot;}&apos;</expression>
    </formulas>
    <formulas>
        <name>SAfieldsFormulaLead</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;AppointmentType&quot;:&quot;&apos; + TEXT({!ServiceAppointment.AppointmentType}) + &apos;&quot;,&apos; +
&apos;&quot;ServiceTerritoryId&quot;:&quot;&apos; + {!ServiceAppointment.ServiceTerritoryId} + &apos;&quot;,&apos; +
&apos;&quot;ServiceResourceId&quot;:&quot;&apos; + {!ServiceResourceId} + &apos;&quot;,&apos; +
&apos;&quot;WorkTypeGroupId&quot;:&quot;&apos; + {!WorkTypeGroupId} + &apos;&quot;,&apos; +
&apos;&quot;OM_Product__c&quot;:&quot;&apos; + {!productId} + &apos;&quot;,&apos; +
&apos;&quot;Subject&quot;:&quot;&apos; + {!saSubject} + &apos;&quot;,&apos; +
&apos;&quot;Description&quot;:&quot;&apos; + {!saDescription} + &apos;&quot;,&apos; +
&apos;&quot;SchedStartTime&quot;:&quot;&apos; + {!startDateForm} + &apos;&quot;,&apos; +
&apos;&quot;SchedEndTime&quot;:&quot;&apos; + {!endDateForm}  + &apos;&quot;,&apos; +
&apos;&quot;Phone&quot;:&quot;&apos; + {!Lead.Phone} + &apos;&quot;,&apos; +
&apos;&quot;Email&quot;:&quot;&apos; + {!Lead.Email} + &apos;&quot;,&apos; +
&apos;&quot;isSlotChanged&quot;:false,&apos; + 
&apos;&quot;OM_ContactName__c&quot;:&quot;&apos; + {!Lead.FirstName} + &apos; &apos; + {!Lead.LastName}+ &apos;&quot;,&apos; +
&apos;&quot;ParentRecordId&quot;:&quot;&apos; + {!Lead.Id} + &apos;&quot;,&apos;  +
&apos;&quot;schedulingPolicyName&quot;:&quot;&apos; + {!SchedulingPolicyName} + &apos;&quot;}&apos;</expression>
    </formulas>
    <formulas>
        <name>startDateForm</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(TEXT({!ServiceAppointment.SchedStartTime}), &apos; &apos;, &apos;T&apos;), &apos;00Z&apos;, &apos;00.000Z&apos;)</expression>
    </formulas>
    <interviewLabel>Subflujo Autocita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo Autocita</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordCreates>
        <name>Insert_Lead</name>
        <label>Insert Lead</label>
        <locationX>2162</locationX>
        <locationY>2246</locationY>
        <assignRecordIdToReference>Lead.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_ObjectType</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Message_Error_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AceptoPoliticaPrivacidad__c</field>
            <value>
                <elementReference>Lead.AceptoPoliticaPrivacidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Lead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeseoRecibirComunicacionesComerciales__c</field>
            <value>
                <elementReference>Lead.DeseoRecibirComunicacionesComerciales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deseo_recibir_Mensajes_de_Whatsapp__c</field>
            <value>
                <elementReference>Lead.Deseo_recibir_Mensajes_de_Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Autocita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OM_SubOrigin__c</field>
            <value>
                <elementReference>origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Lead.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>1898</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Complete_Lead</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>OM_FormattedName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formattedName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Lead.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Lead.Phone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Online_Territory</name>
        <label>Get Online Territory</label>
        <locationX>2195</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_territorio_Online</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OM_isOnline__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OM_Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChooseLanguage</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Contact</name>
        <label>Get Template Contact</label>
        <locationX>50</locationX>
        <locationY>2678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Lead</name>
        <label>Get Template Lead</label>
        <locationX>578</locationX>
        <locationY>2678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_email_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>Get Contact</label>
        <locationX>1304</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>OM_FormattedName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formattedName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Lead.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Lead.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>OtherPhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Lead.Phone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>RB_1</name>
        <label>RB 1</label>
        <locationX>842</locationX>
        <locationY>2678</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Message_Error_2</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>RB_2</name>
        <label>RB 2</label>
        <locationX>314</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>Assign_Message_Error_2</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Crear_Registros_Relacionados</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Message_Error_2</targetReference>
        </faultConnector>
        <inputReference>contactRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>1634</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Assign_ObjectType</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Message_Error_2</targetReference>
        </faultConnector>
        <inputReference>leadToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Appointment_Type_Screen</name>
        <label>Appointment Type Screen</label>
        <locationX>1997</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Presencial</targetReference>
        </connector>
        <fields>
            <name>flowApptType</name>
            <extensionName>runtime_appointmentbooking:flowApptType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedApptType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
                <name>selectedApptType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>50</locationX>
        <locationY>2894</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confirmationMessage</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>task2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>$Label.OM_SA_Success</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>$Label.OM_SA_Success</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Datos_de_contacto</name>
        <label>Datos de contacto</label>
        <locationX>2954</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Info_Name</targetReference>
        </connector>
        <fields>
            <name>SolicitudDatos</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Por favor, introduce los siguientes datos para ponernos en contacto contigo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nombre_y_apellidos</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.OM_FullName}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>phoneNumber</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.OM_Phone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>blank</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>privacyPolicy</name>
            <fieldText>&lt;p&gt;{!privaciInfoLinks}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Acepto_la_LOPD</name>
            <dataType>Boolean</dataType>
            <fieldText>{!$Label.OM_LopdText}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!LOPD_Message}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Acepto_la_LOPD}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>WhatsappAgree</name>
            <dataType>Boolean</dataType>
            <fieldText>{!$Label.OM_Whatsapp1}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AgreeComercial</name>
            <dataType>Boolean</dataType>
            <fieldText>{!$Label.OM_Comercial}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blankvalue</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>googleMessage</name>
            <fieldText>&lt;p&gt;{!googleInfoText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_Screen</name>
        <label>Location Screen</label>
        <locationX>1799</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Time_Slot_Screen</targetReference>
        </connector>
        <fields>
            <name>flowLocation</name>
            <extensionName>runtime_appointmentbooking:flowLocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>distanceUnit</name>
                <value>
                    <stringValue>km</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distance</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.City</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.PostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.State</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Street</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <fields>
            <name>locationInfo</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>$Label.OM_LocationFailed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>$Label.OM_LocationFailed</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>1997</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Nuevo_Producto</targetReference>
        </connector>
        <fields>
            <name>leadmessage</name>
            <fieldText>&lt;p&gt;Por favor, introduce tus datos.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FirstName</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.OM_Name}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.OM_LastName}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>leadNumber</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.OM_Phone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Lead.Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>leadEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.OM_Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Lead.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>privacyPolicy1</name>
            <fieldText>&lt;p&gt;{!privaciInfoLinks}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Acepto_LOPD</name>
            <dataType>Boolean</dataType>
            <fieldText>{!$Label.OM_LopdText}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!LOPD_Message}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Acepto_LOPD}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>WhatsappAgree1</name>
            <dataType>Boolean</dataType>
            <fieldText>{!$Label.OM_Whatsapp1}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AgreeComercial1</name>
            <dataType>Boolean</dataType>
            <fieldText>{!$Label.OM_Comercial}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blankValue2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>googleMessage2</name>
            <fieldText>&lt;p&gt;{!googleInfoText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Seleccione_idioma</name>
        <label>Seleccione idioma</label>
        <locationX>2195</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Online_Territory</targetReference>
        </connector>
        <fields>
            <name>ChooseLanguage</name>
            <choiceReferences>selectLang</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>ES</stringValue>
            </defaultValue>
            <fieldText>¿En qué idioma quiere ser atendido?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Time_Slot_Screen</name>
        <label>Time Slot Screen</label>
        <locationX>1997</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Review_Screen</targetReference>
        </connector>
        <fields>
            <name>appointment_timeappointment_time</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <stringValue>Europe/Madrid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHideSkip</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>StartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimeZone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StartDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Online</name>
        <label>Warning - Online</label>
        <locationX>2327</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>warning_Oficina</name>
            <extensionName>c:omScopeNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconCategory</name>
                <value>
                    <stringValue>utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageNotification</name>
                <value>
                    <elementReference>$Label.OM_OnlineError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleNotification</name>
                <value>
                    <elementReference>$Label.OM_OnlineError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notificationType</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2349</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Crear_Registros_Relacionados</name>
        <label>Crear Registros Relacionados</label>
        <locationX>710</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Error_en_creaci_n</targetReference>
        </connector>
        <flowName>OM_SubflowSelfAppointment_PI_Opp</flowName>
        <inputAssignments>
            <name>contactRecord</name>
            <value>
                <elementReference>GetContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>leadId</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objectType</name>
            <value>
                <elementReference>objectType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>oficina</name>
            <value>
                <elementReference>ServiceAppointment.ServiceTerritory.OM_Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wtgId</name>
            <value>
                <elementReference>WorkTypeGroupId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createRecordsError</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>productId</assignToReference>
            <name>productId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Create_OutboundCall</name>
        <label>Subflow Create OutboundCall</label>
        <locationX>314</locationX>
        <locationY>2894</locationY>
        <flowName>OM_SubflowCreateOutboundCall</flowName>
        <inputAssignments>
            <name>comercialCheck</name>
            <value>
                <elementReference>AgreeComercial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>esError</name>
            <value>
                <elementReference>esError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isNewProduct</name>
            <value>
                <elementReference>isNewProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>mensajeError</name>
            <value>
                <elementReference>messageError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>otherInfoName</name>
            <value>
                <elementReference>infoNameForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>phoneToCall</name>
            <value>
                <elementReference>phoneCB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatsappCheck</name>
            <value>
                <elementReference>WhatsappAgree</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Topics_Subflow</name>
        <label>Topics Subflow</label>
        <locationX>2475</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Other_info</targetReference>
        </connector>
        <flowName>OM_SubflowSelfAppointment_WTG</flowName>
        <outputAssignments>
            <assignToReference>otherInfo</assignToReference>
            <name>otherInfo</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment</assignToReference>
            <name>ServiceAppointment</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ValidationErrors</assignToReference>
            <name>ValidationErrors</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkTypeGroupId</assignToReference>
            <name>WorkTypeGroupId</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>googleInfoText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(131, 127, 127); font-size: 11px;&quot;&gt;{!$Label.OM_googleMessage1} &lt;/span&gt;&lt;a href=&quot;https://www.arriagaasociados.com/politica-de-privacidad/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(247, 193, 151); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.OM_privacity}&lt;/a&gt;&lt;span style=&quot;color: rgb(247, 193, 151); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(131, 127, 127); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.OM_googleMessage2} &lt;/span&gt;&lt;a href=&quot;https://policies.google.com/terms&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(247, 193, 151); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.OM_terms}&lt;/a&gt;&lt;span style=&quot;color: rgb(247, 193, 151); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(131, 127, 127); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.OM_googleMessage3}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 193, 151); background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt; {!$Label.OM_googleMessage4} &lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>privaciInfoLinks</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(131, 127, 127); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Por favor, lea atentamente la &lt;/span&gt;&lt;a href=&quot;https://www.arriagaasociados.com/politica-de-privacidad/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(247, 193, 151); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.OM_privacity}&lt;/a&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(131, 127, 127); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;de Arriaga Asociados y la &lt;/span&gt;&lt;a href=&quot;https://www.whatsapp.com/legal/privacy-policy/?lang=es&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(247, 193, 151); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.OM_WhatsappLink}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>correlationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createRecordsError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>esError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>infoName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>messageError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>otherInfo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>phoneCB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Default_appointment_scheduling_policy</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValidationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
