force-app/main/default/flows/OM_SendAppointmentEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>toRecordForm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>DML_operation</name>
        <label>DML operation</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Template</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
        <rules>
            <name>Dates_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedEndTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Template</targetReference>
            </connector>
            <label>Dates Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>emailTemplate</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.AppointmentType},
&apos;People&apos;, &apos;OM_NewAppointmentPeople&apos;,
&apos;Call&apos;, &apos;OM_NewAppointmentCall&apos;,
&apos;Video&apos;,&apos;OM_NewAppointmentVideo&apos;,
&apos;OM_NewAppointmentCall&apos;
)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Start_Email</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.AppointmentType}, 
&apos;People&apos;, &apos;Esperamos verte en tu cita programada el próximo&apos;,
&apos;Call&apos;, &apos;Tienes una cita telefónica programada el próximo&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>toRecordForm</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.ContactId}),{!$Record.ParentRecordId},{!$Record.ContactId})</expression>
    </formulas>
    <interviewLabel>Service Appointment - Send Appointment Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment - Send Appointment Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Template</name>
        <label>Get Template</label>
        <locationX>176</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DML_operation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola {!$Record.Contact.FirstName} {!$Record.Contact.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Start_Email} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.SchedStartTime}&lt;/span&gt; para tratar tu consulta sobre {!$Record.WorkType.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Esta consulta es totalmente gratuita e intentaremos resolver todas tus dudas. Además, si después de analizar tu consulta hay motivos para reclamar, te contaremos los próximos pasos a seguir para que puedas decidir, sin compromiso.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Para valorar correctamente tu caso, necesitaremos revisar la siguiente documentación:&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.WorkType.OM_Documents__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Acuérdate de traerla a la cita.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Recuerda que, si por cualquier motivo no puedes asistir a la cita, estamos a tu disposición en el teléfono 900 264 600 o 918 289 000 para cambiarla según tu disponibilidad.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Gracias por confiar en nosotros.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>toRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
