force-app/main/default/flows/OM_SubflowSelfAppointment_PI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Product_Id</name>
        <label>Assign Product Id</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>productId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.OM_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Producto_de_Inter_s</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Tiene_producto</name>
        <label>Tiene producto?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_producto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.OM_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Id</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Subflujo Autocita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo - Autocita - Producto de Interés</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Producto_de_Inter_s</name>
        <label>Producto de Interés</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>Candidato__c</field>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comentarios__c</field>
            <value>
                <stringValue>Producto de interés creado mediante autocita.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producto__c</field>
            <value>
                <elementReference>Get_Product.OM_Product__c</elementReference>
            </value>
        </inputAssignments>
        <object>LeadProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_producto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>wtgId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroup</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OM_Product__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>wtgId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
