force-app/main/default/flows/OM_ServiceAppointmentAfterUpdateTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Cannot_Complete_Event_Status</name>
        <label>Assign Cannot Complete Event Status</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Event.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No asiste</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Complete_Event_Status</name>
        <label>Assign Complete Event Status</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Event.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Atendida</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Related_Event</name>
        <label>Has Related Event?</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Related_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Status</name>
        <label>New Status</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Complete_Event_Status</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cannot_Complete_Event_Status</targetReference>
            </connector>
            <label>Cannot Complete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Service Appointment - After Update Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment - After Update Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Event</name>
        <label>Get Related Event</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Related_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Event</name>
        <label>Update Related Event</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <inputReference>Get_Related_Event</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
