force-app/main/default/flows/OM_SelfAppointmentFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Es_nuevo_producto</name>
        <label>Es nuevo producto</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>isNewProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflujo_Autocita</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CIF</name>
        <choiceText>CIF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CIF</stringValue>
        </value>
    </choices>
    <choices>
        <name>existingProduct</name>
        <choiceText>{!$Label.OM_existingProduct}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>existingProduct</stringValue>
        </value>
    </choices>
    <choices>
        <name>isClient</name>
        <choiceText>{!$Label.OM_isClientAnswer}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client_Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>newProduct</name>
        <choiceText>{!$Label.OM_newProduct}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>newProduct</stringValue>
        </value>
    </choices>
    <choices>
        <name>NIE</name>
        <choiceText>NIE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NIE</stringValue>
        </value>
    </choices>
    <choices>
        <name>NIF</name>
        <choiceText>NIF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NIF</stringValue>
        </value>
    </choices>
    <choices>
        <name>notClient</name>
        <choiceText>{!$Label.OM_notClientAnswer}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client_No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pasaporte</name>
        <choiceText>Pasaporte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pasaporte</stringValue>
        </value>
    </choices>
    <constants>
        <description>Debe aceptar la Ley de Protección de Datos.</description>
        <name>LOPD_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Debe aceptar la Ley de Protección de Datos.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Cliente</name>
        <label>Cliente?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Subflujo_Autocita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO cliente</defaultConnectorLabel>
        <rules>
            <name>Cliente_si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clienteResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nuevo_producto</targetReference>
            </connector>
            <label>Cliente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nuevo_producto_2</name>
        <label>Nuevo producto?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Mensaje_Clientes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Producto contratado</defaultConnectorLabel>
        <rules>
            <name>Nuevo_Producto_si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newProductQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>newProduct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Es_nuevo_producto</targetReference>
            </connector>
            <label>Nuevo Producto</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>outboundComments</name>
        <dataType>String</dataType>
        <expression>&apos;Cliente que solicita información sobre un producto ya contratado (a través de autocita). Tipo de documento: &apos;+ TEXT({!accountRecord.TipoDocumento__c}) +&apos;, Documento: &apos; + {!accountRecord.DocumentoIdentidad__c}</expression>
    </formulas>
    <interviewLabel>Flujo Autocita Web {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Autocita Web</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Eres_Cliente_Screen</name>
        <label>Eres Cliente?</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cliente</targetReference>
        </connector>
        <fields>
            <name>clienteResponse</name>
            <choiceReferences>isClient</choiceReferences>
            <choiceReferences>notClient</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>notClient</defaultSelectedChoiceReference>
            <fieldText>{!$Label.OM_isCustomerQuestion}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mensaje_Clientes</name>
        <label>Mensaje Clientes</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeClientes</name>
            <fieldText>&lt;p&gt;{!TextoClientes}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Nuevo_producto</name>
        <label>Nuevo producto?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Nuevo_producto_2</targetReference>
        </connector>
        <fields>
            <name>newProductQuestion</name>
            <choiceReferences>newProduct</choiceReferences>
            <choiceReferences>existingProduct</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>newProduct</defaultSelectedChoiceReference>
            <fieldText>{!$Label.OM_newProductQuestion}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Eres_Cliente_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflujo_Autocita</name>
        <label>Subflujo Autocita</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <flowName>OM_SubflowSelfAppointment</flowName>
        <inputAssignments>
            <name>origin</name>
            <value>
                <elementReference>origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isNewProduct</name>
            <value>
                <elementReference>isNewProduct</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>TextoClientes</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Gracias por contactarnos.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Para este tipo de consultas puedes acceder a&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;TU PORTAL CLIENTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; pinchando&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://clientes.arriagaasociados.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;strong&gt;AQUÍ&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;(donde podrás consultar el estado de tus expedientes, subir documentación, modificar datos personales o abrir casos de consulta).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;También puedes&amp;nbsp;escribirnos a &lt;/span&gt;&lt;a href=&quot;mailto:clientes@arriagaasociados.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;clientes@arriagaasociados.com&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;con tu consulta y serás atendido por nuestros abogados de Atención al Cliente.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>correlationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isNewProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>newOutboundCall</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OM_Callback__c</objectType>
    </variables>
    <variables>
        <name>origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Default_appointment_scheduling_policy</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValidationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
