force-app/main/default/flows/OM_UpdateVIPClientUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>ItIsVIP</name>
        <label>It Is VIP</label>
        <locationX>1194</locationX>
        <locationY>2207</locationY>
        <assignmentItems>
            <assignToReference>isVIP</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverRelatedCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ItStillVIP</name>
        <label>It Still VIP</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>IsStillVIP</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverBeforeCases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfStillVIP</name>
        <label>CheckIfStillVIP</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>LoopOverBeforeCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCheckIfStillVIP</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND (5 AND 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverBeforeCases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverBeforeCases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incidencia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverBeforeCases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siniestro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverBeforeCases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asesoría jurídica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverBeforeCases.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverBeforeCases.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resuelto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverBeforeCases.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ItStillVIP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfVIP</name>
        <label>Check If VIP</label>
        <locationX>1326</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>LoopOverRelatedCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND (5 AND 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverRelatedCases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverRelatedCases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incidencia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverRelatedCases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siniestro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverRelatedCases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asesoría jurídica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverRelatedCases.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverRelatedCases.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resuelto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverRelatedCases.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ItIsVIP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckType</name>
        <label>Check Type</label>
        <locationX>666</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>GetCasesRelatedToAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not VIP</defaultConnectorLabel>
        <rules>
            <name>VIP</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incidencia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siniestro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asesoría jurídica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resuelto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRelatedVIPAccount</targetReference>
            </connector>
            <label>VIP</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAccountNull</name>
        <label>Is Account Null?</label>
        <locationX>314</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>CheckType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IsAccountNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRelatedAccountChanged</name>
        <label>Is Related Account Changed?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>IsAccountNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCasesRelatedToTheAccountBefore</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Flow.FaultMessage}</expression>
    </formulas>
    <interviewLabel>Update VIP Client - Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update VIP Client - Update</label>
    <loops>
        <name>LoopOverBeforeCases</name>
        <label>Loop Over Before Cases</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>GetCasesRelatedToTheAccountBefore</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckIfStillVIP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateBeforeAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverRelatedCases</name>
        <label>Loop Over Related Cases</label>
        <locationX>1106</locationX>
        <locationY>1967</locationY>
        <collectionReference>GetCasesRelatedToAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckIfVIP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRelatedNotVIPAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCasesRelatedToAccount</name>
        <label>Get Cases Related To Account</label>
        <locationX>1106</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverRelatedCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCasesRelatedToTheAccountBefore</name>
        <label>Get Cases Related To The Account Before</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverBeforeCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>OM_ErrorLog__c</field>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case2</name>
        <label>Update Case</label>
        <locationX>490</locationX>
        <locationY>1967</locationY>
        <inputAssignments>
            <field>OM_ErrorLog__c</field>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case3</name>
        <label>Update Case</label>
        <locationX>1370</locationX>
        <locationY>2639</locationY>
        <inputAssignments>
            <field>OM_ErrorLog__c</field>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBeforeAccount</name>
        <label>Update Before Account</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>IsAccountNull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountBeforeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OM_Priority__c</field>
            <value>
                <elementReference>IsStillVIP</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRelatedNotVIPAccount</name>
        <label>Update Related Not VIP Account</label>
        <locationX>1106</locationX>
        <locationY>2519</locationY>
        <faultConnector>
            <targetReference>Update_Case3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OM_Priority__c</field>
            <value>
                <elementReference>isVIP</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRelatedVIPAccount</name>
        <label>Update Related VIP Account</label>
        <locationX>226</locationX>
        <locationY>1847</locationY>
        <faultConnector>
            <targetReference>Update_Case2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OM_Priority__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsRelatedAccountChanged</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountBeforeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record__Prior.AccountId</elementReference>
        </value>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.AccountId</elementReference>
        </value>
    </variables>
    <variables>
        <name>IsStillVIP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isVIP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
