force-app/main/default/flows/OM_UpdateVIPClientDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Error_flow</name>
        <label>Error flow</label>
        <locationX>616</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>errorVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ItIsVIP</name>
        <label>It Is VIP</label>
        <locationX>440</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>isVIP</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverRelatedCases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfVIP</name>
        <label>Check If VIP</label>
        <locationX>572</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>LoopOverRelatedCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND (6 AND 7) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverRelatedCases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverRelatedCases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incidencia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverRelatedCases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siniestro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverRelatedCases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asesoría jurídica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverRelatedCases.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverRelatedCases.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverRelatedCases.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resuelto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ItIsVIP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckType</name>
        <label>Check Type</label>
        <locationX>616</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Not VIP</defaultConnectorLabel>
        <rules>
            <name>VIP</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incidencia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siniestro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asesoría jurídica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resuelto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCasesRelatedToAccount</targetReference>
            </connector>
            <label>VIP</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAccountNull</name>
        <label>Is Account Null?</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>CheckType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IsAccountNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Flow.FaultMessage}</expression>
    </formulas>
    <interviewLabel>Update VIP Client - Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update VIP Client - Delete</label>
    <loops>
        <name>LoopOverRelatedCases</name>
        <label>Loop Over Related Cases</label>
        <locationX>352</locationX>
        <locationY>671</locationY>
        <collectionReference>GetCasesRelatedToAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckIfVIP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRelatedAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCasesRelatedToAccount</name>
        <label>Get Cases Related To Account</label>
        <locationX>352</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverRelatedCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRelatedAccount</name>
        <label>Update Related Account</label>
        <locationX>352</locationX>
        <locationY>1223</locationY>
        <faultConnector>
            <targetReference>Error_flow</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OM_Priority__c</field>
            <value>
                <elementReference>isVIP</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsAccountNull</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.AccountId</elementReference>
        </value>
    </variables>
    <variables>
        <name>errorVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>errorMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>isVIP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
