force-app/main/default/flows/OM_VoiceCallAfterInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CallbackListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CallbackList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CallbackList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_fields</name>
        <label>Update fields</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CallbackList.OM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallbackList.OM_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cons_cancelledMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cons_cancelledMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Se ha cancelado el callback debido a una llamada entrante del mismo teléfono.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Existen_CB_activos</name>
        <label>¿Existen CB activos?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_active_cb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Callbacks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CallbackList</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>VoiceCall - After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VoiceCall - After Insert</label>
    <loops>
        <name>CallbackList</name>
        <label>CallbackList</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Active_Callbacks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cancel_CB</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Callbacks</name>
        <label>Get Active Callbacks</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_CB_activos</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>OM_FormattedPhone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FromPhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>OM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </filters>
        <filters>
            <field>OM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CB_RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OM_Callback__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OM_Status__c</queriedFields>
        <queriedFields>OM_Comments__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CB_RecordType</name>
        <label>Get CB RecordType</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Callbacks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OM_Callback</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_CB</name>
        <label>Cancel CB</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>CallbackListToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CB_RecordType</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CallAcceptDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CallType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </filters>
        <object>VoiceCall</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CallbackListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OM_Callback__c</objectType>
    </variables>
</Flow>
