force-app/main/default/flows/PostReplyToPlatform.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Reply_to_Google_Review</name>
        <label>Post Reply to Google Review</label>
        <locationX>176</locationX>
        <locationY>384</locationY>
        <actionName>GooglePostReplyInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>reviews</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GooglePostReplyInvocable</nameSegment>
        <outputParameters>
            <assignToReference>ErrorStackTrace</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Reply_to_TrustPilot</name>
        <label>Post Reply to TrustPilot</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <actionName>TrustpilotPostReplyInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>review</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TrustpilotPostReplyInvocable</nameSegment>
        <outputParameters>
            <assignToReference>ErrorStackTrace</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>308</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reply Error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Error_decision</name>
        <label>Error?</label>
        <locationX>440</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Error_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorStackTrace</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Error_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Google_or_Trustpilot_decision</name>
        <label>Google or Trustpilot?</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Dirty Data</defaultConnectorLabel>
        <rules>
            <name>Google</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Google</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Reply_to_Google_Review</targetReference>
            </connector>
            <label>Google</label>
        </rules>
        <rules>
            <name>Trustpilot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trustpilot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Reply_to_TrustPilot</targetReference>
            </connector>
            <label>Trustpilot</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <expression>&apos;Your reply was not updated on $Record.Platform__c. Error: &apos; + {!ErrorStackTrace}</expression>
    </formulas>
    <interviewLabel>Resenas - Post Reply to Platform {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resenas - Post Reply to Platform</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReplyText__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CustomerReview__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Google_or_Trustpilot_decision</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorStackTrace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
