force-app/main/default/flows/Revolving.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Actualización mediante la clase Apex Flow_ActualizarContratOnline</description>
        <name>Actualizacion_Contratacion_Online_existente_2_Titular</name>
        <label>Actualización Contratación Online existente 2ºTitular</label>
        <locationX>1915</locationX>
        <locationY>877</locationY>
        <actionName>Flow_ActualizarContratOnline</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AvisoCreacionSegundoTitularExistente</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>segTit</name>
            <value>
                <elementReference>IdCuentaExistente2Titular</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consentimientoSegTit</name>
            <value>
                <stringValue>SI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSegTit</name>
            <value>
                <elementReference>CorreoSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idContratOnline</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tieneVariosTit</name>
            <value>
                <elementReference>HayVariosTitularesDelPrestamo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Flow_ActualizarContratOnline</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Actualización mediante la clase Apex Flow_ActualizarContratOnline</description>
        <name>Actualizacion_Contratacion_Online_nuevo_2_Titular</name>
        <label>Actualización Contratación Online nuevo 2ºTitular</label>
        <locationX>2140</locationX>
        <locationY>629</locationY>
        <actionName>Flow_ActualizarContratOnline</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AvisoCreacionSegundoTitular</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>segTit</name>
            <value>
                <elementReference>IdCuentaSegundoTitular</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consentimientoSegTit</name>
            <value>
                <stringValue>SI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSegTit</name>
            <value>
                <elementReference>CorreoSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idContratOnline</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tieneVariosTit</name>
            <value>
                <elementReference>HayVariosTitularesDelPrestamo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Flow_ActualizarContratOnline</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email al 2º titular indicando la información que se tiene de él</description>
        <name>AvisoCreacionSegundoTitular</name>
        <label>AvisoCreacionSegundoTitular</label>
        <locationX>1962</locationX>
        <locationY>630</locationY>
        <actionName>CommunityOpp__c.AvisoCreacionSegundoTitular</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ObtenerPago</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CommunityOpp__c.AvisoCreacionSegundoTitular</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email que se manda al 2º titular para informar de los datos que ha introducido el cliente que está contratando el producto</description>
        <name>AvisoCreacionSegundoTitularExistente</name>
        <label>AvisoCreacionSegundoTitularExistente</label>
        <locationX>1731</locationX>
        <locationY>878</locationY>
        <actionName>CommunityOpp__c.AvisoCreacionSegundoTitularExistente</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ObtenerPago</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CommunityOpp__c.AvisoCreacionSegundoTitularExistente</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BuscarOportunidad</name>
        <label>Buscar Oportunidad</label>
        <locationX>508</locationX>
        <locationY>179</locationY>
        <actionName>ClaseAuxiliarCreacionObjetos</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PagaComprasCuota</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>idContratOnline</name>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idCuenta</name>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idPriceBook</name>
            <value>
                <elementReference>IdPriceBook</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opcion</name>
            <value>
                <stringValue>Buscar Oportunidad</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ClaseAuxiliarCreacionObjetos</nameSegment>
        <outputParameters>
            <assignToReference>IdOportunidad</assignToReference>
            <name>id</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CreacionContraOnline</name>
        <label>Creación Contratación Online</label>
        <locationX>663</locationX>
        <locationY>168</locationY>
        <actionName>ClaseAuxiliarCreacionObjetos</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BuscarOportunidad</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>flujo</name>
            <value>
                <elementReference>NombreOportunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idCuenta</name>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idPriceBook</name>
            <value>
                <elementReference>IdPriceBook</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idPriceBookEntry</name>
            <value>
                <elementReference>IdPriceBookEntry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idProduct</name>
            <value>
                <elementReference>IdProducto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opcion</name>
            <value>
                <stringValue>Contratación Online</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ClaseAuxiliarCreacionObjetos</nameSegment>
        <outputParameters>
            <assignToReference>IdContratacionOnline</assignToReference>
            <name>id</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Llamamos a la clase &quot;Flow_CrearSegundoTitular&quot; que se encarga de crear la cuenta personal para el segundo titular</description>
        <name>CreacionSegundoTitular</name>
        <label>Creación 2º Titular</label>
        <locationX>2332</locationX>
        <locationY>630</locationY>
        <actionName>Flow_CrearSegundoTitular</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Actualizacion_Contratacion_Online_nuevo_2_Titular</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>dni</name>
            <value>
                <elementReference>DNISec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>CorreoSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IdOportunidad</name>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nombre</name>
            <value>
                <elementReference>NombreSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>telefono</name>
            <value>
                <elementReference>TelefonoSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipoDocumento</name>
            <value>
                <elementReference>TipoDocumento</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Flow_CrearSegundoTitular</nameSegment>
        <outputParameters>
            <assignToReference>IdCuentaSegundoTitular</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Acción que invoca la clase apex Flow_ComprobacionPagos para obtener unicamente la lista de precios. No hacemos comprobación de si debe pagar o no, ya que este producto siempre se paga</description>
        <name>ObtenerPrecio</name>
        <label>Obtener listas de preci</label>
        <locationX>510</locationX>
        <locationY>52</locationY>
        <actionName>Flow_ComprobacionPagos</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreacionContraOnline</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>idCuenta</name>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idProducto</name>
            <value>
                <elementReference>IdProducto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productoGratis</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Flow_ComprobacionPagos</nameSegment>
        <outputParameters>
            <assignToReference>IdPriceBook</assignToReference>
            <name>idPriceBook</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>IdPriceBookEntry</assignToReference>
            <name>idPriceBookEntry</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Validación de campos del sugundo titular con la clase FlowValidacion</description>
        <name>Validacion2Titular</name>
        <label>Validacion2Titular</label>
        <locationX>1499</locationX>
        <locationY>1201</locationY>
        <actionName>FlowValidacion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ValidacionesCorrectas2Tit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>dni</name>
            <value>
                <elementReference>DNISec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Tlf</name>
            <value>
                <elementReference>TelefonoSec</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowValidacion</nameSegment>
        <outputParameters>
            <assignToReference>RespuestaValidar</assignToReference>
            <name>respuesta</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Respuesta</assignToReference>
            <name>respuestaDNI</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>RespuestaTLF</assignToReference>
            <name>respuestaTlf</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Validacion de DNI que se ejecuta en el código apex de FlowValidacion</description>
        <name>Validaciones</name>
        <label>Validaciones</label>
        <locationX>981</locationX>
        <locationY>1460</locationY>
        <actionName>FlowValidacion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ValidacionesCorrectas</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>Tlf</name>
            <value>
                <elementReference>TelefonoCliente</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowValidacion</nameSegment>
        <outputParameters>
            <assignToReference>RespuestaValidar</assignToReference>
            <name>respuesta</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Respuesta</assignToReference>
            <name>respuestaDNI</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>RespuestaTLF</assignToReference>
            <name>respuestaTlf</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AisgErrorTlf2Tit</name>
        <label>ErrorTlf2Tit</label>
        <locationX>1597</locationX>
        <locationY>1123</locationY>
        <assignmentItems>
            <assignToReference>BErrorTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErroresValidacionTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RespuestaTLF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RequerirDatosContactos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsigErrorDNI2Tit</name>
        <label>AsigErrorDNI2Tit</label>
        <locationX>1703</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>BErrorDNI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErroresValidacionDNI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Respuesta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorTlf2Tit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsigErrorTlf</name>
        <label>AsigErrorTlf</label>
        <locationX>1000</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>BErrorTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErroresValidacionTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RespuestaTLF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RequerirDatosContacto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CambioTelefonoAsignacion</name>
        <label>CambioTelefono</label>
        <locationX>775</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>TelefonoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TelefonoClienteTxt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validaciones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoCorrecto2</name>
        <label>NoCorrecto2</label>
        <locationX>1875</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>DNINoCorrecto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DNIVal2Tit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetearError</name>
        <label>ResetearError</label>
        <locationX>1306</locationX>
        <locationY>1121</locationY>
        <assignmentItems>
            <assignToReference>BErrorDNI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BErrorTlf</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DNINoCorrecto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarContratacionOnlineVariosTitulares</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoCuota</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <description>No hay más titulares asociados al prestamo</description>
        <name>NoMasTitulares</name>
        <choiceText>No, solo hay un titular</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoSuperior</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <description>El préstamo tiene 2 titulares</description>
        <name>Si2Titulares</name>
        <choiceText>Sí, hay otro titular y está informado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí, hay otro titular y está informado</stringValue>
        </value>
    </choices>
    <choices>
        <description>Si se indica que hay otro titular pero este no está informado</description>
        <name>Si2TitularesNoInformado</name>
        <choiceText>Hay otro titular, pero no está informado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Hay otro titular, pero no está informado</stringValue>
        </value>
    </choices>
    <choices>
        <name>SiCuota</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <description>El préstamo tiene más de dos titulares</description>
        <name>SiMasDe2Titulares</name>
        <choiceText>Hay más de dos titulares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hay más de dos titulares</stringValue>
        </value>
    </choices>
    <choices>
        <name>SiSuperior</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_CIF</name>
        <choiceText>CIF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CIF</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_DNI</name>
        <choiceText>NIF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NIF</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_NIE</name>
        <choiceText>NIE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NIE</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoDoc_Pass</name>
        <choiceText>Pasaporte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pasaporte</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AcuerdoHojaEncargo</name>
        <label>AcuerdoHojaEncargo</label>
        <locationX>849</locationX>
        <locationY>690</locationY>
        <defaultConnector>
            <targetReference>RealizarPago</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>NoAcuerdo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasillaSiHojaEncargo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulario_Contacto_Asesor</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>CambioTelefono</name>
        <label>CambioTelefono</label>
        <locationX>769</locationX>
        <locationY>1364</locationY>
        <defaultConnector>
            <targetReference>Validaciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sin Cambio Telefono</defaultConnectorLabel>
        <rules>
            <name>CambioTelefonoSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TelefonoClienteTxt</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>TelefonoCliente</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CambioTelefonoAsignacion</targetReference>
            </connector>
            <label>Cambio Telefono</label>
        </rules>
    </decisions>
    <decisions>
        <name>DNIVacioQuest</name>
        <label>DNIVacío?</label>
        <locationX>625</locationX>
        <locationY>991</locationY>
        <defaultConnector>
            <targetReference>RequerirDatosContacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SIVacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountDNI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarContacto</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>DNIVal2Tit</name>
        <label>DNIVal2Tit</label>
        <locationX>1769</locationX>
        <locationY>1309</locationY>
        <defaultConnector>
            <targetReference>ErrorTlf2Tit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Errordni2t</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respuesta</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsigErrorDNI2Tit</targetReference>
            </connector>
            <label>Errordni2t</label>
        </rules>
    </decisions>
    <decisions>
        <name>ErrorTlf</name>
        <label>ErrorTlf</label>
        <locationX>1169</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>RequerirDatosContacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>ErrorTlfSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RespuestaTLF</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsigErrorTlf</targetReference>
            </connector>
            <label>ErrorTlfSi</label>
        </rules>
    </decisions>
    <decisions>
        <name>ErrorTlf2Tit</name>
        <label>ErrorTlf2Tit</label>
        <locationX>1747</locationX>
        <locationY>1095</locationY>
        <defaultConnector>
            <targetReference>RequerirDatosContactos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>ErrorTlf2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RespuestaTLF</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AisgErrorTlf2Tit</targetReference>
            </connector>
            <label>ErrorTlf2</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha encontrado una cuenta con los datos del 2º titular</description>
        <name>Existe_el_2_Titular</name>
        <label>¿Existe el 2º Titular?</label>
        <locationX>2321</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>CreacionSegundoTitular</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existe 2º Titular</defaultConnectorLabel>
        <rules>
            <name>SIExiste2Titular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdCuentaExistente2Titular</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RolSegundoTitOpo</targetReference>
            </connector>
            <label>SI Existe 2º titular</label>
        </rules>
    </decisions>
    <decisions>
        <name>Interesuperior</name>
        <label>Interés superior</label>
        <locationX>439</locationX>
        <locationY>881</locationY>
        <defaultConnector>
            <targetReference>Formulario_Contacto_Asesor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Superior21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qInteresSuperior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SiSuperior</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DNIVacioQuest</targetReference>
            </connector>
            <label>Superior 21</label>
        </rules>
    </decisions>
    <decisions>
        <name>PersonaImplicada</name>
        <label>Cuantos titulares</label>
        <locationX>921</locationX>
        <locationY>884</locationY>
        <defaultConnector>
            <targetReference>Formulario_Contacto_Asesor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mas de 2 titulares o 2º titular no informado</defaultConnectorLabel>
        <rules>
            <name>TitularUnico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HayVariosTitularesDelPrestamo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoMasTitulares</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerPago</targetReference>
            </connector>
            <label>Titular único</label>
        </rules>
        <rules>
            <name>X2_Titulares</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HayVariosTitularesDelPrestamo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si2Titulares</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequerirDatosContactos</targetReference>
            </connector>
            <label>2 Titulares</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si tiene el titular consentimiento para proporcionar los datos del 2º titular</description>
        <name>Tiene_consentimiento_para_proporcionar_los_datos_del_2_Titular</name>
        <label>¿Tiene consentimiento para proporcionar los datos del 2º Titular?</label>
        <locationX>2141</locationX>
        <locationY>1146</locationY>
        <defaultConnector>
            <targetReference>RequerirDatosContactos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiConsentimientoDatosSegundoTitular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckConsentimientoParaSegundoTitular</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Cuenta_2_Titular</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>UsaCuotamensual</name>
        <label>UsaCuotamensual</label>
        <locationX>545</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Formulario_Contacto_Asesor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiPagaconCuota</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qCuotaMensual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SiCuota</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConsultaExtracto</targetReference>
            </connector>
            <label>SiPagaconCuota</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidacionesCorrectas</name>
        <label>ValidacionesCorrectas</label>
        <locationX>1287</locationX>
        <locationY>1401</locationY>
        <defaultConnector>
            <targetReference>ErrorTlf</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SIdni</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RespuestaValidar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetearError</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidacionesCorrectas2Tit</name>
        <label>ValidacionesCorrectas2Tit</label>
        <locationX>1761</locationX>
        <locationY>1429</locationY>
        <defaultConnector>
            <targetReference>Tiene_consentimiento_para_proporcionar_los_datos_del_2_Titular</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SinErrores</defaultConnectorLabel>
        <rules>
            <name>SierrorVal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RespuestaValidar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoCorrecto2</targetReference>
            </connector>
            <label>SierrorVal</label>
        </rules>
    </decisions>
    <description>Creación del flujo de Revolving
  - 20191002 ppt modificaciones V2</description>
    <dynamicChoiceSets>
        <description>Datos de la cuenta del 2º titular que se ha encontrado por tener el mismo correo electrónico que el indicado por el cliente que está contratando el producto</description>
        <name>CuentaExistente2Titular</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IdCuentaExistente2Titular</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <formulas>
        <name>AsuntoCaso</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.RevolCasoAsunto__c}</expression>
    </formulas>
    <formulas>
        <description>Información que se muestra en la hoja de encargo sobre los datos del segundo titular</description>
        <name>Datos2TitularHojaEncargo</name>
        <dataType>String</dataType>
        <expression>if({!DNISec} != null &amp;&amp; {!DNISec}!= &quot;&quot; , &quot; y Don/Doña &quot; &amp;{!NombreSec}&amp;&quot; , con D.N.I &quot;&amp;{!DNISec}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>DescripcionDelCaso</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.RevolCasoDescripcion__c}</expression>
    </formulas>
    <formulas>
        <name>DescripcionPago</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.RevolDescripcionRedsys__c}</expression>
    </formulas>
    <formulas>
        <name>enlaceFAQs</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;a href=&quot;&apos;&amp;{!$Setup.DatosFlujo__c.RevolvingFAQs__c}&amp;&apos;&quot;&gt;Preguntas frecuentes sobre la hoja de encargo&lt;/a&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>enlaceImagenConsulta</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;a href=&quot;https://arriagaasociados--dev1--c.documentforce.com/servlet/servlet.ImageServer?id=0155E000000NAkr&amp;oid=00D5E000000DHQK&amp;lastMod=1559649410000&quot; target=&quot;_blank&quot; &gt;¿Dónde puedo ver el tipo de interés?&lt;/a&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>ErrorDNI</name>
        <dataType>String</dataType>
        <expression>IF( {!BErrorDNI} == true,&apos;&lt;b style=&quot;color: red;&quot;&gt;&apos;&amp;{!ErroresValidacionDNI}&amp;&apos;&lt;/b&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>Mensaje de error para indicar que tiene que tener el consentimiento del 2º titular</description>
        <name>ErrorSinConsentimientoDatos2Titular</name>
        <dataType>String</dataType>
        <expression> IF( {!CheckConsentimientoParaSegundoTitular} == false ,&apos;&lt;b style=&quot;color: red;&quot;&gt; Debe tener el consentimiento de la otra persona para poder continuar &lt;/b&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>ErrorTlfTxt</name>
        <dataType>String</dataType>
        <expression>IF( {!BErrorTlf} == true,&apos;&lt;b style=&quot;color: red;&quot;&gt;&apos;&amp;{!ErroresValidacionTlf}&amp;&apos;&lt;/b&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>etiquetaError</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlujoErrorGenerico}</expression>
    </formulas>
    <formulas>
        <description>Id del contacto que ha iniciado sesión en la comunidad</description>
        <name>IdContacto</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <description>Id del tipo de registro de las cuentas personales</description>
        <name>IdTipoRegistroCuentaPersonal</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.IDTipoRegistroCuentaPersonal__c}</expression>
    </formulas>
    <formulas>
        <description>Id del usuario</description>
        <name>IdUsuario</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>MotivoDelCaso</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.FlujoCasoMotivo__c}</expression>
    </formulas>
    <formulas>
        <name>NombreOportunidad</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.RevolNombreOpp__c}</expression>
    </formulas>
    <formulas>
        <description>Rol del segundo titular que le asignaremos a la oportunidad</description>
        <name>RolSegundoTitular</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.RolSegundoTitular__c}</expression>
    </formulas>
    <formulas>
        <name>TipoDelCaso</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DatosFlujo__c.FlujoCasoTipo__c}</expression>
    </formulas>
    <interviewLabel>Revolving (Tarjetas abusivas) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revolving (Tarjetas abusivas)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreacionCaso</name>
        <label>Creación del Caso</label>
        <locationX>982</locationX>
        <locationY>347</locationY>
        <assignRecordIdToReference>IdCasoCreado</assignRecordIdToReference>
        <connector>
            <targetReference>Ir_al_caso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescripcionDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>MotivoDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AsuntoCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TipoDelCaso</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creación del Rol de contacto del segundo titular para la oportunidad creada al principio del flujo</description>
        <name>RolSegundoTitOpo</name>
        <label>RolSegundoTitOpo</label>
        <locationX>2106</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>IdOportunityContactRolSegundoTit</assignRecordIdToReference>
        <connector>
            <targetReference>Actualizacion_Contratacion_Online_existente_2_Titular</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>IdCuentaSegundoTitular</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>RolSegundoTitular</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <description>Buscamos si existe alguna cuenta que tenga como email el indicado para el segundo titular</description>
        <name>Buscar_Cuenta_2_Titular</name>
        <label>Buscar Cuenta 2º Titular</label>
        <locationX>2337</locationX>
        <locationY>1180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_el_2_Titular</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DocumentoIdentidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DNISec</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IdCuentaExistente2Titular</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Objeto de Cuenta relacionada con el Contacto</description>
        <name>CuentaRelacionada</name>
        <label>Cuenta Relacionada</label>
        <locationX>357</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenerPrecio</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountDNI</assignToReference>
            <field>DocumentoIdentidad__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountTipoDoc</assignToReference>
            <field>TipoDocumento__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObtenerContacto</name>
        <label>ObtenerContacto</label>
        <locationX>201</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CuentaRelacionada</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContacto</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>IdCuentaRelacionada</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailContacto</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreContacto</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelefonoContacto</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObtenerPago</name>
        <label>Obtener Cantidad Pago</label>
        <locationX>1443</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hojaencargo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <object>CommunityOpp__c</object>
        <outputAssignments>
            <assignToReference>CantidadPago</assignToReference>
            <field>CantidadPagar__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Contr</name>
        <label>Actualizar Contr</label>
        <locationX>279</locationX>
        <locationY>870</locationY>
        <connector>
            <targetReference>Interesuperior</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CuotaIndependiente__c</field>
            <value>
                <elementReference>qCuotaMensual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interesuperior__c</field>
            <value>
                <elementReference>qInteresSuperior</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Contr_NoCuota</name>
        <label>Actualizar Contr NoCuota</label>
        <locationX>347</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>UsaCuotamensual</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CuotaIndependiente__c</field>
            <value>
                <elementReference>qCuotaMensual</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_FinFlujo</name>
        <label>Actualizar ContrOnline FinFlujo</label>
        <locationX>1027</locationX>
        <locationY>727</locationY>
        <connector>
            <targetReference>AcuerdoHojaEncargo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OKHojaEncargo__c</field>
            <value>
                <elementReference>CasillaSiHojaEncargo</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos el registro para guardar los datos proporcionados y al ser más de 2 titulares redirigir a la página para abrir un caso</description>
        <name>ActualizarContratacionOnlineVariosTitulares</name>
        <label>Actualizar Contratación Online Varios Titulares</label>
        <locationX>1013</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>PersonaImplicada</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratacionOnline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DNI__c</field>
            <value>
                <elementReference>accountDNI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direccion__c</field>
            <value>
                <elementReference>Direccion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefono__c</field>
            <value>
                <elementReference>TelefonoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TieneVariosTitulares__c</field>
            <value>
                <elementReference>HayVariosTitularesDelPrestamo</elementReference>
            </value>
        </inputAssignments>
        <object>CommunityOpp__c</object>
    </recordUpdates>
    <screens>
        <name>ConsultaExtracto</name>
        <label>Pantalla Consulta extracto</label>
        <locationX>267</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_Contr</targetReference>
        </connector>
        <fields>
            <name>FlujoPrimerPasodos</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgPrimerpaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IntroduccionInteresSup</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Consulta el último extracto de tu tarjeta:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>enlaceImagen</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;color: rgb(71, 162, 247);&quot;&gt;{!enlaceImagenConsulta}&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qInteresSuperior</name>
            <choiceReferences>SiSuperior</choiceReferences>
            <choiceReferences>NoSuperior</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿El tipo de interés es superior al 21%?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Formulario_Contacto_Asesor</name>
        <label>Formulario Contacto Asesor</label>
        <locationX>609</locationX>
        <locationY>607</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreacionCaso</targetReference>
        </connector>
        <fields>
            <name>FlujoLlamadaCaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgCasoPantll</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Titulo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(233, 90, 19);&quot;&gt;Un asesor se pondrá en contacto contigo para continuar tu reclamación&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FormaContacto</name>
            <fieldText>¿Cómo prefieres que contactemos contigo?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Telefono</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Teléfono</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>TelefonoContacto</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>correo@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>EmailContacto</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Otro</name>
            <dataType>String</dataType>
            <fieldText>Otro</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Escribe aquí cómo quieres que te contactemos</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fecha_Hora_de_llamada</name>
            <dataType>DateTime</dataType>
            <fieldText>Fecha/Hora de llamada</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Elige a qué hora quieres que te llamemos</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Hojaencargo</name>
        <label>Hoja de encargo</label>
        <locationX>1282</locationX>
        <locationY>718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualizar_FinFlujo</targetReference>
        </connector>
        <fields>
            <name>FlujoContratacionpasoUno</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgContratacionPaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TituloHojaEncargo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(233, 90, 19); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Este es el contrato que firmas con Arriaga Asociados&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FAQs</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!enlaceFAQs}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PDFHojaEncargo</name>
            <extensionName>c:FlujoHojaEncargoVF</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>idOpp</name>
                <value>
                    <elementReference>IdOportunidad</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CasillaSiHojaEncargo</name>
            <dataType>Boolean</dataType>
            <fieldText>Estoy de acuerdo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TxtInfoPago</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 12px;&quot;&gt;Al aceptar la hoja de encargo y continuar el proceso, realizarás el pago de &lt;/i&gt;&lt;i&gt;{!CantidadPago}&lt;/i&gt;€&lt;i style=&quot;font-size: 12px;&quot;&gt; correspondiente a la contratación&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Redirigir al usuario al caso que se ha creado</description>
        <name>Ir_al_caso</name>
        <label>Ir al caso</label>
        <locationX>978</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CasoCreado</name>
            <extensionName>c:NavigateToURL</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>URL</name>
                <value>
                    <stringValue>/case/{!IdCasoCreado}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isredirect</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PagaComprasCuota</name>
        <label>Paga compras cuota mensual</label>
        <locationX>507</locationX>
        <locationY>314</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_Contr_NoCuota</targetReference>
        </connector>
        <fields>
            <name>FlujoPrimerPaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgPrimerpaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TituloInicial</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(233, 90, 19); font-size: 20px;&quot;&gt;A continuación vamos a realizarte 2 preguntas para poder gestionar tu caso&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qCuotaMensual</name>
            <choiceReferences>SiCuota</choiceReferences>
            <choiceReferences>NoCuota</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Las tarjetas de crédito pe﻿rmiten aplazar nuestros gastos&lt;br/&gt;¿Pagas tus compras con una cuota mensual independientemente de lo que gastas?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaError</name>
        <label>PantallaError</label>
        <locationX>2296</locationX>
        <locationY>64</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;{!etiquetaError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RealizarPago</name>
        <label>RealizarPago</label>
        <locationX>1027</locationX>
        <locationY>594</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Peticionpago</name>
            <extensionName>c:RedsysLlamadaServicio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>amount</name>
                <value>
                    <elementReference>CantidadPago</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <elementReference>DescripcionPago</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Name</name>
                <value>
                    <elementReference>NombreContacto</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>oportunidadId</name>
                <value>
                    <elementReference>IdOportunidad</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PagoCero</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RequerirDatosContacto</name>
        <label>RequerirDatosContacto</label>
        <locationX>763</locationX>
        <locationY>1228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CambioTelefono</targetReference>
        </connector>
        <fields>
            <name>FlujoContratPaso</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgContratacionPaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DatosContrato</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(233, 90, 19);&quot;&gt;Para redactar&amp;nbsp;tu contrato, necesitamos los siguientes datos&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>visualizarNombreCorreo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Nombre&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!NombreContacto}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Correo electrónico&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!EmailContacto}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;DNI&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!accountDNI}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorPagTlf</name>
            <fieldText>{!ErrorTlfTxt}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TelefonoClienteTxt</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TelefonoCliente</elementReference>
            </defaultValue>
            <fieldText>Teléfono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Direccion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Direccion</elementReference>
            </defaultValue>
            <fieldText>Dirección</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HayVariosTitularesDelPrestamo</name>
            <choiceReferences>NoMasTitulares</choiceReferences>
            <choiceReferences>Si2Titulares</choiceReferences>
            <choiceReferences>SiMasDe2Titulares</choiceReferences>
            <choiceReferences>Si2TitularesNoInformado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Hay otro titular de la tarjeta y dicho titular tiene voluntad de realizar la reclamación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RequerirDatosContactos</name>
        <label>Requerir Datos Contactos</label>
        <locationX>1497</locationX>
        <locationY>1036</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validacion2Titular</targetReference>
        </connector>
        <fields>
            <name>FlujoContratPasodos</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>StaticImgContratacionPaso</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Secundario</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(233, 90, 19); font-size: 20px;&quot;&gt;Contacto implicado en la contratación&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NombreSec</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NombreSec</elementReference>
            </defaultValue>
            <fieldText>Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CorreoSec</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CorreoSec</elementReference>
            </defaultValue>
            <fieldText>Correo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErroresPagDNI2</name>
            <fieldText>{!ErrorDNI}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TipoDocumento</name>
            <choiceReferences>TipoDoc_CIF</choiceReferences>
            <choiceReferences>TipoDoc_DNI</choiceReferences>
            <choiceReferences>TipoDoc_NIE</choiceReferences>
            <choiceReferences>TipoDoc_Pass</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TipoDoc_DNI</defaultSelectedChoiceReference>
            <fieldText>Tipo de documento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DNISec</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DNISec</elementReference>
            </defaultValue>
            <fieldText>DNI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErroresPagTlf2</name>
            <fieldText>{!ErrorTlfTxt}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TelefonoSec</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TelefonoSec</elementReference>
            </defaultValue>
            <fieldText>Teléfono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MensajeErrorNoConsentimiento2Titular</name>
            <fieldText>{!ErrorSinConsentimientoDatos2Titular}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TieneConsentimientoDeLaOtraPersonaParaProporcionarnosSusDatos</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Al facilitar datos de terceros manifiesta que tiene el consentimiento de su titular. Arriaga Asociados remitirá un correo electrónico a la dirección facilitada en cumplimiento del artículo 14 del Reglamento General de Protección de Datos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Si</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CheckConsentimientoParaSegundoTitular</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>ObtenerContacto</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Se actualiza los datos del contacto justo antes de realizar la contratación y solo si el DNI esta vacío</description>
        <name>ActualizarContacto</name>
        <label>ActualizarContacto</label>
        <locationX>565</locationX>
        <locationY>1227</locationY>
        <connector>
            <targetReference>RequerirDatosContacto</targetReference>
        </connector>
        <flowName>ActualizacionContacto</flowName>
        <inputAssignments>
            <name>IdCuentaRelacionada</name>
            <value>
                <elementReference>IdCuentaRelacionada</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountDNI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountTipoDoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApellidosContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BErrorDNI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BErrorTlf</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CantidadPago</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable para guardar si el titular tiene el consentimiento para proporcionar los datos del segundo titular</description>
        <name>CheckConsentimientoParaSegundoTitular</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DNINoCorrecto</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErroresValidacionDNI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErroresValidacionTlf</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del caso que se ha creado</description>
        <name>IdCasoCreado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContratacionOnline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id de la cuenta personal del segundo titular que tiene el mismo correo electrónico</description>
        <name>IdCuentaExistente2Titular</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCuentaRelacionada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id de la cuenta creada con la información del segundo titular</description>
        <name>IdCuentaSegundoTitular</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del rol del segundo Titular</description>
        <name>IdOportunityContactRolSegundoTit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPriceBook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPriceBookEntry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nombreImagenEstatica</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>consultaExtractoTarjeta</stringValue>
        </value>
    </variables>
    <variables>
        <description>Respuesta de la validación, puede ser OK o el mensaje</description>
        <name>Respuesta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RespuestaTLF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RespuestaValidar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StaticImgCasoPantll</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FlujoImgCrearCaso</stringValue>
        </value>
    </variables>
    <variables>
        <name>StaticImgContratacionPaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FlujoContratPaso</stringValue>
        </value>
    </variables>
    <variables>
        <description>Imagen estática Documentación</description>
        <name>StaticImgDocuPaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FlujoDocumentacionPaso</stringValue>
        </value>
    </variables>
    <variables>
        <name>StaticImgPrimerpaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FlujoPrimerPaso</stringValue>
        </value>
    </variables>
    <variables>
        <description>Teléfono del cliente que  proporciona en el formulario</description>
        <name>TelefonoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelefonoContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
