force-app/main/default/flows/SSJJ_EMAIL_APERTURA_CASO_COLA_RIESGOS_INCIDENCIAS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CorreoElectronico_Incidencias</name>
        <label>CorreoElectronico Incidencias</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>EMAIL APERTURA CASO COLA RIESGOS-INCIDENCIAS SALESFORCE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CuerpoMailIncidencias</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>MailDestinatario</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@arriagaasociados.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Si_pertenece_a_Cola</name>
        <label>Si pertenece a Cola</label>
        <locationX>270</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>PerteneceaCola</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ColaRiesgosIncidencias</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Riesgos - Incidencia</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecordtypeIncidencias</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Incidencias</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Es_Miembro_de_la_Cola</name>
        <label>Es Miembro de la Cola?</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Bucle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:User.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Grupo2.RelatedId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Si_pertenece_a_Cola</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Propietario_del_Caso</name>
        <label>Propietario del Caso</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Cola_Riesgos_Incidencias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Riesgos - Incidencia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PerteneceaCola</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:Group.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Riesgos - Incidencia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CorreoElectronico_Incidencias</targetReference>
            </connector>
            <label>Cola Riesgos-Incidencias</label>
        </rules>
    </decisions>
    <description>Flujo que manda un mail de aviso cuando un caso Abierto o Reabierto tiene como propietario la cola de Riesgos-Incidencias (Mail formateado con variables)
Cambiado destinatario en V2</description>
    <environments>Default</environments>
    <interviewLabel>SSJJ-EMAIL APERTURA CASO COLA RIESGOS-INCIDENCIAS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SSJJ-EMAIL APERTURA CASO COLA RIESGOS-INCIDENCIAS</label>
    <loops>
        <name>Bucle</name>
        <label>Bucle</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>Miembros_de_Grupo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Grupo2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Propietario_del_Caso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Grupo2</name>
        <label>Grupo2</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_Miembro_de_la_Cola</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Bucle.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>RelatedId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Grupo_Riesgos_Incidencia</name>
        <label>Grupo: Riesgos - Incidencia</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Miembros_de_Grupo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Riesgos - Incidencia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Miembros_de_Grupo</name>
        <label>Miembros de Grupo</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bucle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Grupo_Riesgos_Incidencia.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Grupo_Riesgos_Incidencia</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CuerpoMailIncidencias</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;[Mensaje Automático]&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Salesforce informa que tiene un caso asignado a la Cola &lt;strong&gt;&lt;em&gt;{!ColaRiesgosIncidencias}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Número del Caso: &lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;em&gt;{!$Record.CaseNumber}&lt;/em&gt;&lt;/strong&gt;, puede consultarlo buscando directamente el Número del Caso en la búsqueda de Salesforce&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Saludos&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>MailDestinatario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>incidencias@arriagaasociados.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>PerteneceaCola</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
</Flow>
