force-app/main/default/flows/SubFlow_ATC_Assignment_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Lists</name>
        <label>Assign Lists</label>
        <locationX>2514</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Contract_Main_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contracts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmtList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Status_Map</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Main_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contracts_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PathType</name>
        <label>Assign PathType</label>
        <locationX>4010</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>var_pathType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>const_ADMIN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CMT_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_ATC_TEC</name>
        <label>Assign Queue ATC TEC</label>
        <locationX>2382</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>var_pathType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>const_TEC</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Queue_ATC_VIP</name>
        <label>Assign Queue ATC VIP</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>var_pathType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>const_VIP</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Break_Loop</name>
        <label>Break Loop</label>
        <locationX>3746</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>cmtList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>cmtList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>contractList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_pathType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>const_TEC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CMT_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_Assign</name>
        <label>Contract Assign</label>
        <locationX>2602</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>contractRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Roles_Contact_Loop.Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Roles_Contact_Loop.Contract.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Main_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contractRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Roles_Contact_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_Roles_Assign</name>
        <label>Contract Roles Assign</label>
        <locationX>2602</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ContractsRolesContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contract_Contact_Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contacts_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_size</name>
        <label>List size</label>
        <locationX>2514</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>listSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Contract_Main_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_Open_Expedient</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_ADMIN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ADMIN</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_TEC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TEC</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_VIP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>VIP</stringValue>
        </value>
    </constants>
    <constants>
        <name>conts_CALLCENTER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CALL CENTER</stringValue>
        </value>
    </constants>
    <decisions>
        <name>is_Vip</name>
        <label>isVip</label>
        <locationX>1282</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>isVip_Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.OM_VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.OM_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Queue_ATC_VIP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_Open_Expedient</name>
        <label>Number Open Expedient</label>
        <locationX>2514</locationX>
        <locationY>2654</locationY>
        <defaultConnectorLabel>&gt;=1</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Queue_ATC_TEC</targetReference>
            </connector>
            <label>0</label>
        </rules>
    </decisions>
    <decisions>
        <name>PathType</name>
        <label>PathType</label>
        <locationX>4010</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>CMT_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CALL CENTER</defaultConnectorLabel>
        <rules>
            <name>TEC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMT_loop.OM_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATC TEC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Break_Loop</targetReference>
            </connector>
            <label>TEC</label>
        </rules>
        <rules>
            <name>ADMIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMT_loop.OM_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATC ADMIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PathType</targetReference>
            </connector>
            <label>ADMIN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Status</name>
        <label>Same Status?</label>
        <locationX>4230</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>CMT_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contracts_Loop.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CMT_loop.OM_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PathType</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SubFlow ATC Assignment Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow ATC Assignment Process</label>
    <loops>
        <name>CMT_loop</name>
        <label>CMT loop</label>
        <locationX>3658</locationX>
        <locationY>1670</locationY>
        <collectionReference>cmtList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Same_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contracts_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Contacts_Loop</name>
        <label>Contacts Loop</label>
        <locationX>2514</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Related_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contract_Contact_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contract_Roles_Contact_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Contract_Roles_Contact_Loop</name>
        <label>Contract Roles Contact Loop</label>
        <locationX>2514</locationX>
        <locationY>854</locationY>
        <collectionReference>ContractsRolesContactList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contract_Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Contracts_Loop</name>
        <label>Contracts Loop</label>
        <locationX>2514</locationX>
        <locationY>1550</locationY>
        <collectionReference>contractList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CMT_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>List_size</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Get_Contract_Contact_Role</name>
        <label>Get Contract Contact Role</label>
        <locationX>2602</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Roles_Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contacts_Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Status_Map</name>
        <label>Get Contract Status Map</label>
        <locationX>2514</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lists</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OM_ContractOpenCloseStatus__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts</name>
        <label>Get Contracts</label>
        <locationX>2514</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract_Status_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>2514</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1156</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Vip</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountTab</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PendingServiceRoutingInteractionInfo</objectType>
    </variables>
    <variables>
        <name>Categorizado_TEC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cmtList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OM_ContractOpenCloseStatus__mdt</objectType>
    </variables>
    <variables>
        <name>cola</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contract_Main_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>contractList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>contractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractsRolesContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractContactRole</objectType>
    </variables>
    <variables>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VoiceCall</objectType>
    </variables>
    <variables>
        <name>listSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_pathType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>conts_CALLCENTER</elementReference>
        </value>
    </variables>
</Flow>
