force-app/main/default/flows/tsaa__VRA_Manage_Deleted_SAs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Change_Status_to_Deleted</name>
        <label>Change Status to Deleted</label>
        <locationX>604</locationX>
        <locationY>127</locationY>
        <actionName>tsaa__GenerateLobbyLinkInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </inputParameters>
        <nameSegment>tsaa__GenerateLobbyLinkInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Invite_Exists</name>
        <label>Invite Exists</label>
        <locationX>490</locationX>
        <locationY>130</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InviteID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_to_Deleted</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <interviewLabel>VRA Manage Deleted SAs {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>VRA Manage Deleted SAs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lobby_Link</name>
        <label>Get Lobby Link</label>
        <locationX>392</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invite_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tsaa__RecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tsaa__AppointmentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <object>tsaa__Session_Lobby_Invite__c</object>
        <outputAssignments>
            <assignToReference>InviteID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Lobby_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>InviteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetInvite</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tsaa__Session_Lobby_Invite__c</objectType>
    </variables>
</Flow>
