force-app/main/default/flows/UAT_AfterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asig_Claveprincipal</name>
        <label>Asig_Clave Principal</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.UATPrincipal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_UATIDPrincipal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RegistroUAT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asig_Estado_Bloqueado_Dependecia</name>
        <label>Asig_Estado Bloqueado Dependecia</label>
        <locationX>490</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Loop_Actualizar_Estado_Dependientes.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dependiente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upd_Registros</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asig_Estado_Disponible_Cliente</name>
        <label>Asig_Estado Disponible Cliente</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cambio_Estado_Disponible_Cliente.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disponible Cliente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upd_Estado_UATs_Relacionadas2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asig_Estado_Nueva</name>
        <label>Asig_Estado Nueva</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Loop_Actualizar_Estado_Nuevas.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upd_Estado_UATs_Relacionadas</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Está el campode Clave UAT depenediente rellena</description>
        <name>ClaveUATDependienteRellena</name>
        <label>Clave UAT Dependiente Rellena??</label>
        <locationX>534</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_UATs_Relacionadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Está Vacío</defaultConnectorLabel>
        <rules>
            <name>Dec_SiEstaRellena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClaveUATDependiente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UATPrincipal__r.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClaveUATDependiente__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ClaveUATDependiente__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IdUATDependiente</targetReference>
            </connector>
            <label>Dec_Si está rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la UAT Principal no está OK, las UATs dependiente están bloqueadas</description>
        <name>UAT_PrincipalNoOK</name>
        <label>UAT Principal No OK</label>
        <locationX>534</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Dec_No hay camabio de estado ni principal</defaultConnectorLabel>
        <rules>
            <name>Dec_UATPrincipalDisponible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Estado__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disponible Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UATPrincipal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PruebaEjecutadaPor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leadclic Solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Actualizar_Estado_Nuevas</targetReference>
            </connector>
            <label>Dec_UATPrincipalDisponible</label>
        </rules>
        <rules>
            <name>Dec_UAT_Principal_No_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Estado__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UATPrincipal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Actualizar_Estado_Dependientes</targetReference>
            </connector>
            <label>Dec_UAT Principal No OK</label>
        </rules>
        <rules>
            <name>Dec_UATPrincipalOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Estado__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UATPrincipal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Cambio_Estado_Disponible_Cliente</targetReference>
            </connector>
            <label>Dec_UATPrincipalOK</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UAT_After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UAT_After Update</label>
    <loops>
        <name>Loop_Actualizar_Estado_Dependientes</name>
        <label>Loop_Actualizar Estado Dependientes</label>
        <locationX>402</locationX>
        <locationY>1151</locationY>
        <collectionReference>Get_UATs_Relacionadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asig_Estado_Bloqueado_Dependecia</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Actualizar_Estado_Nuevas</name>
        <label>Loop_Actualizar Estado Nuevas</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <collectionReference>Get_UATs_Relacionadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asig_Estado_Nueva</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Si la UAT Principal pasa a OK las UATs dependientes cambian su estado a Disponible Cliente</description>
        <name>Loop_Cambio_Estado_Disponible_Cliente</name>
        <label>Loop_Cambio Estado Disponible Cliente</label>
        <locationX>754</locationX>
        <locationY>1151</locationY>
        <collectionReference>Get_UATs_Relacionadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asig_Estado_Disponible_Cliente</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtenemos el id de la UAT dependiente</description>
        <name>Get_IdUATDependiente</name>
        <label>Get_Id UAT Dependiente</label>
        <locationX>402</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asig_Claveprincipal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClaveUAT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ClaveUATDependiente__c</elementReference>
            </value>
        </filters>
        <object>UAT__c</object>
        <outputAssignments>
            <assignToReference>Var_UATIDPrincipal</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos las UATs relacionadas</description>
        <name>Get_UATs_Relacionadas</name>
        <label>Get_UATs Relacionadas</label>
        <locationX>534</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UAT_PrincipalNoOK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UATPrincipal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UAT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Upd_Estado_UATs_Relacionadas</name>
        <label>Upd_Estado UATs Relacionadas</label>
        <locationX>138</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Loop_Actualizar_Estado_Nuevas</targetReference>
        </connector>
        <inputReference>Loop_Actualizar_Estado_Nuevas</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_Estado_UATs_Relacionadas2</name>
        <label>Upd_Estado UATs Relacionadas 2</label>
        <locationX>842</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Loop_Cambio_Estado_Disponible_Cliente</targetReference>
        </connector>
        <inputReference>Loop_Cambio_Estado_Disponible_Cliente</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_Registros</name>
        <label>Upd_Estado UATs Relacionadas</label>
        <locationX>490</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Loop_Actualizar_Estado_Dependientes</targetReference>
        </connector>
        <inputReference>Loop_Actualizar_Estado_Dependientes</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RegistroUAT</name>
        <label>Update_Registro UAT</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_UATs_Relacionadas</targetReference>
        </connector>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Dependiente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UATPrincipal__c</field>
            <value>
                <elementReference>Var_UATIDPrincipal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ClaveUATDependienteRellena</targetReference>
        </connector>
        <object>UAT__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_UATIDPrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
