force-app/main/default/flows/UpdateAccountSatisfaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Client_CONFORME</name>
        <label>Client CONFORME</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ClientAccount.Satisfaccion_Cliente_Resultado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CONFORME</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Client_DETRACTOR</name>
        <label>Client DETRACTOR</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ClientAccount.Satisfaccion_Cliente_Resultado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DETRACTOR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Client_INSATISFECHO</name>
        <label>Client INSATISFECHO</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ClientAccount.Satisfaccion_Cliente_Resultado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INSATISFECHO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Client_PRESCRIPTOR</name>
        <label>Client PRESCRIPTOR</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ClientAccount.Satisfaccion_Cliente_Resultado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PRESCRIPTOR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Client_SATISFECHO</name>
        <label>Client SATISFECHO</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ClientAccount.Satisfaccion_Cliente_Resultado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SATISFECHO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Id</name>
        <label>Set Id</label>
        <locationX>710</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>ClientAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ClientAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientAccount.Satisfaccion_Cliente_Motivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PENDIENTE DE REVISIÓN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Creation_or_Client_Account_Changed_decision</name>
        <label>Creation or Client Account Changed?</label>
        <locationX>1172</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Creation_or_Client_Account_Changed_decision_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ClientAccount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ClientAccount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rating_decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>rating_decision</name>
        <label>Rating?</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stars__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_DETRACTOR</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stars__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_INSATISFECHO</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stars__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_CONFORME</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stars__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_SATISFECHO</targetReference>
            </connector>
            <label>4</label>
        </rules>
        <rules>
            <name>X5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stars__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_PRESCRIPTOR</targetReference>
            </connector>
            <label>5</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Resenas - Update Account Satisfaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resenas - Update Account Satisfaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <inputReference>ClientAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Creation_or_Client_Account_Changed_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientAccount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CustomerReview__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ClientAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
