force-app/main/default/flows/Verificacion_Datos_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>CorreoPrincipal_Si</name>
        <label>CorreoPrincipal Si</label>
        <locationX>1106</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>VarTieneCorreoPrincipal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Intervinientes_Personas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Direccion_Bien</name>
        <label>Direccion Bien</label>
        <locationX>1326</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>VarTieneDireccion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNumDirecciones</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GDPR_Persona</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Direccion_Bien_E</name>
        <label>Direccion Bien</label>
        <locationX>1986</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>VarTieneDireccion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNumDirecciones</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GDPR_Empresa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Direccion_Mal</name>
        <label>Direccion Mal</label>
        <locationX>1590</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>VarTieneDireccion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GDPR_Persona</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Direccion_Mal_E</name>
        <label>Direccion Mal</label>
        <locationX>2250</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>VarTieneDireccion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GDPR_Empresa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empresa_Bien</name>
        <label>Empresa Bien</label>
        <locationX>1766</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>VarEmpresaOK</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Intervinientes_Empresas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empresa_Mal</name>
        <label>Empresa Mal</label>
        <locationX>2030</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>VarEmpresaOK</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Intervinientes_Empresas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Identificacion_Bien</name>
        <label>Identificacion Bien</label>
        <locationX>1326</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>VarTieneIdentif</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTotalIdentif</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Direcciones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Identificacion_Bien_E</name>
        <label>Identificacion Bien</label>
        <locationX>1986</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>VarTieneIdentif</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTotalIdentif</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Direcciones_E</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Identificacion_Mal</name>
        <label>Identificacion Mal</label>
        <locationX>1590</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>VarTieneIdentif</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Direcciones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Identificacion_Mal_E</name>
        <label>Identificacion Mal</label>
        <locationX>2250</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>VarTieneIdentif</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Direcciones_E</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inicializacion_E</name>
        <label>Inicializacion</label>
        <locationX>2118</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>VarTieneDireccion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTieneIdentif</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTieneCorreoPrincipal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Identificacion_E</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InicializacionP</name>
        <label>Inicializacion</label>
        <locationX>1458</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>VarTieneDireccion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTieneIdentif</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRepresentanteLegal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPolitica</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarEmpresaOK</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Identificacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Num_Intervinientes</name>
        <label>Num Intervinientes</label>
        <locationX>1546</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>VarNumIntervinientes</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cuenta_Intervinientes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Politicacontbien</name>
        <label>Politica Bien</label>
        <locationX>1986</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>VarPolitica</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNumPoliticas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Representante_E</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Politicacontmal</name>
        <label>Politica Mal</label>
        <locationX>2250</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>VarPolitica</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Representante_E</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Politicapersbien</name>
        <label>Politica Bien</label>
        <locationX>1326</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>VarPolitica</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNumPoliticas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Intervinientes_Personas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Politicapersmal</name>
        <label>Politica Mal</label>
        <locationX>1590</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>VarPolitica</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Intervinientes_Personas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Registro_Validaci_n_KO</name>
        <label>Registro Validación KO</label>
        <locationX>1898</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>VarValid_Resultado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarValid_Fecha</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fields_validation_KO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Registro_Validaci_n_KO_0</name>
        <label>Registro Validación KO</label>
        <locationX>622</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>VarValid_Resultado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarValid_Fecha</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fields_validation_KO_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Registro_Validaci_n_OK</name>
        <label>Registro Validación OK</label>
        <locationX>1634</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>VarValid_Resultado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarValid_Fecha</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fields_validation_OK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Representante_Si_E</name>
        <label>Representante Si</label>
        <locationX>1986</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>VarRepresentanteLegal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Intervinientes_Empresas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sin_Funcion</name>
        <label>Sin Funcion</label>
        <locationX>1546</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>VarFuncionVacia</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Num_Intervinientes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TitularSi</name>
        <label>TitularSi</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>VarTitulares</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Num_Intervinientes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bloqueada_Aprobacion</name>
        <label>¿Bloqueada Aprobacion?</label>
        <locationX>754</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Cuenta_de_Oportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiBloqueada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oportunidad.BloqueoAprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_Oport_Bloqueada</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Datos_Empresa_Correctos</name>
        <label>¿Datos Empresa Correctos?</label>
        <locationX>1898</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Empresa_Mal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiEmpresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cuenta_de_Oportunidad.DocumentoIdentidad__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuenta_de_Oportunidad.TipoDocumento__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuenta_de_Oportunidad.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuenta_de_Oportunidad.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuenta_de_Oportunidad.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuenta_de_Oportunidad.ShippingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuenta_de_Oportunidad.ShippingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuenta_de_Oportunidad.ShippingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empresa_Bien</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Direcciones</name>
        <label>¿Direcciones?</label>
        <locationX>1458</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Direccion_Mal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mal</defaultConnectorLabel>
        <rules>
            <name>DireccionBienPersona</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Personas.Contact.Account.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Personas.Contact.Account.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Personas.Contact.Account.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Personas.Contact.Account.ShippingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Personas.Contact.Account.ShippingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Personas.Contact.Account.ShippingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Direccion_Bien</targetReference>
            </connector>
            <label>Bien</label>
        </rules>
    </decisions>
    <decisions>
        <name>Direcciones_E</name>
        <label>¿Direcciones?</label>
        <locationX>2118</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Direccion_Mal_E</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mal</defaultConnectorLabel>
        <rules>
            <name>DireccionBienContacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Empresas.Contact.MailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Empresas.Contact.MailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Empresas.Contact.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Direccion_Bien_E</targetReference>
            </connector>
            <label>Bien</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluacion_Final</name>
        <label>Evaluación Final</label>
        <locationX>1766</locationX>
        <locationY>3782</locationY>
        <defaultConnector>
            <targetReference>Registro_Validaci_n_KO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>ExpedienteOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarTotalIdentif</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VarNumIntervinientes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarNumDirecciones</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VarNumIntervinientes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRepresentanteLegal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTitulares</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarFuncionVacia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarNumPoliticas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VarNumIntervinientes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarEmpresaOK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTieneCorreoPrincipal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registro_Validaci_n_OK</targetReference>
            </connector>
            <label>ExpedienteOK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Funcion_Interviniente</name>
        <label>Funcion Interviniente</label>
        <locationX>1546</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Num_Intervinientes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado Predeterminado</defaultConnectorLabel>
        <rules>
            <name>Titular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cuenta_Intervinientes.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Titular</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TitularSi</targetReference>
            </connector>
            <label>Titular</label>
        </rules>
        <rules>
            <name>Vacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cuenta_Intervinientes.Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sin_Funcion</targetReference>
            </connector>
            <label>Vacio</label>
        </rules>
    </decisions>
    <decisions>
        <name>GDPR_Empresa</name>
        <label>GDPR Empresa</label>
        <locationX>2118</locationX>
        <locationY>2918</locationY>
        <defaultConnector>
            <targetReference>Politicacontmal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiGDPRContacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Empresas.Contact.AceptoPoliticaPrivacidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Politicacontbien</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>GDPR_Persona</name>
        <label>GDPR Persona</label>
        <locationX>1458</locationX>
        <locationY>2918</locationY>
        <defaultConnector>
            <targetReference>Politicapersmal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiGDPRPersona</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Personas.Contact.Account.AceptoPoliticaPrivacidad__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Politicapersbien</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identificacion</name>
        <label>¿Identificación?</label>
        <locationX>1458</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Identificacion_Mal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mal</defaultConnectorLabel>
        <rules>
            <name>IdentificacionBienPersona</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Personas.Contact.Account.DocumentoIdentidad__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Personas.Contact.Account.TipoDocumento__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Identificacion_Bien</targetReference>
            </connector>
            <label>Bien</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identificacion_E</name>
        <label>¿Identificación?</label>
        <locationX>2118</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Identificacion_Mal_E</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mal</defaultConnectorLabel>
        <rules>
            <name>IdentificacionBienContacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Empresas.Contact.DocumentoIdentidad__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Empresas.Contact.TipoDocumento__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Identificacion_Bien_E</targetReference>
            </connector>
            <label>Bien</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oportunidad_Cerrada</name>
        <label>¿Oportunidad Cerrada?</label>
        <locationX>402</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Bloqueada_Aprobacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OportCerradaSi</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Oportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada ganada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Oportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada perdida</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_Port_Cerrada</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Representante_E</name>
        <label>¿Representante?</label>
        <locationX>2118</locationX>
        <locationY>3254</locationY>
        <defaultConnector>
            <targetReference>Bucle_Intervinientes_Empresas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es Representante</defaultConnectorLabel>
        <rules>
            <name>Es_Representante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bucle_Intervinientes_Empresas.Contact.RepresentanteLegal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Representante_Si_E</targetReference>
            </connector>
            <label>Es Representante</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Intervinientes</name>
        <label>¿Tiene Intervinientes?</label>
        <locationX>1194</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>TIpo_de_Cuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si tiene Intervinientes</defaultConnectorLabel>
        <rules>
            <name>Notieneintervinientes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarNumIntervinientes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarNumIntervinientes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registro_Validaci_n_KO_0</targetReference>
            </connector>
            <label>No tiene Intervinientes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TIpo_de_Cuenta</name>
        <label>TIpo de Cuenta</label>
        <locationX>1766</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Persona</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cuenta_de_Oportunidad.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valido_Correo_Principal</targetReference>
            </connector>
            <label>Persona</label>
        </rules>
        <rules>
            <name>Empresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cuenta_de_Oportunidad.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonaJuridica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datos_Empresa_Correctos</targetReference>
            </connector>
            <label>Empresa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valido_Correo_Principal</name>
        <label>Valido Correo Principal?</label>
        <locationX>1238</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Bucle_Intervinientes_Personas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mal</defaultConnectorLabel>
        <rules>
            <name>BienCorreoPrincipal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cuenta_de_Oportunidad.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CorreoPrincipal_Si</targetReference>
            </connector>
            <label>Bien</label>
        </rules>
    </decisions>
    <description>Flujo que Valida campos de los intervinientes y de la Empresa(en su caso) de la Oportunidad:
Tipo de documento y Documento Identidad
Dirección de facturación y Domicilio o Dirección de correo
Función
Política de Privacidad
Arreglo oport de persona con mas intervinientes (solo leia el primero)
Chequeo Datos Empresa (revisado)
Chequeo Correo Principal de la Cuenta del Expediente (solo para personas)</description>
    <environments>Default</environments>
    <interviewLabel>Verificación Datos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validación Datos</label>
    <loops>
        <name>Bucle_Intervinientes_Empresas</name>
        <label>Bucle Intervinientes Empresas</label>
        <locationX>1898</locationX>
        <locationY>2006</locationY>
        <collectionReference>Intervinientes_Oportunidad</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Inicializacion_E</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluacion_Final</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Intervinientes_Personas</name>
        <label>Bucle Intervinientes Personas</label>
        <locationX>1238</locationX>
        <locationY>2006</locationY>
        <collectionReference>Intervinientes_Oportunidad</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InicializacionP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluacion_Final</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Cuenta_Intervinientes</name>
        <label>Cuenta Intervinientes</label>
        <locationX>1194</locationX>
        <locationY>758</locationY>
        <collectionReference>Intervinientes_Oportunidad</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Funcion_Interviniente</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tiene_Intervinientes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Cuenta_de_Oportunidad</name>
        <label>Cuenta de Oportunidad</label>
        <locationX>1194</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intervinientes_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oportunidad.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca los intervinientes de la Oportunidad</description>
        <name>Intervinientes_Oportunidad</name>
        <label>Intervinientes Oportunidad</label>
        <locationX>1194</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cuenta_Intervinientes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRecodOportunidadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Oportunidad</name>
        <label>Oportunidad</label>
        <locationX>402</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Oportunidad_Cerrada</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>NumeroExpediente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRecodOportunidadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRecodOportunidadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Validacion_Fecha__c</queriedFields>
        <queriedFields>Validacion_Resultado__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>BloqueoAprobacion__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fields_validation_KO</name>
        <label>Update Fields validation KO</label>
        <locationX>1898</locationX>
        <locationY>4022</locationY>
        <connector>
            <targetReference>Pantalla_Error</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRecodOportunidadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Validacion_Fecha__c</field>
            <value>
                <elementReference>VarValid_Fecha</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validacion_Resultado__c</field>
            <value>
                <elementReference>VarValid_Resultado</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fields_validation_KO_0</name>
        <label>Update Fields validation KO</label>
        <locationX>622</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Pantalla_Sin_Intervinientes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRecodOportunidadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Validacion_Fecha__c</field>
            <value>
                <elementReference>VarValid_Fecha</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validacion_Resultado__c</field>
            <value>
                <elementReference>VarValid_Resultado</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fields_validation_OK</name>
        <label>Update Fields validation OK</label>
        <locationX>1634</locationX>
        <locationY>4022</locationY>
        <connector>
            <targetReference>Pantalla_OK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRecodOportunidadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Validacion_Fecha__c</field>
            <value>
                <elementReference>VarValid_Fecha</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validacion_Resultado__c</field>
            <value>
                <elementReference>VarValid_Resultado</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Pantalla_Error</name>
        <label>Pantalla Error</label>
        <locationX>1898</locationX>
        <locationY>4142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtv02_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 0, 0);&quot;&gt;Revise la información de la Cuenta Principal y de todos los intervinientes:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Tipo de documento y Documento &lt;/span&gt;Identidad&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Dirección de facturación y Domicilio o Dirección de correo&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Función&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Política de Privacidad&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Correo Primario de la Cuenta Principal&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Validar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_OK</name>
        <label>Pantalla OK</label>
        <locationX>1634</locationX>
        <locationY>4142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtv02</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(10, 186, 43); background-color: rgb(255, 255, 255);&quot;&gt;La información de los Intervinientes es correcta&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Validar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Oport_Bloqueada</name>
        <label>Pantalla Oport Bloqueada</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TxtBlq</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Oportunidad Bloqueada para Aprobación&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Validar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Port_Cerrada</name>
        <label>Pantalla Oport Cerrada</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtv01_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(11, 0, 0);&quot;&gt;La Oportunidad ya está Cerrada&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Validar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Sin_Intervinientes</name>
        <label>Pantalla Sin Intervinientes</label>
        <locationX>622</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtv01</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 0, 0);&quot;&gt;Debe introducir al menos un Interviniente con la Función &quot;Titular&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Validar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Oportunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarEmpresaOK</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarFuncionVacia</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarNumDirecciones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarNumIntervinientes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarNumPoliticas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarPolitica</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Oportunidad ID</description>
        <name>VarRecodOportunidadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRepresentanteLegal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarTieneCorreoPrincipal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarTieneDireccion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarTieneIdentif</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarTitulares</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarTotalIdentif</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarValid_Fecha</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarValid_Resultado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
