force-app/main/default/flows/Voice_Calls_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OpenAcc</name>
        <label>OpenAcc</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
        </inputParameters>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;1063b435&quot;,&quot;targetObjectId&quot;:&quot;{!newVCrecord.RelatedRecordId}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <outputParameters>
            <assignToReference>screen_popup</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_Agent</name>
        <label>Route Agent</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>AgentDefault</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>screen_popup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Teléfono</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N97U000000XZAWSA4</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Routing_Queue</name>
        <label>Routing Queue</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>screen_popup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Teléfono</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N97U000000XZAWSA4</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Asignar_valores</name>
        <label>Asignar valores</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>newVCrecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newVCrecord.OM_RecordingAccepted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDataPreviousVC.OM_RecordingAccepted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newVCrecord.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDataPreviousVC.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newVCrecord.OM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDataPreviousVC.OM_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newVCrecord.OM_Attribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDataPreviousVC.OM_Attribution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newVCrecord.OM_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDataPreviousVC.OM_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newVCrecord.OM_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDataPreviousVC.OM_Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newVCrecord.OM_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDataPreviousVC.OM_Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newVCrecord.OM_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDataPreviousVC.OM_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_VC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Abrirpesta_a</name>
        <label>Abrir pestaña?</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_abrir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDataPreviousVC.RelatedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpenAcc</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continuar</name>
        <label>Continuar?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>GetDataPreviousVC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sí</defaultConnectorLabel>
        <rules>
            <name>NO_continuar</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.PreviousCallId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_transfer</name>
        <label>Tipo transfer</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Agente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgentDefault</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent</targetReference>
            </connector>
            <label>Agente</label>
        </rules>
        <rules>
            <name>Cola</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaDefault</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Routing_Queue</targetReference>
            </connector>
            <label>Cola</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Voice Calls Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Voice Calls Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Get_Agent</name>
        <label>Get Agent</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Route_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgentDefault</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ColaDefault</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDataPreviousVC</name>
        <label>Obtener Datos Previa VC</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_valores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.PreviousCallId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_VC</name>
        <label>Update VC</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Abrirpesta_a</targetReference>
        </connector>
        <inputReference>newVCrecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Continuar</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgentDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColaDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VoiceCall</objectType>
    </variables>
    <variables>
        <name>newVCrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VoiceCall</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screen_popup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PendingServiceRoutingInteractionInfo</objectType>
    </variables>
</Flow>
